@if (Model.AllScheduledStreams.Count > 0)
{
    @foreach (var task in Model.AllScheduledStreams)
    {
        <div id="schedule-@task.Id" class="col-lg-6 col-md-12 mt-2 w-100 schedule @task.StreamSubject-schedule">
            <div class="card mb-3 border-0">
                <div class="card-body">
                    <div class="d-inline-flex">
                        <img class="rounded m-1 schedule-image" src="@task.SubjectThumbnail" />
                        <div class="text-center m-1 schedule-image schedule-border">
                            <p class="form-header schedule-month">@task.Date.ToString("MMM")</p>
                        </div>
                        <div class="text-center m-1 schedule-image schedule-border">
                            <p class="form-header schedule-day">@task.Date.Day</p>
                            <p class="form-header schedule-dow">@task.Date.ToString("ddd")</p>
                        </div>
                        <div class="m-1" style="height:75px;">
                            <p class="form-header m-0">@task.StreamTitle</p>
                            <p class="mt-1 mb-0 roboto schedule-tutor"><a class="streamWork-green" href="/Profiles/Tutor/@task.Username">@task.Name.Replace('|', ' ')</a> Tutoring @task.StreamSubject</p>
                            <p class="schedule-time">@task.TimeStart - @task.TimeStop [@task.TimeZone.ToString()]</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="schedule-none-found" class="col-9 d-none" style="height:200px">
            <p class="form-sub-header pl-3 pr-3 pt-3 pb-0" style="font-size:22px">No scheduled streams with the currrent search term.</p>
            <p class="form-sub-header pl-3 pr-3" style="font-size:14px; font-family:'Roboto', serif">Try using a different search term.</p>
        </div>
    }
}
else
{
    <div class="col-9" style="height:200px">
        <p class="form-sub-header pl-3 pr-3 pt-3 pb-0" style="font-size:22px">No scheduled streams at the moment.</p>
        <p class="form-sub-header pl-3 pr-3" style="font-size:14px; font-family:'Roboto', serif">Feel free to look at streams in the streams tab.</p>
    </div>
}
