@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model StreamWork.Pages.Student.StudentDashboard
@Html.AntiForgeryToken()
@{Layout = "Student/_LayoutStudentDashboard";}

<div class="container-fluid mr-0">
    <div class="container-fluid inner-container-fluid custom-container-padding">
        <div class="row d-lg-none d-md-none d-sm-none d-block h-100 " style="background-color:#003936">
            <p class="form-header ml-4 mb-0 mt-4 p-3" style="color:white">Student Dashboard</p>
        </div>
        <div class="card">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-7 col-md-12 col-sm-12 col-12 order-lg-1 order-md-2 order-sm-2 order-2 mb-4">
                        <div class="btn-group d-lg-block d-md-block d-sm-none d-none float-right m-4">
                            <button type="button" class="streamWork-secondary mr-2" onclick="EditProfile()">Edit Profile</button>
                            <button type="button" class="streamWork-primary" onclick="window.location.href ='/Profiles/Student/@Model.CurrentUserProfile.Username'">View Profile</button>
                        </div>
                        <div class="p-lg-4 pt-md-4 p-sm-3 p-3">
                            <img id="header-profile-picture" align="left" class="rounded" src="@Model.CurrentUserProfile.ProfilePicture" style="width:80px" />
                            <p id="header-name" class="form-header m-0" style="font-size:20px; padding-left:100px; color:@Model.CurrentUserProfile.ProfileColor">@Model.CurrentUserProfile.Name.Replace('|', ' ')</p>
                            @if (@Model.CurrentUserProfile.ProfileCaption == null || @Model.CurrentUserProfile.ProfileCaption == "")
                            {<p id="header-occupation" class="form-header m-0" style="padding-left:100px; font-size:12px; color: #9F9F9F">Occupation / Major</p>}
                            else
                            { <p id="header-occupation" class="form-header m-0 header-padding" style="font-size:12px;">@Model.CurrentUserProfile.ProfileCaption</p>}
                            <p class="mb-0 mt-2 form-sub-header" style="padding-left:100px"><span><img class="mb-1 mr-1" width="10" src="~/images/TutorAssets/TutorDashboard/TutorSince.svg" /></span>Student since @Model.CurrentUserProfile.ProfileSince.ToString("MMM, yyyy")</p>
                            @if (Model.CurrentUserProfile.Location == "" || Model.CurrentUserProfile.Location == null)
                            {<p class="form-sub-header header-padding"><span><img class="mb-1 mt-1 mr-1" width="8" src="~/images/TutorAssets/TutorDashboard/Location.svg" /></span><span id="header-location">City, State</span></p>}
                            else
                            {<p class="form-sub-header header-padding"><span><img class="mb-1 mt-1 mr-1" width="8" src="~/images/TutorAssets/TutorDashboard/Location.svg" /></span><span id="header-location">@Model.CurrentUserProfile.Location</span></p>}
                            <input id="header-first-name" type="hidden" value="@Model.CurrentUserProfile.Name.Split('|')[0]" />
                            <input id="header-last-name" type="hidden" value="@Model.CurrentUserProfile.Name.Split('|')[1]" />
                            <input id="header-timezone" type="hidden" value="@Model.CurrentUserProfile.TimeZone" />
                            <input id="header-linkedin-url" type="hidden" value="@Model.CurrentUserProfile.LinkedInUrl" />
                            <input id="header-instagram-url" type="hidden" value="@Model.CurrentUserProfile.InstagramUrl" />
                            <input id="header-facebook-url" type="hidden" value="@Model.CurrentUserProfile.FacebookUrl" />
                            <input id="header-twitter-url" type="hidden" value="@Model.CurrentUserProfile.TwitterUrl" />
                            <input id="profile-color" type="hidden" value="@Model.CurrentUserProfile.ProfileColor" />
                        </div>
                        <div class="btn-group d-lg-none d-md-none d-sm-block d-block" style="margin-left:110px;">
                            <button type="button" class="streamWork-secondary mr-2" onclick="EditProfile()">Edit Profile</button>
                            <button type="button" class="streamWork-primary" onclick="window.location.href ='/Profiles/Student/@Model.CurrentUserProfile.Username'">View Profile</button>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12 col-sm-12 col-12 order-lg-2 order-md-1 order-sm-1 order-1 banner-row-padding">
                        <div id="banner-upload" class="image-container" style="width:100%; height:100%;">
                            <img class="banner" id="preview-profile-banner" src="@Model.CurrentUserProfile.ProfileBanner" style="cursor:pointer; max-height:240px; object-fit:cover;" />
                            <div class="bottom-right mr-2" style="left:0px; bottom:0px;">
                                <div class="card rounded-0" style="width:100%; height:40px; background-color:black; opacity:0.2">
                                    <i id="add-profile-banner" class="fa fa-camera d-block ml-auto mr-auto mt-2" style="font-size:24px;color:white"></i>
                                    <input id="upload-profile-banner" style="cursor:pointer; display:none" type='file' onchange="ReadImageUrl(this, 'Banner')" accept="image/png,image/jpeg" />
                                    <script>
                                        $('#preview-profile-banner').click(function () {
                                            ReadImageSrcUrl("Banner", '@Model.DefaultBanner');
                                            OpenModal("imagecropper-modal")
                                        })
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid inner-container-fluid pt-4">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active form-header" id="profile-tab" data-toggle="tab" href="#profile" onclick="SliderProfile()">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link form-header" id="following-tab" data-toggle="tab" href="#following" onclick="SliderFollowing()">Following</a>
            </li>
        </ul>
        <div class="slider">
            <div id="slider-object" class="slider-object"></div>
        </div>
        <div id="section-topic-notification" class="alert notification-success mt-3 mb-0 ml-2 mr-2" role="alert">
            <b>Changes Saved!</b> Your information has been successfully saved.
        </div>
        <script>$('#section-topic-notification').hide()</script>

        <div class="tab-content">
            <div class="tab-pane active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="container-fluid p-3" style="width:100%">
                    <div class="row">
                        <div class="col-lg-8 col-md-12 col-sm-12 col-12 pb-3">
                            <div class="card">
                                <div class="card-title p-3">
                                    <p class="form-header d-inline-block mb-0" style="font-size:18px">Basic Information</p>
                                    <a class="d-inline-block pr-3" style="cursor:pointer; float:right; color:#004643" onclick="SaveSection(event)"><span><img class="p-1" style="width:28px" src="~/images/TutorAssets/TutorDashboard/Save.svg" /></span>Save</a>
                                    <form>
                                    </form>
                                </div>
                                <form class="pl-4 pr-4 pb-4" id="form-section-tutor">
                                    <div class="form-row" id="form-row-section">
                                        <div class="form-group col-lg-3">
                                            <label class="form-header">Academic Institution</label>
                                            <div class="card rounded-0">
                                                <div class="image-container">
                                                    <div class="top-right">
                                                        <img class="p-1" style="width:30px; cursor:pointer" src="~/images/TutorAssets/TutorDashboard/Edit.png" onclick="EditUniversityInfo()" />
                                                    </div>
                                                    <div id="university-element" class="card-body text-center p-0" style="height:135px">
                                                        @if (Model.CurrentUserProfile.College == null)
                                                        {
                                                            <div>
                                                                <input type="image" src="~/images/TutorAssets/TutorDashboard/DefaultUniversity.png" class="form-control border-0 rounded-0 d-block mr-auto ml-auto pt-3" style="width:130px; height:100%">
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            var college = Model.CurrentUserProfile.College.Split('|');
                                                            if (college.Length > 1)
                                                            {
                                                                <p id="university-abbreviation" class="form-header pt-4 pl-2 pr-2" style="font-size:20px">@college[0]</p>
                                                                <p id="university-name" class="form-header pl-2 pr-2" style="font-size:14px">@college[1]</p>
                                                            }
                                                            else
                                                            {
                                                                <p id="university-abbreviation" class="form-header pt-4 pl-2 pr-2" style="font-size:20px">@college[0]</p>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <label class="form-header pt-4">Year/Class</label>
                                            <select name="year" id="year-select" class="form-control form-control-sm rounded-0">
                                                <option>-Select-Year/Class-</option>
                                                <option>Freshman</option>
                                                <option>Sophomore</option>
                                                <option>Junior</option>
                                                <option>Senior</option>
                                                <option>Other</option>
                                            </select>
                                            @if (Model.Sections != null)
                                            {<input id="year" type="hidden" value="@Model.Sections[0].Year" />
                                                <script>if ($('#year').val() == "" || $('#year').val() == "-Select-Year/Class-") {
                                                        $('#year-select').val("-Select-Year/Class-")
                                                    }
                                                    else {
                                                        $('#year-select').val($('#year').val())
                                                    }</script>
                                            }
                                        </div>
                                        @if (Model.Sections != null && Model.Sections.Count > 1)
                                        {
                                            <div class="form-group col-lg-9 pl-lg-3 pl-0">
                                                <label class="form-header">Headline 1</label>
                                                <input name="section-title-1" id="section-title-1" class="form-control border rounded-0 form-input" placeholder="Title of section one!" value="@Model.Sections[1].SectionTitle">
                                                <label class="form-header pt-3">Description</label>
                                                <textarea name="section-description-1" id="section-description-1" class="form-control border rounded-0 form-textarea" style="height:145px !important" placeholder="Tell us what you're studying, concentrations, passions, and other extra curricular activities here!">@Model.Sections[1].SectionDescription</textarea>
                                            </div>
                                            if (Model.Sections.Count > 2)
                                            {
                                                for (int i = 2; i < Model.Sections.Count; i++)
                                                {
                                                    <div id="divider-@i" class="divider"></div>
                                                    <div id="form-section-@i" class="form-group col-lg-12">
                                                        <label id="section-label-title-@i" class="form-header d-inline-block">Headline @i</label>
                                                        <img id="remove-section-icon-@i" src="~/images/TutorAssets/TutorDashboard/Remove.svg" class="d-inline-block form-icon float-right" onclick="RemoveSection(@i)" />
                                                        <input name="section-title-@i" id="section-title-@i" class="form-control border rounded-0 form-input" placeholder="Title of section @i!" value="@Model.Sections[i].SectionTitle">
                                                        <label class="form-header pt-3">Description</label>
                                                        <textarea name="section-description-@i" id="section-description-@i" class="form-control border rounded-0 form-textarea" placeholder="Tell us what you are studying, concentrations, passions, and other extra curricular activities here!">@Model.Sections[i].SectionDescription</textarea>
                                                    </div>
                                                }
                                            }
                                            <script>sectionCount = @Model.Sections.Count - 1;</script>
                                        }
                                        else
                                        {
                                            <div class="form-group col-lg-9 pl-3">
                                                <label class="form-header">Headline 1</label>
                                                <input name="section-title-1" id="section-title-1" class="form-control border rounded-0 form-input" placeholder="Title of section one!">
                                                <label class="form-header pt-3">Description</label>
                                                <textarea name="section-description-1" id="section-description-1" class="form-control border rounded-0 form-textarea" placeholder="Tell us what you're studying, concentrations, passions, and other extra curricular activities here!"></textarea>
                                            </div>
                                            <script>sectionCount = 1</script>
                                        }
                                    </div>
                                    <div class="mt-4">
                                        <a class="d-inline-block" style="cursor:pointer; color:#004643" onclick="AddSection(event)"><span><img class="form-icon" src="~/images/TutorAssets/TutorDashboard/Add.svg" /></span>Add Section</a>
                                        <a class="d-inline-block" style="cursor:pointer; float:right; color:#004643" onclick="SaveSection(event)"><span><img class="form-icon" src="~/images/TutorAssets/TutorDashboard/Save.svg" /></span>Save</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <div class="card-title p-3 form-header" style="font-size:18px">Favorite Subjects</div>
                                @if (Model.Topics != null)
                                {
                                    <form class="pl-4 pr-4 pb-4" id="form-topic-tutor">
                                        <div class="form-row" id="form-row-topic">
                                            @for (int i = 0; i < Model.Topics.Count; i++)
                                            {
                                                var t = i + 1;
                                                @if (i > 0)
                                                {<div id="divider-topic-@t" class="divider"></div>}
                                                <div id="form-topic-@t" class="form-group col-lg-12 border p-2">
                                                    <label class="form-header">Topic</label>
                                                    @if (i > 0)
                                                    {<img id="remove-topic-icon-@t" src="~/images/TutorAssets/TutorDashboard/Remove.svg" class="d-inline-block form-icon float-right" onclick="RemoveTopic(@t)" />}
                                                     <select id="topic-@t" name="topic-@t" asp-for="@Model.Topics[i].TopicName" class="form-control form-control-sm rounded-0">
                                                        <option value="">-Select-Topic-</option>
                                                        <option>Mathematics</option>
                                                        <option>Science</option>
                                                        <option>Engineering</option>
                                                        <option>Business</option>
                                                        <option>Law</option>
                                                        <option>Art</option>
                                                        <option>Humanities</option>
                                                        <option>Others</option>
                                                    </select>
                                                    <label class="form-header pt-3">List Of Subjects</label>
                                                    <textarea id="list-of-subjects-@t" name="list-of-subjects-@t" class="form-control border rounded-0 form-textarea" placeholder="Enter list of your favorite subjects here!">@Model.Topics[i].ListOfSubjects</textarea>
                                                </div>
                                            }
                                        </div>
                                        <div class="mt-4">
                                            <a style="cursor:pointer; color:#004643" onclick="AddTopic(event)"><span><img class="form-icon" src="~/images/TutorAssets/TutorDashboard/Add.svg" /></span>Add Topic</a>
                                            <a style="cursor:pointer; float:right; color:#004643" onclick="SaveTopic(event)"><span><img class="form-icon" src="~/images/TutorAssets/TutorDashboard/Save.svg" /></span>Save</a>
                                        </div>
                                    </form>
                                    <script>topicCount = @Model.Topics.Count;</script>
                                }
                                else
                                {
                                    <form class="pl-4 pr-4 pb-4" id="form-topic-tutor">
                                        <div class="form-row" id="form-row-topic">
                                            <div class="form-group col-lg-12 border p-2">
                                                <label class="form-header">Topic</label>
                                                <select name="topic" class="form-control form-control-sm rounded-0">
                                                    <option value="">-Select-Topic-</option>
                                                    <option>Mathematics</option>
                                                    <option>Science</option>
                                                    <option>Engineering</option>
                                                    <option>Business</option>
                                                    <option>Law</option>
                                                    <option>Art</option>
                                                    <option>Humanities</option>
                                                    <option>Others</option>
                                                </select>
                                                <label class="form-header pt-3">List Of Subjects</label>
                                                <textarea name="list-of-subjects" class="form-control border rounded-0 form-textarea" placeholder="Enter list of your favorite subjects here!"></textarea>
                                            </div>
                                        </div>
                                        <a style="cursor:pointer; color:#004643" onclick="AddTopic(event)"><span><img class="form-icon" src="~/images/TutorAssets/TutorDashboard/Add.svg" /></span>Add Category</a>
                                        <a style="cursor:pointer; float:right; color:#004643" onclick="SaveTopic(event)"><span><img class="form-icon" src="~/images/TutorAssets/TutorDashboard/Save.svg" /></span>Save</a>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="following" role="tabpanel" aria-labelledby="following-tab">
                <div class="container-fluid p-3" style="width:100%;">
                    <p class="form-header mb-0" style="font-size:16px">Tutors you are following</p>
                    <div class="row">
                        @if (Model.FollowedTutors != null && Model.FollowedTutors.Count > 0)
                        {
                            @for (int i = 0; i < Model.FollowedTutors.Count; i++)
                            {
                                <div class="col-lg-6 col-md-12 p-3">
                                    <div class="card h-100">
                                        <div class="card-body">
                                            <div>
                                                <img class="rounded" src="@Model.FollowedTutors[i].Tutor.ProfilePicture" style="width:50px" align="left" />
                                                <div class="btn-group float-right">
                                                    @if (Model.FollowedTutors[i].FollowValue.Equals("Following"))
                                                    {<button id="following-@Model.FollowedTutors[i].Tutor.Id" class="streamWork-primary stream-buttons m-1" onclick="Unfollow('@Model.CurrentUserProfile.Id', '@Model.FollowedTutors[i].Tutor.Id', 'following-@Model.FollowedTutors[i].Tutor.Id')">Following</button>}
                                                    else if (Model.FollowedTutors[i].FollowValue.Equals("Follow"))
                                                    {<button id="follow-@Model.FollowedTutors[i].Tutor.Id" class="streamWork-primary stream-buttons m-1" onclick="Follow('@Model.CurrentUserProfile.Id', '@Model.FollowedTutors[i].Tutor.Id', 'follow-@Model.FollowedTutors[i].Tutor.Id')">Follow</button>}
                                                    <button class="streamWork-secondary m-1 stream-buttons" onclick="window.location.href='/Profiles/Tutor/@Model.FollowedTutors[i].Tutor.Username'">Profile</button>
                                                </div>
                                                <p class="form-header mb-0" style="font-size:16px; padding-left:60px; color:@Model.FollowedTutors[i].Tutor.ProfileColor">@Model.FollowedTutors[i].Tutor.Name.Replace('|', ' ')</p>
                                                <p class="form-sub-header mb-0" style="font-size:12px; padding-left:60px">@Model.FollowedTutors[i].Tutor.ProfileCaption</p>
                                                <p class="mb-0 mt-1 form-sub-header" style="padding-left:60px"><span><img class="mb-1 mr-1" src="~/images/TutorAssets/TutorDashboard/TutorSince.png" /></span>Tutor since Jun, 2020</p>
                                            </div>
                                        </div>
                                        <div class="card-body pt-0 mb-3">
                                            @if (@Model.FollowedTutors[i].PreviousStreams.Count > 0)
                                            {
                                                <p class="form-header mb-3 d-inline-block">Previous streams:</p>
                                            }
                                            <div class="row">
                                                @if (@Model.FollowedTutors[i].PreviousStreams.Count > 0)
                                                {
                                                    @foreach (var stream in Model.FollowedTutors[i].PreviousStreams)
                                                    {
                                                        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-3">
                                                            @await Html.PartialAsync("Partials/Stream/VideoAppearance", stream)
                                                        </div>
                                                    }
                                                }
                                                else
                                                {
                                                    <div class="col-12 text-center">
                                                        <p class="form-sub-header p-0" style="font-size:22px">No Streams</p>
                                                        <p class="form-sub-header p-0" style="font-size:14px; font-family:'Roboto', serif">This tutor hasn't streamed yet!</p>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="col-12 text-center" style="padding-top:100px;">
                                <p class="form-sub-header p-0" style="font-size:22px">Looks like you aren't following any tutors yet...</p>
                                <p class="form-sub-header p-0" style="font-size:14px; font-family:'Roboto', serif">Follow you favorite tutors and keep them in your disposal for educational help at anytime!</p>
                                <button class="streamWork-primary mt-3" onclick="window.location.href ='/Home/Browse/SW#tutors'" style="font-size:14px; font-family:'Roboto', serif">Start following tutors</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
    <nav id="sidebar">
        <img class="logo-desktop" onclick="window.location.href ='/'" src="~/images/GenericAssets/StreamWork-Full-White.svg" />
        <ul class="p-0">
            <li class="sidebar-list-item-desktop" onclick="window.location.href ='/Home/Browse/SW'"><span><img class="sidebar-icon-desktop pb-1" src="~/images/TutorAssets/TutorDashboard/WatchStream.svg" /></span>Watch Streams</li>
            <li class="sidebar-list-item-desktop" onclick="window.location.href ='/Home/Tutor'"><span><img class="sidebar-icon-desktop pb-1" src="~/images/TutorAssets/TutorDashboard/HowToStream.svg" /></span>Become a Tutor</li>
        </ul>
        <hr />
        <p class="form-header p-3" style="font-size:18px; color:white">Recommended Tutors</p>
        @await Html.PartialAsync("Partials/Profile/RelatedTutors_View", Model)
    </nav>
</div>

<div class="wrapper">
    <nav id="sidebar-tablet">
        <img class="logo-tablet" onclick="window.location.href ='/'" src="~/images/GenericAssets/StreamWork-Icon-White.svg" />
        <ul class="p-0">
            <li class="sidebar-list-item-tablet" onclick="window.location.href ='/Home/Browse/SW'"><img width="50" src="~/images/TutorAssets/TutorDashboard/WatchStream.svg" /></li>
            <li class="sidebar-list-item-tablet" onclick="window.location.href ='/Home/Tutor'"><img width="50" class="pb-1" src="~/images/TutorAssets/TutorDashboard/HowToStream.svg" /></li>
        </ul>
    </nav>
</div>

@await Html.PartialAsync("Partials/Modals/LoaderModal")
@await Html.PartialAsync("Partials/Modals/ImageTooBigModal")
@await Html.PartialAsync("Partials/Modals/ImageCropperModal")
@await Html.PartialAsync("Partials/Modals/ProfileModal")
@await Html.PartialAsync("Partials/Modals/UniversityModal")
@await Html.PartialAsync("Partials/Notification/PushNotifications")

