@page
@model StreamWork.Pages.IndexModel
@{
    Layout = "Home/_LayoutHome";
    ViewData["title"] = "Home";
}
@Html.AntiForgeryToken()

<script>
    $(window).on('popstate', function () {
        location.reload(true);
    });
</script>

<div class="container-fluid pl-sm-0 pr-sm-0 pl-md-0 pr-md-0 pl-0 pr-0 container-padding" style="overflow-x:hidden !important">
    <div class="container custom-home-container pl-sm-0 pr-sm-0 pl-md-0 pr-md-0 pl-0 pr-0">
        <div id="blob-card" class="card" style="background-image:url('/images/HomeAssets/ColorBlobs.svg'); background-repeat:no-repeat; background-size: 155vw; background-position-y:68%; background-position-x:40%;">
            <div class="card-body">
                <div style="padding-top:50px; padding-bottom:50px; padding-left:25px; padding-right:25px">
                    <p class="form-header header">End your homework <br /> procrastination TONIGHT!</p>
                    <p class="d-lg-block d-md-block d-sm-block d-none">StreamWork is an academic live-streaming platform where <br /> hundreds of students come together to tutor, learn, and chat <br /> with classmates and friends.</p>
                    <p class="d-lg-none d-md-none d-sm-none d-block">StreamWork is an academic live-streaming platform where hundreds of students come together to tutor, learn, and chat with classmates and friends.</p>
                    <img class="d-lg-none d-md-block d-sm-block d-block graphic" src="~/images/HomeAssets/Graphic.svg" />
                    <div style="position:relative">
                        <img class="d-lg-block d-md-none d-sm-none d-none" src="~/images/HomeAssets/Graphic.svg" style="position:absolute; right:14%; bottom:-70px; width:24%; min-width:280px" />
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-bottom border-top-0 mt-4">
            <div class="row">
                <div class="col-lg-2 border-bottom">
                    <img src="@Model.FeaturedTutor.ProfilePicture" class="rounded d-block mr-auto ml-auto featured-profile-image" />
                    <p class="form-header text-center mt-3 mb-0 ml-3 mr-3" style="font-size:18px">@Model.FeaturedTutor.Name.Replace('|', ' ')</p>
                    <p class="form-sub-header text-center mb-0 ml-3 mr-3" style="font-size:12px">@Model.FeaturedTutor.ProfileCaption</p>
                    <button class="streamWork-primary d-block mr-auto ml-auto mt-3 mb-2 w-75" onclick="window.location.href = '/Profiles/Tutor/@Model.FeaturedTutor.Username'">Profile</button>
                    @if (Model.FeaturedArchivedVideo == null)
                    {
                        <button class="streamWork-secondary d-block mr-auto ml-auto w-75 mb-3" onclick="window.location.href ='/Stream/Live/@Model.FeaturedTutor.Username'">Watch</button>
                    }
                    else
                    {
                        <button class="streamWork-secondary d-block mr-auto ml-auto w-75 mb-3" onclick="window.location.href = '/Stream/Archive/@Model.FeaturedArchivedVideo.StreamID/32169'">Watch</button>
                    }
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 p-lg-0 pl-md-3 pr-md-3 pt-md-3 pt-3">
                    <div class="embed-responsive embed-responsive-16by9">
                        @if (Model.FeaturedArchivedVideo == null)
                        {
                            <iframe class="border-0" src="https://c.streamhoster.com/embed/media/WxsdDM/mAe0epZsixC/@Model.FeaturedChannel.ChannelKey.Split('|')[0]"></iframe>
                        }
                        else
                        {
                            <iframe class="border-0" src="https://c.streamhoster.com/embed/media/WxsdDM/mAe0epZsixC/@Model.FeaturedArchivedVideo.StreamID"></iframe>
                        }
                    </div>
                    @if (Model.FeaturedArchivedVideo == null)
                    {
                        <div class="card border-bottom border-right border-top-0 border-left rounded-0">
                            <div class="card-body m-1 p-1">
                                <img class="p-3 featured-subject-icon" align="left" src="@Model.FeaturedChannel.StreamSubjectIcon" />
                                <div class="m-3" id="StreamInfo">
                                    <h3 class="roboto-slab streamWork-green">@Model.FeaturedChannel.StreamTitle<span></span></h3>
                                    <p class="mb-1" style="padding-left:105px">@Model.FeaturedChannel.StreamDescription</p>
                                    <p style="font-size:12px; padding-left:105px">Tutoring @Model.FeaturedChannel.StreamSubject</p>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="card border-bottom border-right-0 border-top-0 border-left-0 rounded-0">
                            <div class="card-body m-1 p-1">
                                <img class="p-3 featured-subject-icon" align="left" src="@Model.FeaturedArchivedVideo.StreamSubjectIcon" />
                                <div class="m-3" id="StreamInfo">
                                    <h3 class="roboto-slab streamWork-green">@Model.FeaturedArchivedVideo.StreamTitle<span></span></h3>
                                    <p class="mb-1" style="padding-left:105px">@Model.FeaturedArchivedVideo.StreamDescription</p>
                                    <p style="font-size:12px; padding-left:105px">Tutoring @Model.FeaturedArchivedVideo.StreamSubject</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-lg-4 pl-lg-0 pl-md-3 pl-3">
                    @if (Model.FeaturedArchivedVideo == null)
                    {
                        <iframe class="border-bottom border-right-0 border-top-0 border-left-0 w-100 h-100" style="min-height:500px" src="/Chat/Live/@Model.FeaturedTutor.Username"></iframe>
                    }
                    else
                    {
                        <iframe class="border-bottom border-right-0 border-top-0 border-left-0 w-100 h-100" style="min-height:500px" src="/Chat/Archive/@Model.FeaturedArchivedVideo.Id"></iframe>
                    }
                </div>
                <div class="col-lg-12">
                    <div id="home-carousel-lg-md" class="carousel slide d-lg-block d-md-block d-sm-none d-none" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row p-3">
                                    <div class="col-lg-3 col-md-3 mt-3 mb-3 subject-card">
                                        @await Html.PartialAsync("Partials/Stream/StreamAppearance", @Model.ArchivedVideos[0])
                                    </div>
                                    <div class="col-lg-3 col-md-3 mt-3 mb-3 subject-card">
                                        @await Html.PartialAsync("Partials/Stream/StreamAppearance", @Model.ArchivedVideos[1])
                                    </div>
                                    <div class="col-lg-3 col-md-3 mt-3 mb-3 subject-card">
                                        @await Html.PartialAsync("Partials/Stream/StreamAppearance", @Model.ArchivedVideos[2])
                                    </div>
                                    <div class="col-lg-3 col-md-3 mt-3 mb-3 subject-card">
                                        @await Html.PartialAsync("Partials/Stream/StreamAppearance", @Model.ArchivedVideos[3])
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row p-3">
                                    <div class="col-lg-3 col-md-3 mt-3 mb-3 subject-card">
                                        @await Html.PartialAsync("Partials/Stream/StreamAppearance", @Model.ArchivedVideos[4])
                                    </div>
                                    <div class="col-lg-3 col-md-3 mt-3 mb-3 subject-card">
                                        @await Html.PartialAsync("Partials/Stream/StreamAppearance", @Model.ArchivedVideos[5])
                                    </div>
                                    <div class="col-lg-3 col-md-3 mt-3 mb-3 subject-card">
                                        @await Html.PartialAsync("Partials/Stream/StreamAppearance", @Model.ArchivedVideos[6])
                                    </div>
                                    <div class="col-lg-3 col-md-3 mt-3 mb-3 subject-card">
                                        @await Html.PartialAsync("Partials/Stream/StreamAppearance", @Model.ArchivedVideos[7])
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="d-inline-block p-3" style="color:#004643" href="#home-carousel-lg-md" data-slide="prev">Previous</a>
                        <a class="d-inline-block float-right p-3" style="color:#004643" href="#home-carousel-lg-md" data-slide="next">Next</a>
                    </div>


                    <div id="home-carousel-sm-xs" class="carousel slide d-lg-none d-md-none d-sm-block d-block" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row p-3">
                                    <div class="col-sm-6 col-6 mt-3 mb-3 subject-card">
                                        @await Html.PartialAsync("Partials/Stream/StreamAppearance", @Model.ArchivedVideos[0])
                                    </div>
                                    <div class="col-sm-6 col-6 mt-3 mb-3 subject-card">
                                        @await Html.PartialAsync("Partials/Stream/StreamAppearance", @Model.ArchivedVideos[1])
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row p-3">
                                    <div class="col-sm-6 col-6 mt-3 mb-3 subject-card">
                                        @await Html.PartialAsync("Partials/Stream/StreamAppearance", @Model.ArchivedVideos[2])
                                    </div>
                                    <div class="col-sm-6 col-6 mt-3 mb-3 subject-card">
                                        @await Html.PartialAsync("Partials/Stream/StreamAppearance", @Model.ArchivedVideos[3])
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row p-3">
                                    <div class="col-sm-6 col-6 mt-3 mb-3 subject-card">
                                        @await Html.PartialAsync("Partials/Stream/StreamAppearance", @Model.ArchivedVideos[4])
                                    </div>
                                    <div class="col-sm-6 col-6 mt-3 mb-3 subject-card">
                                        @await Html.PartialAsync("Partials/Stream/StreamAppearance", @Model.ArchivedVideos[5])
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row p-3">
                                    <div class="col-sm-6 col-6 mt-3 mb-3 subject-card">
                                        @await Html.PartialAsync("Partials/Stream/StreamAppearance", @Model.ArchivedVideos[6])
                                    </div>
                                    <div class="col-sm-6 col-6 mt-3 mb-3 subject-card">
                                        @await Html.PartialAsync("Partials/Stream/StreamAppearance", @Model.ArchivedVideos[7])
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="d-inline-block p-3" style="color:#004643" href="#home-carousel-sm-xs" data-slide="prev">Previous</a>
                        <a class="d-inline-block float-right p-3" style="color:#004643" href="#home-carousel-sm-xs" data-slide="next">Next</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="blob-card-2" class="card mt-4" style="background-image:url('/images/HomeAssets/ColorBlobsInverted.svg'); background-repeat:no-repeat; background-size: 155vw; background-position-y:40%; background-position-x:45%;">
            <div class="card-body">
                <div style="padding-top:50px; padding-bottom:50px; padding-left:25px; padding-right:25px">
                    <p class="form-header header">Watch and learn <br /> from LIVE A+ tutors for FREE!</p>
                    <p>Get paid to do your homework and study with friends as a StreamTutor 🤑</p>
                </div>
            </div>
        </div>

        <div class="card border-bottom border-top-0 mt-4">
            <div class="card-body">
                <div style="padding-top:50px; padding-bottom:50px; padding-left:25px; padding-right:25px">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="header roboto-slab" style="color:black">What is StreamWork?</div>
                            <p class="mt-3">Just like a physical tutoring center, we help students understand their coursework by teaching helpful methods and reviewing similar problems. StreamWork is dedicated to academic integrity and does not tolerate cheating in any form.</p>
                            <button class="streamWork-teal mt-3 mb-3">Learn More</button>
                        </div>
                        <div class="col-lg-8">
                            <video class="w-100" controls>
                                <source src="StreamWorkVideo.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>


<div class="container-fluid mt-3 pb-5" style="background-color:#004643; height:100%; color:white">
    <div class="row pb-5 pt-4">
        <div class="col-lg-1"></div>
        <div class="col-lg-3">
            <a href="/"><img class="mt-3 mb-3" src="~/images/WhiteStreamWork.png" height="50" /></a>
            <p>StreamWork is an online tutoring center that brings the minds of students together, building upon each other’s knowledge to reach scholastic success. 📚👩🏽‍🎓✨<br /><br />Study smarter, not harder. Get schooled with StreamWork.</p>
            <a href="/Home/About"><button class="streamWork-teal">Learn More</button></a>
        </div>
        <div class="col-lg-7 mr-5">
            <div class="row">
                <div class="col-md-3">
                    <h5 class="mt-4 mb-3" style="font-weight: bold;">StreamWork</h5>
                    <a href="/Home/About" style="color: white;">About Us</a><br />
                    <a href="/Home/SignUp" style="color: white;">Sign Up</a><br />
                    <a href="/Home/Login" style="color: white;">Login</a>
                </div>
                <div class="col-md-3">
                    <h5 class="mt-4 mb-3" style="font-weight: bold;">StreamTutors</h5>
                    <a href="/Home/BecomeTutor" style="color: white;">Become a StreamTutor</a><br />
                    <a href="/Home/HowToStream" style="color: white;">How to Stream</a>
                </div>
                <div class="col-md-3">
                    <h5 class="mt-4 mb-3" style="font-weight: bold;">Education</h5>
                    <div class="row">
                        <div class="col-sm-6">
                            <a href="/Home/Search?s=Mathematics&q=" style="color: white;">Mathematics</a><br />
                            <a href="/Home/Search?s=Science&q=" style="color: white;">Science</a><br />
                            <a href="/Home/Search?s=Engineering&q=" style="color: white;">Engineering</a><br />
                            <a href="/Home/Search?s=Business&q=" style="color: white;">Business</a><br />
                        </div>
                        <div class="col-sm-6">
                            <a href="/Home/Search?s=Law&q=" style="color: white;">Law</a><br />
                            <a href="/Home/Search?s=Art&q=" style="color: white;">Art</a><br />
                            <a href="/Home/Search?s=Humanities&q=" style="color: white;">Humanities</a><br />
                            <a href="/Home/Search?s=Other&q=" style="color: white;">Other</a><br />
                        </div>
                    </div>
                    <br />
                    <a href="/Home/Search" style="color: white;">Browse</a>
                </div>
                <div class="col-md-3">
                    <h5 class="mt-4 mb-3" style="font-weight: bold;">Follow Us</h5>
                    <a href="https://www.facebook.com/streamwork.live/"><img class="mr-3" src="~/images/facebook.png" style="width: 30px; height: 30px;" /></a>
                    <a href="https://twitter.com/StreamWorkLive"><img class="mr-3" src="~/images/twitter.png" style="width: 30px; height: 30px;" /></a>
                    <a href="https://www.linkedin.com/company/streamwork"><img src="~/images/linkedin.png" style="width: 30px; height: 30px;" /></a>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
    <br />
    <div style="text-align: center;">
        Copyright © 2020 StreamWork LLC. All rights reserved.
    </div>
</div>

@await Html.PartialAsync("Partials/Modals/SignIn-SignUpModal")
@await Html.PartialAsync("Partials/Notification/PushNotifications")



<script>
    function ResizeBackground() {
        $(document).ready(function () {
            ResizeAlgo()
        })

        $(window).resize(function () {
            ResizeAlgo()
        })
    }

    function ResizeAlgo() {
        var windowWidth = 1680;
        var viewWidth = 155;

        var currentWindowWidth = $(window).width();
        var newWindowWidth = (currentWindowWidth * viewWidth) / windowWidth

        var diff = viewWidth - newWindowWidth;
        var newWW = viewWidth + (diff)

        $('#blob-card').css('background-position-x', '40%')

        if (newWW > 270) {
            $('#blob-card').css('background-position-x', '25%')
            newWW = 450;
        }
        else if (newWW > 250) {
            $('#blob-card').css('background-position-x', '25%')
            newWW = 400;
        }
        else if (newWW > 215) {
            $('#blob-card').css('background-position-x', '25%')
            newWW = 370;
        }
        else if (newWW > 200) {
            $('#blob-card').css('background-position-x', '25%')
            newWW = 310;
        }
        else if (newWW < 100) {
            newWW = 105;
        }

        $('#blob-card').css('background-size', newWW + 'vw')
        $('#blob-card-2').css('background-size', newWW + 'vw')
    }
    ResizeBackground()
</script>
