<!DOCTYPE html>
<!--
      _/_/_/  _/                                         _/       _/                  _/
   _/      _/_/_/_/ _/ _/_/  _/_/     _/_/_/ _/_/  _/   _/       _/  _/_/    _/ _/_/ _/  _/
    _/_/    _/     _/_/   _/_/_/_/ _/    _/ _/  _/  _/ _/  _/   _/ _/   _/  _/_/    _/_/
       _/  _/     _/     _/       _/    _/ _/  _/  _/  _/_/ _/_/  _/   _/  _/      _/  _/
_/_/_/      _/_/ _/       _/_/_/   _/_/_/ _/  _/  _/   _/   _/     _/_/   _/      _/    _/
-->

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
    <title>@ViewData["Title"] | StreamWork</title>
    <link rel="stylesheet" href="~/lib/bootstrap-4/css/bootstrap.css">
    <link rel="stylesheet" href="~/lib/bootstrap-4/js/bootstrap.js">
    <link rel="stylesheet" href="~/images/StreamworkLogo.png">
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:800&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/js/EditProfile.js"></script>
    <script src="~/js/SignUpLogin.js"></script>
    <script src="~/js/Search.js"></script>
    <script src="~/js/Tutor.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    <link rel="stylesheet" href="~/css/Index.css" />
    <script>!function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '825070711264915');
        fbq('track', 'PageView');</script>
    <noscript>
        <img height="1" width="1"
             src="https://www.facebook.com/tr?id=825070711264915&ev=PageView
    &noscript=1" />
    </noscript>
</head>

<body style="font-family:'Roboto'; background-color:white">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg pl-0 pr-0 navbar-light" style="background-color:white;">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" id="nav" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" style="width:15px"></span>
                </button>
            </div>

            <img class="d-lg-none d-sm-block p-0" src="~/images/streamworkPencil.png" onclick="window.location.href='/'" style="height:60px; margin-left:auto; margin-right:auto; cursor:pointer" />

            @if (@Model.UserProfile == null)
            {
                <img class="d-lg-none d-sm-block p-0" onclick="OpenLoginSignUpModal()" src="https://img.icons8.com/ios-glyphs/100/000000/person-male.png" style="margin-right:0px; height:30px; cursor:pointer; " />
            }
            else
            {
                <ul class="navbar-nav d-lg-none d-sm-block" style="float: none; margin:0px; display: block; text-align: right;">
                    <li>
                        <div class="btn-group">
                            <input type="image" onclick="OpenLogoutModal()" src=@Model.UserProfile.ProfilePicture style="width:32px; height:43px; border-radius:10px" />
                        </div>
                    </li>
                </ul>
            }

            <div class="collapse navbar-collapse" id="navbarText">
                <div class="col-lg-5">
                    <ul class="navbar-nav text-center">
                        <li class="nav-item ml-md-0 mt-1" style="font-size:17px;">
                            <a class="nav-link underline" href="/Tutor/ProfileTutor" style="color:#008080;"><b>Dashboard</b></a>
                        </li>
                        <li class="nav-item ml-md-0 ml-lg-3 mt-1" style="font-size:17px; ">
                            <a class="nav-link underline" href="/Tutor/TutorStream" style="color:#008080;"><b>Stream</b></a>
                        </li>
                        <li class="nav-item ml-md-0 ml-lg-3 mt-1" style="font-size:17px; ">
                            <a class="nav-link underline" href="/Tutor/TutorWatch" style="color:#008080;"><b>Watch</b></a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <ul class="nav navbar-nav d-lg-none text-center" style="font-size:17px;">
                        <li>
                            <a class="nav-link underline" href="/" style="color:#008080"><b>Home</b></a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav d-none d-lg-block" style="float: none; margin: 0 auto; display: block; text-align: center;">
                        <li style="display: inline-block; float: none;">
                            <img src="~/images/streamworklogo.png" height="50" onclick="window.location.href='/'" onmouseover="" style="cursor: pointer;" />
                        </li>
                    </ul>
                </div>

                <div class="col-lg-5">
                    @if (@Model.UserProfile == null)
                    {
                        <ul class="nav navbar-nav d-none d-lg-block" style="float: none; margin: 0 auto; display: block; text-align: right;">
                            <li class="nav-item mt-1" style="display: inline-block; float: none;">
                                <a class="btn ml-4" style="color:#008080; font-size:17px; background-color:whitesmoke" onclick="window.location.href='/Home/PickStudentOrTutor'"><b>Sign Up</b></a>
                            </li>
                            <li class="nav-item mt-1" style="display: inline-block; float: none;">
                                <a class="btn" style="background-color:#006565; font-size:17px; color:white" ; onclick="window.location.href='/Home/Login?dest=-Home-Profile'"><b>Login</b></a>
                            </li>
                        </ul>
                    }
                    else if (Model.UserProfile != null)
                    {
                        <ul class="navbar-nav d-none d-lg-block" style="float: none; margin: 0 auto; display: block; text-align: right;">
                            <li>
                                <div class="btn-group" style="position:relative; left:2%;">
                                    <input type="image" data-toggle="dropdown" src=@Model.UserProfile.ProfilePicture style="width:60px; height:76px; border-top-left-radius:5%; border-bottom-left-radius:5%; border-top-right-radius:0%; border-bottom-right-radius:0%" />
                                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:#006060; border:none;"></button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#" id="EditProfile" onclick="Dashboard('@Model.UserProfile.ProfileType')">Dashboard</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#" id="Settings" onclick="window.location.href='/Tutor/TutorSettings'">Settings</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#" onclick="Logout()">Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </div>

    @*Edit Modal for editing profile*@
    <div id="editModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-color: whitesmoke">
                <div class="modal-header">
                    <h5 class="modal-title" style="color:black">Edit Profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <input align="middle" type="text" class="form-control" id="ProfileCaption" maxlength="50" placeholder="Field Of Study" value="@Model.UserProfile.ProfileCaption" />
                        <br />
                        <textarea align="middle" type="text" class="form-control" id="ProfileParagraph" maxlength="189" placeholder="About Me" style="height:100px">@Model.UserProfile.ProfileParagraph</textarea>
                        <br />
                        <img id="previewProfilePic" src=@Model.UserProfile.ProfilePicture alt="your image" style="border-radius: 5%; width:115px; display:block;margin-left:auto;margin-right:auto" />
                        <br />
                        <div class="row">
                            <div class="col-3"></div>
                            <div class=" col-6">
                                <div class="upload-uploadbtn-wrapper">
                                    <button class="uploadbtn">Upload a Profile Picture</button>
                                    <input id="uploadProfilePic" style="cursor:pointer" type='file' onchange="readURL(this,'ProfilePic')" />
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn" style="background-color:black; color:white" onclick="RegisterProfilePhotoAndCaption()">Save changes</button>
                    <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    @*Add Stream for scheduling system*@
    <div id="addScheduleModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-color: black">
                <div class="modal-header">
                    <h5 class="modal-title" style="color:white">Schedule Stream</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4 class="text-center" style="color:white">Title</h4>
                    <input id="streamNameAdd" type="text" style="display:block; margin-right:auto; margin-left:auto; border-radius:5px" />
                    <br />
                    <h4 class="text-center" style="color:white">Date & Time</h4>
                    <div class="input-group date" id="datetimepickerAdd" data-target-input="nearest">
                        <input id="dateTimeAdd" type="text" class="form-control datetimepicker-input" data-target="#datetimepickerAdd" />
                        <div class="input-group-append" data-target="#datetimepickerAdd" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="uploadbtn" style="display:block; margin-left:auto; margin-right:auto; border-radius:5px; cursor:pointer" onclick="AddStreamToSchedule()">Add Stream<span><img width="20" class="mb-1 ml-1" src="~/images/Plus48.png" /></span></button>
                </div>
            </div>
        </div>
    </div>

    @*Edit Stream for scheduling system*@
    <div id="editScheduleModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-color: black">
                <div class="modal-header">
                    <h5 id="Title" class="modal-title" style="color:white">Reschedule Or Remove Stream</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4 class="text-center" style="for:white">Title</h4>
                    <input id="streamNameEdit" value="" type="text" style="display:block; margin-right:auto; margin-left:auto; border-radius:5px" />
                    <br />
                    <h4 class="text-center" style="color:white">Date & Time</h4>
                    <div class="input-group date" id="datetimepickerEdit" data-target-input="nearest">
                        <input id="dateTimeEdit" type="text" class="form-control datetimepicker-input" data-target="#datetimepickerEdit" />
                        <div class="input-group-append" data-target="#datetimepickerEdit" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="uploadbtn" style="display:block; margin-left:auto; margin-right:auto; border-radius:5px; cursor:pointer" onclick="UpdateStreamSchedule()">Reschedule Stream</button>
                    <button class="uploadbtn" style="display:block; margin-left:auto; margin-right:auto; border-radius:5px; cursor:pointer; color:red" onclick="RemoveStreamOnSchedule()">Remove Stream</button>
                </div>
            </div>
        </div>
    </div>

    @*For alert notifications*@
    <div id="notificationModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-color: #008080">
                <div class="modal-header">
                    <h5 class="modal-title text-center" style="color:white">Alert!</h5>
                </div>
                <div class="modal-body">
                    <p id="notificationBody" class=" text-center" style="color: white;">It appears you are not a verified StreamTutor! If you are a student, create a separate student account. If you are a StreamTutor, please wait to be approved.</p>
                    <img src="~/images/streamworkPencilWhite.png" style="display:block; margin-left:auto; margin-right:auto;" height="70" onclick="window.location.href='/'" />
                </div>
            </div>
        </div>
    </div>

    @*For login and signUp*@
    <div id="loginSignUpModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-color: whitesmoke">
                <div class="modal-body">
                    <a class="btn ml-4" style="color:#008080; font-size:17px; background-color:whitesmoke; display:block; margin-left:auto; margin-right:auto" onclick="window.location.href='/Home/PickStudentOrTutor'"><b>Sign Up</b></a>
                    <a class="btn " style="background-color:#006565; font-size:17px; color:white; display:block; margin-left:auto; margin-right:auto" ; onclick="window.location.href='/Home/Login?dest=-Home-Profile'"><b>Login</b></a>
                </div>
            </div>
        </div>
    </div>

    <div id="logoutModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-color: whitesmoke">
                <div class="modal-body">
                    <a class="btn ml-3" style="color:#008080; font-size:17px; background-color:whitesmoke; display:block; margin-left:auto; margin-right:auto" onclick="Dashboard('@Model.UserProfile.ProfileType')"><b>Dashboard</b></a>
                    <a class="btn ml-3" style="color:#008080; font-size:17px; background-color:whitesmoke; display:block; margin-left:auto; margin-right:auto" onclick="window.location.href='/Tutor/TutorSettings'"><b>Settings</b></a>
                    <a class="btn ml-3" style="color:#008080; font-size:17px; background-color:whitesmoke; display:block; margin-left:auto; margin-right:auto" onclick="Logout()"><b>Logout</b></a>
                </div>
            </div>
        </div>
    </div>

    <div class="page-body">
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
