@model StreamWork.ViewModels.IndexViewModel

@{Layout = "_LayoutFooter";}
@{ViewData["title"] = "Home";}

<div class="container-fluid" style="background: linear-gradient(to bottom, #008080 60%, white 0%); max-width:2400px">
    <br />
    <br />
    <p class="text-center" style="color: white "><font size="3"><b>Find helpful videos in our scholastic database.</b></font></p>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 col-md-12 col-sm-12">
            <form class="p-2" onsubmit="return search();" style="background-color: white; border-radius: 6px; box-shadow: 0px 0px 30px -10px">
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12">
                        <div>
                            <input id="searchQuery" class="form-control form-control-lg mt-2 mb-2" type="search" placeholder="🔎 Homework topic..." style="border: none;">
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 col-sm-12">
                        <select id="searchSubject" class="custom-select mt-2 mb-2" style="background-color: #006060; height:46px; color: white; font-size: 85%; font-weight: bold;">
                            <option value="Any">All Subjects</option>
                            <option value="Mathematics">Mathematics</option>
                            <option value="Science">Science</option>
                            <option value="Engineering">Engineering</option>
                            <option value="Business">Business</option>
                            <option value="Law">Law</option>
                            <option value="Art">Art</option>
                            <option value="Humanities">Humanities</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="col-lg-1 col-md-12">
                        <button class="btn btn-lg mt-2 mb-2" type="submit" style="color: white; background-color:#006060; height:46px; width:100px;margin-left:auto; margin-right:auto; display:block">
                            <div>
                                <div style="font-size: 70%; font-weight: bold;">Search</div>
                            </div>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div class="container-fluid" style="max-width:1500px">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <p style="color:white; font-size:12px; ">Streaming - Coursework - Tutoring</p>
                <div class="d-sm-none" style="font-family: 'Roboto Slab', serif; color:white; font-size: 2.5rem; font-weight: 300; line-height: 1.2;"><b>End your homework <br /> procrastination <span>TONIGHT.</span><span style='font-size:50px; margin-left:20px'>&#127881;</span></b></div>
                <div class="display-4 d-none d-sm-block" style="font-family: 'Roboto Slab', serif; color:white"><b>End your homework <br /> procrastination <span>TONIGHT.</span><span style='font-size:50px; margin-left:20px'>&#127881;</span></b></div>
                <br />
                <p style="color:white; font-size:15px">StreamWork is an educational live-streaming platform for homework tutoring <br />that allows for students to learn from their classmates.</p>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div id="StreamContainer" class="container-fluid" style=" background-color:whitesmoke; border-radius:10px; max-width:1500px">
        <div class="row">
            <div class="col-lg-2 col-md-12 mt-3 mb-3">
                <div class="card p-0" style="height:528px">
                    <input class="mt-3" type="image" data-toggle="dropdown" src=@Model.UserLogin.ProfilePicture style="width:75px; height:95px; border-radius:10px; display:block; margin-left:auto; margin-right:auto" />
                    <h6 class="text-center mt-3" style="font-family: 'Roboto Slab', serif; color:black"><b>@Model.UserLogin.Name.Replace('|', ' ')</b></h6>
                    <p class="text-center mt-3" style="font-family: 'Roboto Slab';">@Model.UserLogin.ProfileCaption</p>
                    @if (Model.IsUserFollowingThisTutor == false && Model.UserProfile != null && Model.UserProfile.ProfileType == "student")
                    {
                        <a id="FollowButton" class="btn" style="background-color:#006565; width:100px; font-size:15px; color:white; display:block; margin-left:auto; margin-right:auto" ; onclick="FollowStreamTutor('@Model.UserChannel.Id')"><b>Follow</b></a>
                        <a id="UnfollowButton" class="btn" style="background-color:#006565; width:100px; font-size:15px; color:white; display:none; margin-left:auto; margin-right:auto" ; onclick="UnfollowStreamTutor('@Model.UserChannel.Id')"><b>Unfollow</b></a>
                    }
                    else if (Model.IsUserFollowingThisTutor == true && Model.UserProfile != null && Model.UserProfile.ProfileType == "student")
                    {
                        <a id="FollowButton" class="btn" style="background-color:#006565; width:100px; font-size:15px; color:white; display:none; margin-left:auto; margin-right:auto" ; onclick="FollowStreamTutor('@Model.UserChannel.Id')"><b>Follow</b></a>
                        <a id="UnfollowButton" class="btn" style="background-color:#006565; width:100px; font-size:15px; color:white; display:block; margin-left:auto; margin-right:auto" ; onclick="UnfollowStreamTutor('@Model.UserChannel.Id')"><b>Unfollow</b></a>
                    }
                    else
                    {
                        <a class="btn" style="background-color:#006565; width:100px; font-size:15px; color:white; display:block; margin-left:auto; margin-right:auto" ; onclick="window.location.href='/Home/Login'"><b>Follow</b></a>
                    }
                    <a class="btn mt-1" style="background-color:#006565; width:100px; font-size:15px; color:white; display:block; margin-left:auto; margin-right:auto" ; onclick="window.location.href='/Home/ProfileView?Tutor=@Model.UserLogin.Username'"><b>Profile</b></a>
                    <p class="text-center m-3" style="font-family: 'Roboto Slab'; font-size:12px">@Model.UserLogin.ProfileParagraph</p>
                </div>
            </div>
            @if (Model.UserArchivedStream != null)
            {
                <div class="col-lg-6 col-md-12 mt-3 mb-3 p-0">
                    <div class="card ml-2 mr-2" style="border-radius:5%; border:none;">
                        <iframe src="//iframe.dacast.com/b/135034/f/@Model.UserArchivedStream.StreamID" style="border-top-left-radius:10px; border-top-right-radius:10px; min-width:250px; cursor:pointer" height="450" frameborder="0" scrolling="no"></iframe>
                        <div class="card-body p-0" style="background-color:white; height:75px; border:none;">
                            <div class="row">
                                <div class="col-lg-12" style="color:black;">
                                    <h5 class="text-truncate" style="font-family: 'Roboto Slab'; font-size:20px; margin-left:20px; margin-top:10px;">@Model.UserArchivedStream.StreamTitle</h5>
                                    <h6 class="text-truncate" style="font-family: 'Roboto Slab'; font-size:14px;margin-left:20px;">@Model.UserArchivedStream.StreamSubject</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 mt-3">
                    <iframe src="@Model.ChatBox" width="100%" height="528" allowtransparency="yes" allow="autoplay" frameborder="0" marginheight="0" marginwidth="0" scrolling="auto"></iframe>
                </div>
            }
            else
            {
                <div class="col-lg-6 col-md-6 mt-3 mb-3 p-0">
                    <div class="card" style="border-radius:5%; border:none;">
                        <iframe src="//iframe.dacast.com/b/135034/c/@Model.UserChannel.ChannelKey" style="border-top-left-radius:10px; border-top-right-radius:10px; min-width:250px; cursor:pointer" height="375" frameborder="0" scrolling="no"></iframe>
                        <div class="card-body p-0" style="background-color:white; height:75px; border:none;">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h5 class="text-truncate" style="font-family: 'Roboto Slab'; font-size:20px; margin-left:20px; margin-top:10px;">@Model.UserChannel.StreamTitle</h5>
                                    <h6 class="text-truncate" style="font-family: 'Roboto Slab'; font-size:14px;margin-left:20px;">@Model.UserChannel.StreamSubject</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 mt-3">
                    <iframe src="@Model.ChatBox" width="100%" height="450" allowtransparency="yes" allow="autoplay" frameborder="0" marginheight="0" marginwidth="0" scrolling="auto"></iframe>
                </div>
            }

        </div>
        <hr />
        <div class="container-fluid">
            <div class=" row">
                @foreach (var videoInfo in Model.UserArchivedStreams)
                {
                    <div class="col-lg-3 col-md-6 col-sm-6 streamsubject @videoInfo.StreamSubject">
                        <div class="card mt-3" style="border:none; background-color:transparent">
                            <input type="image" style="width:100%; height:100%; border-top-left-radius:10px; border-top-right-radius:10px; border-bottom-left-radius:0px; border-bottom-right-radius:0px; cursor:pointer" src=@videoInfo.StreamThumbnail onclick="window.location.href='../StreamViews/StreamPlaybackPage?streamId=@videoInfo.StreamID'">
                            <div class="card-body p-0" style="background-color:black; border-bottom-left-radius:10px; border-bottom-right-radius:10px;" onclick="window.location.href='/Home/ProfileView?Tutor=' + ('@videoInfo.Username');">
                                <div class="row">
                                    <div class="col-12">
                                        <input type="image" style="border-radius:5%; width:50px; margin-left:10px; margin-top:10px; margin-bottom:10px; height:60px; float:left" src=@videoInfo.ProfilePicture />
                                        <h5 class="text-truncate" style="font-family: 'Roboto'; font-size:15px; color:white; margin-left:80px; margin-top:10px;">@videoInfo.StreamTitle</h5>
                                        <h6 class="text-truncate" style="font-family: 'Roboto'; font-size:14px; color:white; margin-left:80px;">@videoInfo.Username</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <br />
        </div>
    </div>
</div>
<br />
<br />
<br />
<div class="container-fluid" style="max-width:1525px">
    <div class="card" style="background-color:#e8f4f8">
        <div class="row p-4">
            <div class="col-lg-10 col-md-12">
                <div>
                    <img class="ml-3" src="~/images/pencil.svg" height="70" onclick="window.location.href='/'" onmouseover="" style="cursor: pointer; float:left; margin-right:30px" />
                    <h3 class="mt-3 ml-3" style="font-family: 'Roboto Slab', serif; color:black"><b>Watch and learn from LIVE A+ tutors for FREE!</b></h3>
                    <p>Interested in getting schooled by your friends and classmates?</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-12 mt-4">
                <button class="uploadbtn" style="font-family:'Roboto Slab', serif; cursor: pointer;" onclick="window.location.href='/Home/PickStudentOrTutor'" onmouseover="">Sign me up! 🙋🏻‍♀️</button>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="card" style="background-color:whitesmoke">
        <div class="row p-4">
            <div class="col-lg-8 col-lg-8">
                <div class="card-title">
                    <h3 class="mt-4 ml-3" style="font-family: 'Roboto Slab', serif; color:black"><b>Topics</b></h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-6 mt-2" align="center">
                    <input class="zoom" type="image" src="~/images/MathCard.png" style="width:100%; height:100%; cursor: pointer;" ; onclick="window.location.href='/Home/Subject?s=Mathematics'" onmouseover="" />
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-6 mt-2" align="center">
                    <input class="zoom" type="image" src="~/images/ScienceCard.png" style="width:100%; height:100%; cursor: pointer;" onclick="window.location.href='/Home/Subject?s=Science'" onmouseover="" />
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-6 mt-2" align="center">
                    <input class="zoom" type="image" src="~/images/EngineeringCard.png" style="width:100%; height:100%; cursor: pointer;" onclick="window.location.href='/Home/Subject?s=Engineering'" onmouseover="" />
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-6 mt-2" align="center">
                    <input class="zoom" type="image" src="~/images/BuisnessCard.png" style="width:100%; height:100%; cursor: pointer;" onclick="window.location.href='/Home/Subject?s=Business'" onmouseover="" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-6 mt-5" align="center">
                    <input class="zoom" type="image" src="~/images/LawCard.png" style="width:100%; height:100%; cursor: pointer;" onclick="window.location.href='/Home/Subject?s=Law'" onmouseover="" />
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-6 mt-5" align="center">
                    <input class="zoom" type="image" src="~/images/ArtCard.png" style="width:100%; height:100%; cursor: pointer;" onclick="window.location.href='/Home/Subject?s=Art'" onmouseover="" />
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-6 mt-5" align="center">
                    <input class="zoom" type="image" src="~/images/HumanitiesCard.png" style="width:100%; height:100%; cursor: pointer;" onclick="window.location.href='/Home/Subject?s=Humanities'" onmouseover="" />
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-6 mt-5" align="center">
                    <input class="zoom" type="image" src="~/images/OtherCard.png" style="width:100%; height:100%; cursor: pointer;" onclick="window.location.href='/Home/Subject?s=Other'" onmouseover="" />
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="card" style="background-color:#e8f4f8">
        <div class="row p-4">
            <div class="col-lg-10 col-md-12">
                <div>
                    <img class="ml-3" src="~/images/Tutor.png" height="80" onclick="window.location.href='/'" onmouseover="" style="cursor: pointer; float:left; margin-right:30px" />
                    <h3 class="mt-3 ml-3" style="font-family: 'Roboto Slab', serif; color:black"><b>Best perks of becoming a StreamTutor?</b></h3>
                    <p>StreamTutors get our Premium Membership for FREE, and for a limited time, get paid $5 for <br /> every 15+ minute tutoring session streamed.</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-12 mt-4">
                <button class="uploadbtn" style="font-family:'Roboto Slab', serif; cursor: pointer;" onclick="window.location.href='/Tutor/ProfileTutor'" onmouseover="">Start Tutoring 📚</button>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="card" style="background-color:white; border:none">
        <div class="row p-4">
            <div class="col-lg-7">
                <img src="~/images/Splash2.png" style='height: 100%; width: 100%; object-fit: contain' />
            </div>
            <div class="col-lg-1 mt-4"></div>
            <div class="col-lg-4">
                <p style="color:black; font-size:12px; ">Streaming - Coursework - Tutoring</p>
                <div class="d-sm-none" style="font-family: 'Roboto Slab', serif; color:black; font-size: 2.5rem; font-weight: 300; line-height: 1.2;"><b>Education <br /> meets <br /> innovation.</b></div>
                <div class="display-4 d-none d-sm-block" style="font-family: 'Roboto Slab', serif; color:black"><b>Education <br /> meets <br /> innovation.</b></div>
                <br />
                <p style="color:black; font-size:15px">Streamwork is a revolutionary tool used to make learning easier, <br /> for everyone. Whether it's studying coursework problems  <br /> or looking up homework help, our StreamTutors have got you  <br /> covered. </p>
            </div>
        </div>
    </div>
    <br />
    <div class="card" style="background-color:whitesmoke">
        <br />
        <br />
        <div class="row p-4">
            <div class="col-lg-6 ml-3">
                <p style="color:black; font-size:12px; ">Streaming - Coursework - Tutoring</p>
                <div class="d-sm-none" style="font-family: 'Roboto Slab', serif; color:black; font-size: 2.5rem; font-weight: 300; line-height: 1.2;"><b>How can<br />our Streams<br />Work for you?</b></div>
                <div class="display-4 d-none d-sm-block" style="font-family: 'Roboto Slab', serif; color:black"><b>How can<br />our Streams<br />Work for you?</b></div>
                <br />
                <p style="color:black; font-size:15px">Streamwork is a revolutionary tool used to make learning easier, for everyone. Whether it's studying coursework problems or looking up homework help, our StreamTutors have got you covered. </p>
                <br />
                <button class="uploadbtn" style="font-family:'Roboto Slab', serif; cursor: pointer;" onclick="window.location.href='/Home/PickStudentOrTutor'" onmouseover="">Sign me up! 🙋🏽‍♂️</button>
            </div>
            <div class="col-lg-5" style="margin-top:35px">
                <div class="card-title">
                    <img width="100%" src="~/images/Splash.png" />
                    <button class="uploadbtn" style="width:100%; font-size:15px; border-top-left-radius:0px; border-top-right-radius:0px; cursor:pointer; background-color:orange; color:white">Earn money by doing your homework 👩🏼‍🏫</button>
                    <p class="m-3" ; style="text-align:center">Have you ever taught a classmate a simpler way to understand a homework problem? You may have the qualities of a StreamTutor! </p>
                    <button class="uploadbtn mt-3" style="width:100%; font-size:15px; cursor:pointer; background-color:#008080; color: white">Study with your A+ classmates 👨🏽‍🎓</button>
                    <p class="m-3" ; style="text-align:center"> Progress at your own pace. Attend your favorite StreamTutors live academic sessions, and tune in to the subjects that you're interested in any hour of the day.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />

<script>$(document).ready(function () {

        $("#nav").click(function () {
            $("#navbarText").slideToggle();
        });
    });</script>

<style>
    :-moz-placeholder {
        color: lightgray !important;
        opacity: 1 !important;
    }

    ::-moz-placeholder {
        color: lightgray !important;
        opacity: 1 !important;
    }

    ::-webkit-input-placeholder {
        color: lightgray !important;
    }

    :-ms-input-placeholder {
        color: lightgray !important;
    }

    ::placeholder {
        color: lightgray !important;
    }

    .subjectCard:hover {
        box-shadow: 10px 10px grey;
    }
</style>
