@model StreamWork.DataModels.UserLogin
<script src="~/js/EditProfile.js"></script>
<nav class="navbar navbar-expand-lg navbar-light text-center" style="background-color:#008080;">
        <img src="~/images/streamworkPencilWhite.png" height="70" onclick="window.location.href='/'" />
        <button class="navbar-toggler" type="button" data-toggle="collapse" id="nav" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ml-sm-4 mt-1" style="font-size:15px;">
                    <a class="nav-link" href="/" style="color:white;">Browse by Subjects</a>
                </li>
                <li class="nav-item ml-sm-5 mt-1" style="font-size:15px; ">
                    <a class="nav-link" href="/Home/BecomeTutor" style="color:white;">Become a StreamTutor</a>
                </li>
                <li class="nav-item ml-sm-5 mt-1" style="font-size:15px;">
                    <a id="button" class="nav-link" href="/Home/About" style="color:white;">About</a>
                </li>
                <li class="nav-item ml-sm-5 mt-1" style="font-size:15px;">
                    <a class="nav-link" href="/Home/HowToStream" style="color:white;">How to Stream</a>
                </li>
            </ul>
            @if(@Model == null || Model.LoggedIn == null){
                 <ul class="navbar-nav ml-auto">
                <li class="nav-item mt-1 ml-auto" style="font-size:17px;">
                    <a class="btn buttonStyleSignIn pt-2" onclick="window.location.href='Home/SignUp'" id="sign" style="color:white"><b>Sign Up</b></a>
                </li>
                <li class="nav-item mt-1 ml-auto" style="font-size:17px;">
                    <a class="btn buttonStyleLogin pt-2" onclick="window.location.href='Home/Login?dest=-Home-Profile'" style="background-color:white; color:#008080"><b>Login</b></a>
                </li>
            </ul>
            }
            else if(Model.LoggedIn == "Logged In"){
                 <div class="btn-group">
                     <img src=@Model.ProfilePicture style="width:75px; height:95px; border-radius:50%" />
                     <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #008080; border:none; margin-right:35px"></button>
                     <div class="dropdown-menu">
                         <a class="dropdown-item" href="#" id="EditProfile" onclick="Dashboard('@Model.ProfileType')">Dashboard</a>
                         <div class="dropdown-divider"></div>
                         <a class="dropdown-item" href="#" id="EditProfile" onclick="EditProfile()">Edit Profile</a>
                         <div class="dropdown-divider"></div>
                         <a class="dropdown-item" href="#" id="EditProfile" onclick="EditProfile()">Settings</a>
                         <div class="dropdown-divider"></div>
                         <a class="dropdown-item" href="#">Logout</a>
                     </div>
                 </div>

                 <div id="editModal" class="modal" tabindex="-1" role="dialog">
                     <div class="modal-dialog" role="document">
                         <div class="modal-content" style="background-color: #008080">
                             <div class="modal-header">
                                 <h5 class="modal-title" style="color:white">Edit Profile</h5>
                                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                     <span aria-hidden="true">&times;</span>
                                 </button>
                             </div>
                             <div class="modal-body">
                                 <form>
                                     <input align="middle" type="text" class="form-control" id="ProfileCaption" placeholder="Caption" value="@Model.ProfileCaption" />
                                     <br />
                                     <textarea align="middle" type="text" class="form-control" id="ProfileParagraph" placeholder="About Me" style="height:100px">@Model.ProfileParagraph</textarea>
                                     <br />
                                     <img id="previewProfilePic" src=@Model.ProfilePicture alt="your image" style="border-radius: 50%; width:115px; height:150px; display:block;margin-left:auto;margin-right:auto" />
                                     <br />
                                     <div class="upload-uploadbtn-wrapper">
                                         <button class="uploadbtn" style="margin-left:110px">Upload a Profile Picture</button>
                                         <input id="uploadProfilePic" type='file' onchange="readURL(this,'ProfilePic');" />
                                     </div>
                    
                                 </form>
                             </div>

                             <div class="modal-footer">
                                 <button type="button" style="background-color:black; color:white" class="btn" onclick="RegisterProfilePhotoAndCaption()">Save changes</button>
                                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                             </div>
                         </div>
                     </div>
                 </div>
            }
        </div>
     </nav>
<section class="jumbotron text-center" style="background-color:white">
    <div class="container">
        <img src="~/images/streamworklogo.png" width="317" height="87" />
        <p><font size="3"><i>online live-stream tutoring</i></font></p>
        <p><font size="3"><b>I'm a student and I need help with...</b></font></p>
        <div class="row">
            <div class="col-lg-3 mt-2" align="center">
                <div class="card" style="height:18rem; width:13.5rem; border:none" onclick="window.location.href='Home/Math'">
                    <img class="card-img-top" src="~/images/MathCard.png" alt="Card image" style="width:100%; height:100%">
                    <div class="card-img-overlay">


                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-2" align="center">
                <div class="card" style="height:18rem; width:13.5rem; border:none" onclick="window.location.href='Home/Science'">
                    <img class="card-img-top" src="~/images/ScienceCard.png" alt="Card image" style="width:100%; height:100%">
                    <div class="card-img-overlay">


                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-2" align="center">
                <div class="card" style="height:18rem; width:13.5rem; border:none" onclick="window.location.href='Home/Engineering'">
                    <img class="card-img-top" src="~/images/EngineeringCard.png" alt="Card image" style="width:100%; height:100%">
                    <div class="card-img-overlay">


                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-2" align="center">
                <div class="card" style="height:18rem; width:13.5rem; border:none" onclick="window.location.href='Home/Business'">
                    <img class="card-img-top" src="~/images/BuisnessCard.png" alt="Card image" style="width:100%; height:100%">
                    <div class="card-img-overlay">


                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 mt-5" align="center">
                <div class="card" style="height:18rem; width:13.5rem; border:none" onclick="window.location.href='Home/Law'">
                    <img class="card-img-top" src="~/images/LawCard.png" alt="Card image" style="width:100%; height:100%;">
                    <div class="card-img-overlay">


                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-5" align="center">
                <div class="card" style="height:18rem; width:13.5rem; border:none" onclick="window.location.href='Home/DesignArt'">
                    <img class="card-img-top" src="~/images/ArtCard.png" alt="Card image" style="width:100%; height:100%">
                    <div class="card-img-overlay">


                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-5" align="center">
                <div class="card" style="height:18rem; width:13.5rem; border:none" onclick="window.location.href='Home/Humanities'">
                    <img class="card-img-top" src="~/images/HumanitiesCard.png" alt="Card image" style="width:100%; height:100%">
                    <div class="card-img-overlay">


                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-5" align="center">
                <div class="card" style="height:18rem; width:13.5rem; border:none" onclick="window.location.href='Home/Other'">
                    <img class="card-img-top" src="~/images/OtherCard.png" alt="Card image" style="width:100%; height:100%">
                    <div class="card-img-overlay">


                    </div>
                </div>
            </div>
        </div>
        <h1><font size="3"><b>Already a StreamTutor?</b> </font></h1>
        @if(Model != null){
             <img src="~/images/StartBroadcast.png" style="width:250px" onclick="StartBroadcast('@Model.ProfileType', '@Model.LoggedIn')" />
        }
        else{
             <img src="~/images/StartBroadcast.png" style="width:250px" onclick="window.location.href='Home/Login?-Home-Profile'" />
        }
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-sm-12 col-lg-4">
                <p style="font-size:11px" class="mt-4">
                    Made for ASU undergrads, StreamWork is an online educational platform which provides interactive peer-to-peer teaching and tutoring through live-stream sessions. Our StreamTutors are committed to bringing the minds of students together, building on each other’s knowledge to reach academic success. StreamWork is dedicated to academic integrity and does not tolerate cheating in any form.
                </p>
            </div>
        </div>
    </div>
</section>

<div class="section" id="index">
    <div class="container-fluid">
        <div class="row">
            <img src="~/images/Splash.png" style="width:100%" />
        </div>
    </div>
</div>



<script>
var x = 1;
    $(document).ready(function () {

        $("#nav").click(function () {

            $("#navbarText").slideToggle();

        });
    });


    function StartBroadcast(profileType, loggedIn){
        if(profileType == "tutor" && loggedIn != null){
            window.location.href = "/Tutor/ProfileTutor"
        }
        else{
            window.location.href="Home/Login?-Home-Profile"
        }
    }
</script>
