@model StreamWork.ViewModels.ProfileTutorViewModel
@{
    ViewData["Title"] = "ProfileView";
}

<script src="~/js/EditProfile.js"></script>

<nav class="navbar sticky-top navbar-expand-lg navbar-light text-center" style="background-color:#008080">
    <img src="~/images/streamworkPencilWhite.png" height="70" onclick="window.location.href='/'" />
    <button class="navbar-toggler" type="button" data-toggle="collapse" id="nav" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ml-md-0 ml-lg-5 mt-1" style="font-size:15px;">
                <a class="nav-link" href="/" style="color:white;">Browse by Subjects</a>
            </li>
            <li class="nav-item ml-md-0 ml-lg-5 mt-1" style="font-size:15px; ">
                <a class="nav-link" href="/Home/BecomeTutor" style="color:white;">Become a StreamTutor</a>
            </li>
            <li class="nav-item ml-md-0 ml-lg-5 mt-1" style="font-size:15px;">
                <a id="button" class="nav-link" href="/Home/About" style="color:white;">About</a>
            </li>
            <li class="nav-item ml-md-0 ml-lg-5 mt-1" style="font-size:15px;">
                <a class="nav-link" href="/Home/HowToStream" style="color:white;">How to Stream</a>
            </li>
        </ul>

        @if (Model.studentOrtutorProfile != null)
        {
            <div class="btn-group mt-2" style="margin-left:65px">
                <img src=@Model.studentOrtutorProfile.ProfilePicture style="width:75px; height:95px; border-radius:50%" />
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #008080; border:none; margin-right:35px"></button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#" id="Dashboard" onclick="Dashboard('@Model.studentOrtutorProfile.ProfileType')">Dashboard</a>
                    <div class="dropdown-divider"></div>
                    @if (Model.studentOrtutorProfile.ProfileType == "tutor")
                    {
                        <a class="dropdown-item" href="#" id="EditProfile" onclick="EditProfile()">Edit Profile</a>
                        <div class="dropdown-divider"></div>
                    }
                    @if (Model.studentOrtutorProfile.ProfileType == "tutor")
                    {
                        <a class="dropdown-item" href="#" id="Settings" onclick="window.location.href='/Tutor/TutorSettings'">Settings</a>
                    }
                    else
                    {
                        <a class="dropdown-item" href="#" id="Settings" onclick="window.location.href='/Student/StudentSettings'">Settings</a>
                    }
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" onclick="Logout()">Logout</a>
                </div>
            </div>
        }
    </div>
</nav>
<div class="container-fluid mt-3">
    <div class="row">
        <nav class="col-md-2 d-none d-lg-block sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <div class="card text-center mt-5 border-0" style="color:white;">
                            <div class="card-body" style="background-color:#006565">
                                <img src=@Model.userProfile.ProfilePicture style="width: 115px; height: 150px; border-radius:50%" />
                                <h1 class="card-title mt-4" style=" font-size:1.8vw; color:lightgray"><b>@Model.userProfile.Name.Replace('|', ' ')</b></h1>
                                <p class="card-text" style="font-size:1vw; color:white">@Model.userProfile.ProfileCaption</p>
                                <p class="card-text" style="font-size:1vw; color:white">@Model.userProfile.ProfileParagraph</p>
                                <hr />

                            </div>
                        </div>
                    </li>
                </ul>
            </div>  
        </nav>
        <div class="col-2"></div>
        <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <h3 class="mt-3">Past Streams</h3>
            <div class="row">
                @foreach (var videoInfo in Model.userArchivedVideos)
                {
                     <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-6 p-3 streamsubject @videoInfo.StreamSubject">
                        <div class="card mt-3" style="border-radius:5%; border:none; min-width:15rem; max-width:20rem">
                            <input type="image" width="100%" height="200px" style="border-top-left-radius:5%; border-top-right-radius:5%; min-width:250px" src=@videoInfo.StreamThumbnail onclick="window.location.href='../StreamViews/StreamPlaybackPage?streamId=' + ('@videoInfo.StreamID')">
                             <div class="card-body p-0" style="background-color:#008080 ;border-bottom-left-radius:5%; height:75px; border-bottom-right-radius:5%; border:none; min-width:250px" onclick="window.location.href='/Home/ProfileView?Tutor=' + ('@videoInfo.Username');">
                                <div class="row">
                                    <div class="col-2 pr-2">
                                        <input type="image" style="border-radius:50%; width:50px; margin-left:10px; margin-top:10px; height:60px;" src=@videoInfo.ProfilePicture />
                                    </div>
                                    <div class="col-10" style="color:white;">
                                        <h5 class="text-truncate" style="font-family: 'Roboto'; font-size:20px; margin-left:20px; margin-top:10px;">@videoInfo.StreamTitle</h5>
                                        <h6 class="text-truncate" style="font-family: 'Roboto'; font-size:14px;margin-left:20px;">@videoInfo.Username</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div id="editModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: #008080">
            <div class="modal-header">
                <h5 class="modal-title" style="color:white">Edit Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input align="middle" type="text" class="form-control" id="ProfileCaption" placeholder="Caption" value="@Model.studentOrtutorProfile.ProfileCaption" />
                    <br />
                    <textarea align="middle" type="text" class="form-control" id="ProfileParagraph" placeholder="About Me" style="height:100px">@Model.studentOrtutorProfile.ProfileParagraph</textarea>
                    <br />
                    <img id="previewProfilePic" src=@Model.studentOrtutorProfile.ProfilePicture alt="your image" style="border-radius: 50%; width:115px; height:150px; display:block;margin-left:auto;margin-right:auto" />
                    <br />
                    <div class="upload-uploadbtn-wrapper">
                        <button class="uploadbtn" style="margin-left:110px">Upload a Profile Picture</button>
                        <input id="uploadProfilePic" type='file' onchange="readURL(this,'ProfilePic');" />
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" style="background-color:black; color:white" class="btn" onclick="RegisterProfilePhotoAndCaption()">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<style>

    .dot {
        height: 10vw;
        width: 10vw;
        background-color: white;
        border-radius: 50%;
        text-align: center;
        color: black
    }

    .sidebar {
        height: 100%;
        width: 20%;
        position: fixed;
        z-index: 1;
        top: 85px;
        left: 0;
        background-color: #006565;
        overflow-x: hidden;
        color: white;
        text-align: center;
    }
</style>


<script>$(document).ready(function () {

        $("#nav").click(function () {

            $("#navbarText").slideToggle();

        });
    });</script>