@model StreamWork.ViewModels.ProfileTutorViewModel

@{ViewData["Title"] = "ProfileView";}

<div class="container" style="max-width:2400px">
    <div class="card text-center mt-5 border-0" style="color:white;">
        <div class="card text-center border-0" style="color:white;">
            <div class="card-body" style="background:linear-gradient(to bottom, white 25%, #008080 0%);">
                <div class="col-12">
                    <img src=@Model.UserLogins[0].ProfilePicture style="width:115px; height: 150px; border-radius:5%" />
                    <br />
                    @if (Model.IsUserFollowingThisTutor == false && Model.UserProfile != null && Model.UserProfile.ProfileType == "student")
                    {
                        <button id="FollowButton" type="button" style="font-size:12px;" class="streamWorkSecondary mt-3" onclick="FollowStreamTutor('@Model.UserLogins[0].Id')">Follow</button>
                        <button id="UnfollowButton" type="button" style="font-size:12px; display:none;" class="streamWorkGrey mt-3" onclick="UnfollowStreamTutor('@Model.UserLogins[0].Id')">Unfollow</button>
                    }
                    else if (Model.IsUserFollowingThisTutor == true && Model.UserProfile != null && Model.UserProfile.ProfileType == "student")
                    {
                        <button id="FollowButton" type="button" style="font-size:12px;display:none;" class="streamWorkSecondary mt-3" onclick="FollowStreamTutor('@Model.UserLogins[0].Id')">Follow</button>
                        <button id="UnfollowButton" type="button" style="font-size:12px;" class="streamWorkGrey mt-3" onclick="UnfollowStreamTutor('@Model.UserLogins[0].Id')">Unfollow</button>
                    }
                    <h1 class="card-title mt-4" style="font-size:24px; color:whitesmoke;font-family: 'Roboto Slab', serif;"><b>@Model.UserLogins[0].Name.Replace('|', ' ')</b></h1>
                    <h6 class="card-title mt-1" style="font-size:15px; color:white;font-family: 'Roboto Slab', serif;"><b>@Model.UserLogins[0].Username</b></h6>
                    <p class="card-text" style="font-size:16px; color:white">@Model.UserLogins[0].ProfileCaption</p>
                    <p class="card-text" style="font-size:14px; color:white">@Model.UserLogins[0].ProfileParagraph</p>

                    <br />
                    @*
                        <a href="https://www.streamwork.live//StreamViews/StreamPage?streamTutorUsername=' + ('@Model.UserChannels[0].Username')">Tom is live, check out his stream here!</a>
                    *@
                </div>
            </div>
        </div>
        <div class="row text-center mx-0" style="background-color:#008080;">
            <div class="col-lg-3 px-0">
                <div class="card-body" style="background-color:#008080; border-bottom-left-radius:5px">
                    <h5 style="color:whitesmoke">Streams</h5>
                    <h4 style="color:white">@Model.NumberOfStreams</h4>
                </div>
            </div>
            <div class="col-lg-3 px-1">
                <div class="card-body" style="background-color:#008080;border-top-left-radius:0px;">
                    <a href="/Home/Donate?tutor=@Model.UserLogins[0].Username"><button class="streamWorkGold" style="font-family:'Roboto Slab', serif; cursor: pointer; display:block; margin-left:auto; margin-right:auto; height:68px; width:100%;" onmouseover="">Donate</button></a>
                </div>
            </div>
            <div class="col-lg-3 px-1">
                <div class="card-body" style="background-color:#008080;border-top-left-radius:0px;">
                    <button class="streamWorkSecondary" style="font-family:'Roboto Slab', serif; cursor: pointer; display:block; margin-left:auto; margin-right:auto; height:68px; width:100%;" onclick="showSubmitRecommendationModal();" onmouseover="">Submit Recommendation</button>
                </div>
            </div>
            <div class="col-lg-3 px-0">
                <div class="card-body" style="background-color:#008080; border-bottom-right-radius:5px ">
                    <h5 style="color:whitesmoke">Followers</h5>
                    <h4 style="color:white">@Model.NumberOfFollowers</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="container-fluid" style="max-width:2400px">
    <div class="row">
        <div class="col-12">
            <div class="card" style="background-color:whitesmoke">
                <br />
                <h2 class="text-center" ; style="color:black; font-family: 'Roboto Slab', serif;"><b>Stream Schedule</b><span> <img id="info1" src="~/images/info_icon.png" style="width: 24px; height: 24px; margin-top: -5px;" data-toggle="tooltip" data-placement="right" title="This calendar allows Stream Tutors to schedule streams in advance. Make sure to tune in at the time scheduled!" /></span></h2>
                <hr />
                <div class="row">
                    @foreach (var day in Model.Schedule)
                    {
                        <div class="col-lg-3 col-md-6 text-center mt-5 mb-5">
                            <h1 class="mt-2" style="font-size:20px; color:black"><b>@day.DayOfWeek.DayOfWeek</b></h1>
                            <h6 style="color: black">@day.DayOfWeek.ToShortDateString()</h6>
                            <div class="list-group ml-3">
                                @foreach (var task in day.StreamTaskList)
                                {
                                    <button class="list-group-item ml-3 mr-3 zoom" style="border-color:#008080" onclick="OpenEditScheduleModal('@task.Name', '@task.TimeOfDay', '@day.DayOfWeek.ToShortDateString()')"><b>@task.Name</b> <br /> @task.TimeOfDay</button>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="container-fluid" style="width:100%;">
    <h2 class="text-center" style="font-family:'Roboto Slab', serif"><b>Past Streams</b><span> <img id="info2" src="~/images/info_icon.png" style="width: 24px; height: 24px; margin-top: -5px;" data-toggle="tooltip" data-placement="right" title="Previously streamed recordings are located here" /></span></h2>
    <div class="row">
        @if (Model.UserArchivedVideos.Count != 0)
        {
            @foreach (var videoInfo in Model.UserArchivedVideos)
            {
                <div id="videoInfo-@videoInfo.Id" class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card mt-3" style="border:none;background-color:transparent">
                        <a href="../StreamViews/StreamPlaybackPage?streamId=@videoInfo.StreamID"><img style="width:100%; height:100%; border-top-left-radius:10px; border-top-right-radius:10px; border-bottom-left-radius:0px; border-bottom-right-radius:0px;" src=@videoInfo.StreamThumbnail></a>
                        <div class="card-body p-0" style="background-color:black;">
                            <div class="row">
                                <div class="col-lg-9 col-md-10 col-sm-10 col-10 col-xl-10">
                                    <input type="image" style="border-radius:5%; width:50px; margin-left:10px; margin-top:10px; margin-bottom:10px; height:60px; float:left" src=@videoInfo.ProfilePicture />
                                    <h5 class="text-truncate" style="font-family: 'Roboto'; font-size:15px; color:white; margin-left:80px; margin-top:10px;">@videoInfo.StreamTitle</h5>
                                    <h6 class="text-truncate" style="font-family: 'Roboto'; font-size:14px; color:white; margin-left:80px;">@videoInfo.Username</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <h6 class="text-center" style="color:black">No Streams Yet!</h6>
            </div>
        }
        <br />
    </div>
</div>

<div id="submitRecommendationModal" class="modal" tabindex="-2" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: whitesmoke;">
            <div class="modal-header">
                <h5 class="modal-title" style="color: black;">Submit a Recommendation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <textarea align="middle" class="form-control" id="submitRecommendationText" style="height:200px;" placeholder="Recommendation"></textarea>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="streamWorkGrey" data-dismiss="modal">Exit</button>
                @if (Model.UserProfile == null)
                {
                    <button class="streamWorkPrimary" data-dismiss="modal" onclick="submitRecommendation('Anonymous', '@Model.UserLogins[0].Username')">Submit</button>
                }
                else
                {
                    <button class="streamWorkPrimary" data-dismiss="modal" onclick="submitRecommendation('@Model.UserProfile.Username', '@Model.UserLogins[0].Username')">Submit</button>
                }
            </div>
        </div>
    </div>
</div>
<style>

    .dot {
        height: 10vw;
        width: 10vw;
        background-color: white;
        border-radius: 50%;
        text-align: center;
        color: black
    }

    .sidebar {
        height: 100%;
        width: 20%;
        position: fixed;
        z-index: 1;
        top: 85px;
        left: 0;
        background-color: #006565;
        overflow-x: hidden;
        color: white;
        text-align: center;
    }
</style>


<script>$(document).ready(function () {
        $("#nav").click(function () {
            $("#navbarText").slideToggle();
        });
    });</script>

<script>$
    ('#info1').tooltip()
    $('#info2').tooltip()
    </script>