@model StreamWork.ViewModels.SubjectViewModel

@{ViewData["Title"] = "Livestreams";}

<link rel="stylesheet" href="~/css/Subject.css" />

<div class="container-fluid" style="max-width:2400px">
      <div class="row">
          <div class="col-lg-10">
              <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h1 style="font-size:75px; font-family:'Roboto Slab', serif" class="pt-3">@Model.Subject<span style="margin-left:10px"><img width="60" src="@Model.SubjectIcon" /></span></h1>
                      <h5>TOP LIVE STREAMS</h5>
                      <hr />
                  </div>
              </div>
              <div class="row">
                  @if (Model.UserChannels.ToArray().Length > 0)
                  {
                      foreach (var videoInfo in Model.UserChannels)
                      {
                          if (videoInfo.StreamTitle != null)
                          {
                              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 streamsubject @videoInfo.StreamSubject">
                                  <div class="card mt-3" style="border-radius:5%; border:none;min-width:200px; max-width:400px">
                                      <iframe src="//iframe.dacast.com/b/135034/c/@videoInfo.ChannelKey" style="border-top-left-radius:10px; border-top-right-radius:10px; min-width:250px" height="215" frameborder="0" scrolling="no" allow="autoplay"></iframe>
                                      <div class="card-body p-0" style="background-color:black;border-bottom-left-radius:10px; height:75px; border-bottom-right-radius:10px; border:none; min-width:250px; cursor:pointer" onclick="window.location.href='../StreamViews/StreamPage?streamKeyandchatId=' + ('@videoInfo.ChannelKey') + ('|') + ('@Model.UserChannels[0].ChatId') + ('|') + ('@videoInfo.Username') + ('|') + ('@videoInfo.StreamTitle');">
                                          <div class="row">
                                              <div class="col-2 pr-2">
                                                  <input type="image" style="border-radius:5%; width:50px; margin-left:10px; margin-top:10px; height:60px;" src=@videoInfo.ProfilePicture onclick="window.location.href='/Home/ProfileView?Tutor=' + ('@videoInfo.Username');" />
                                              </div>
                                              <div class="col-10" style="color:white;">
                                                  <h5 class="text-truncate" style="font-family: 'Roboto'; font-size:20px; margin-left:20px; margin-top:10px;">@videoInfo.StreamTitle</h5>
                                                  <h6 class="text-truncate" style="font-family: 'Roboto'; font-size:14px;margin-left:20px;">@videoInfo.Username</h6>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          }
                      }
                  }
                  else
                  {

                  }
              </div>
          </div>
          <nav class="col-lg-2 d-none d-lg-block sidebar ">
              <div class="sidebar-sticky">
                  <h5 class="mt-4" style="font-size:14px; font-family:'Roboto Slab', serif; font-weight:bold; color:black">Popular StreamTutors</h5>
                  <ul class="nav flex-column">
                      <li class="nav-item">
                          <a class="nav-link active" href="#">
                              @foreach (var tutor in Model.UserLogins)
                              {
                                  <div class="card pt-3 pd-3 zoom" style="display:block;background-color:whitesmoke;border:none" onclick="window.location.href='/Home/ProfileView?Tutor=' + ('@tutor.Username');">
                                      <div class="card-title">
                                          <input type="image" style="width:55px; height:75px; border-radius: 5%" src=@tutor.ProfilePicture />
                                          <h3 class="p-1" style="font-size:14px; color:black">@tutor.Name.Replace('|', ' ')</h3>
                                      </div>
                                  </div>
                              }
                          </a>
                      </li>
                  </ul>
              </div>
          </nav>
      </div>   
</div>

<div id="editModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: #008080">

            <div class="modal-header">
                <h5 class="modal-title" style="color:white">Edit Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                @if (Model.UserProfile != null)
                {
                    <form>
                        <input align="middle" type="text" class="form-control" id="ProfileCaption" placeholder="Caption" value="@Model.UserProfile.ProfileCaption" />
                        <br />
                        <textarea align="middle" type="text" class="form-control" id="ProfileParagraph" placeholder="About Me" style="height:100px">@Model.UserProfile.ProfileParagraph</textarea>
                        <br />
                        <img id="previewProfilePic" src=@Model.UserProfile.ProfilePicture alt="your image" style="border-radius: 50%; width:115px; height:150px; display:block;margin-left:auto;margin-right:auto" />
                        <br />
                        <div class="upload-uploadbtn-wrapper">
                            <button class="uploadbtn" style="margin-left:110px">Upload a Profile Picture</button>
                            <input id="uploadProfilePic" type='file' onchange="readURL(this,'ProfilePic');" />
                        </div>

                    </form>
                }
            </div>

            <div class="modal-footer">
                <button type="button" style="background-color:black; color:white" class="btn" onclick="RegisterProfilePhotoAndCaption()">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#nav").click(function () {
            $("#navbarText").slideToggle();
        });
    });
</script>

