@model StreamWork.ViewModels.ProfileStudentViewModel
<script src="~/js/Student.js"></script>
<script src="~/js/EditProfile.js"></script>
@{
    ViewData["Title"] = "ArchivedStreams";
}
<script>
    window.onload(CheckSession())
</script>
<div style="font-family:'Roboto', sans-serif;">
    <nav class="navbar sticky-top navbar-expand-lg  text-center" style="background-color:#008080">
        <img src="~/images/streamworkPencilWhite.png" height="70" onclick="window.location.href='/'" />
        <button class="navbar-toggler" type="button" data-toggle="collapse" id="nav" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ml-sm-4 mt-1" style="font-size:15px;">
                    <a class="nav-link" href="/Student/ProfileStudent" style="color:white;">Dashboard</a>
                </li>
                <li class="nav-item ml-sm-5 mt-1" style="font-size:14px; ">
                    <a class="nav-link" href="/Student/ArchivedStreams" style="color:white;">Archived Broadcasts</a>
                </li>
                <li class="nav-item ml-sm-5 mt-1" style="font-size:15px;">
                    <a id="button" class="nav-link" href="/" style="color:white;">Home</a>
                </li>
            </ul>
        </div>
        <div class="btn-group">
            <img src=@Model.userLogins[0].ProfilePicture style="width:75px; height:95px; border-radius:50%" />
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #008080; border:none; margin-right:35px"></button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/Student/StudentSettings">Settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" onclick="Logout()">Logout</a>
            </div>
        </div>
    </nav>

     <div class="container-fluid">
        <h3 class="m-3">Archived Broadcasts</h3>
        <div class="row">
            <div class=" col-lg-10 col-md-10 col-sm-12 col-xs-12">
               <div class="row">
                 @foreach(var videoInfo in Model.userArchivedStreams){
                       <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-6 streamsubject @videoInfo.StreamSubject">
                                    <div class="card mt-3" style="border-radius:5%; border:none; min-width:200px; max-width:400px">
                                        <input type="image" width="100%" height="225px" style="border-top-left-radius:5%; border-top-right-radius:5%; min-width:250px" src=@videoInfo.StreamThumbnail onclick="window.location.href='../StreamViews/StreamPlaybackPage?streamId=' + ('@videoInfo.StreamID')">
                                        <div class="card-body" style="background-color:#008080 ;border-bottom-left-radius:5%; height:100px; border-bottom-right-radius:5%; border:none; min-width:250px" onclick="window.location.href='/Home/ProfileView?Tutor=' + ('@videoInfo.Username');">
                                            <div class="row">
                                                <div class="col-3 pr-2">
                                                    <input type="image" style="border-radius:50%; min-width:55px; width:55px; height:70px;" src=@videoInfo.ProfilePicture />
                                                </div>
                                                <div class="col-9" style="color:white;">
                                                    <h5 class="text-truncate" style="font-family: 'Roboto'; font-size:20px;">@videoInfo.StreamTitle</h5>
                                                    <h6 class="text-truncate" style="font-family: 'Roboto'; font-size:14px">@videoInfo.Username</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                  }
            </div>
            </div>
            <nav class="col-md-2 d-none d-md-block sidebar">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <input type="image" runat="server" src="~/images/MathCard.png" style="width:50%; min-width:100px" onclick="FilterStreams('Mathematics')" />
                <input type="image" src="~/images/ScienceCard.png" style="width:50%; min-width:100px" onclick="FilterStreams('Science')" />
                <input type="image" src="~/images/EngineeringCard.png" style="width:50%; min-width:100px" onclick="FilterStreams('Engineering')" />
                <input type="image" src="~/images/BuisnessCard.png" style="width:50%; min-width:100px" onclick="FilterStreams('Business')" />
                <input type="image" src="~/images/LawCard.png" style="width:50%; min-width:100px" onclick="FilterStreams('Law')" />
                <input type="image" src="~/images/ArtCard.png" style="width:50%; min-width:100px" onclick="FilterStreams('Art')" />
                <input type="image" src="~/images/HumanitiesCard.png" style="width:50%; min-width:100px" onclick="FilterStreams('Humanities')" />
                <input type="image" src="~/images/OtherCard.png" style="width:50%; min-width:100px" onclick="FilterStreams('Other')" />
            </nav>
        </div>
    </div>

    <div id="editModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-color: #008080">
                <div class="modal-header">
                    <h5 class="modal-title" style="color:white">Edit Profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <input align="middle" type="text" class="form-control" id="ProfileCaption" placeholder="Caption" value="@Model.userLogins[0].ProfileCaption" />
                        <br />
                        <textarea align="middle" type="text" class="form-control" id="ProfileParagraph" placeholder="About Me" style="height:100px">@Model.userLogins[0].ProfileParagraph</textarea>
                        <br />
                        <img id="previewProfilePic" src=@Model.userLogins[0].ProfilePicture alt="your image" style="border-radius: 50%; width:115px; height:150px; display:block;margin-left:auto;margin-right:auto" />
                        <br />
                        <div class="upload-uploadbtn-wrapper">
                            <button class="uploadbtn" style="margin-left:110px">Upload a Profile Picture</button>
                            <input id="uploadProfilePic" type='file' onchange="readURL(this,'ProfilePic');" />
                        </div>

                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" style="background-color:black; color:white" class="btn" onclick="RegisterProfilePhotoAndCaption()">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .dot {
        height: 10vw;
        width: 10vw;
        background-color: white;
        border-radius: 50%;
        text-align: center;
        color: black
    }

    .sidebar {
        height: 100%;
        width: 30%;
        position: fixed;
        z-index: 1;
        top: 0px;
        bottom: 0px;
        right: 0;
        overflow-y: scroll;
        background-color: #006565;
        overflow-x: hidden;
        color: white;
        text-align: center;
    }

    img {
        max-width: 460px;
        max-height: 250px;
    }

    img {
        max-width: 115px;
    }

    .file-custom {
        margin: 0;
        padding: 2rem 1.5rem;
        font: 1rem/1.5 "PT Sans", Arial, sans-serif;
        color: #5a5a5a;
    }

    input[type="text"]::placeholder { /* Firefox, Chrome, Opera */
        color: white;
    } 
</style>
