@model StreamWork.ViewModels.ProfileStudentViewModel

@{Layout = "_LayoutStudentNavbar";}
@{ViewData["Title"] = "ProfileStudent";}


<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="card text-center border-0" style="color:white;border-radius:10px">
                <div class="card-body" style="background:linear-gradient(to bottom, white 13%, #008080 0%); ">
                    <div class="col-12">
                        <input class="zoom" type="image" id="ProfilePictureOnPage" onclick="EditProfile()" src=@Model.StudentUserProfile.ProfilePicture style="border-radius:5%; width:115px" />
                        <h1 class="card-title mt-4" style="font-size:24px; color:whitesmoke;font-family: 'Roboto Slab', serif;"><b>@Model.StudentUserProfile.Name.Replace('|', ' ')</b></h1>
                        @if (Model.StudentUserProfile.College != null)
                        {
                            <h6 class="card-title" style="font-size:16px; color:whitesmoke;font-family: 'Roboto Slab', serif;"><b>@Model.StudentUserProfile.College</b></h6>
                        }
                        <p class="card-text" id="ProfileCaptionGreeting" style="font-size:16px; color:white">Welcome to StreamWork!</p>
                        <p class="card-text" id="ProfileParagraphGreeting" style="font-size:14px; color:white">StreamWork is very excited to have you onboard our amazing community of students. Feel free to edit your profile above, learn live from some of the best streamtutors, and end your homework procrastination tonight!</p>
                        <p class="card-text" id="ProfileCaptionOnPage" style="font-size:16px; color:white">@Model.StudentUserProfile.ProfileCaption</p>
                        <p class="card-text" id="ProfileParagraphOnPage" style="font-size:14px; color:white">@Model.StudentUserProfile.ProfileParagraph</p>
                    </div>
                </div>
            </div>


            <h5 class="text-center" style="font-family: 'Roboto Slab', serif; margin-top:30px">Live Right Now</h5>
            <div class="row">
                @if (Model.LiveChannels.Count == 0)
                {
                    <div class="col-lg-3 col-md-3 col-sm-2 col-2"></div>
                    <h4 class="text-center m-3" style="color: black;">No tutors are live at the moment</h4>
                }
                else
                {
                    @foreach (var videoInfo in Model.LiveChannels)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-12 streamsubject @videoInfo.StreamSubject">
                            <div class="card mt-3" style="border-radius:5%; border:none;">
                                <iframe src="https://c.streamhoster.com/embed/media/WxsdDM/mAe0epZsixC/@videoInfo.ChannelKey.Split('|')[0]" style="width:100%; height:200px; border-top-left-radius:10px; border-top-right-radius:10px;" frameborder="0" scrolling="no" allow="autoplay"></iframe>
                                <a class="card-body p-0" style="background-color:#008080;border-bottom-left-radius:10px; border-bottom-right-radius:10px; border:none; cursor:pointer" href="../StreamViews/StreamPage?streamTutorUsername=@videoInfo.Username">
                                    <div class="row">
                                        <div class="col-12">
                                            <input type="image" style="border-radius:5%; width:50px; margin-left:10px; margin-top:10px; margin-bottom:10px; height:60px; float:left" src=@videoInfo.ProfilePicture />
                                            <h5 class="text-truncate" style="font-family: 'Roboto'; font-size:15px; color:white; margin-left:80px; margin-top:10px;">@videoInfo.StreamTitle</h5>
                                            <h6 class="text-truncate" style="font-family: 'Roboto'; font-size:14px; color:white; margin-left:80px;">@videoInfo.Username</h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                }

            </div>

            <h5 class="text-center" style="font-family: 'Roboto Slab', serif; margin-top:30px">Previously Watched</h5>
            <div class="row">
                @if (Model.PreviouslyWatchedStreams == null)
                {
                    <div class="col-lg-3 col-md-3 col-sm-2 col-2"></div>
                    <h4 class="text-center m-1" style="color: black;">You haven't watched any streams</h4>
                }
                else
                {
                    @foreach (var videoInfo in Model.PreviouslyWatchedStreams)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-6 streamsubject @videoInfo.StreamSubject">
                            <div class="card mt-3" style="border:none; background-color:transparent">
                                <a href="../StreamViews/StreamPlaybackPage?streamId=@videoInfo.StreamID"><img style="width:100%; height:100%; border-top-left-radius:10px; border-top-right-radius:10px; border-bottom-left-radius:0px; border-bottom-right-radius:0px; cursor:pointer" src=@videoInfo.StreamThumbnail></a>
                                <a class="card-body p-0" style="background-color:black; border-bottom-left-radius:10px; border-bottom-right-radius:10px;" href="/Home/ProfileView?Tutor=@videoInfo.Username">
                                    <div class="row">
                                        <div class="col-12">
                                            <input type="image" style="border-radius:5%; width:50px; margin-left:10px; margin-top:10px; margin-bottom:10px; height:60px; float:left" src=@videoInfo.ProfilePicture />
                                            <h5 class="text-truncate" style="font-family: 'Roboto'; font-size:15px; color:white; margin-left:80px; margin-top:10px;">@videoInfo.StreamTitle</h5>
                                            <h6 class="text-truncate" style="font-family: 'Roboto'; font-size:14px; color:white; margin-left:80px;">@videoInfo.Username</h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card" style="border-radius:10px; margin-top:50px">
                <h5 class="text-center mt-3 mb-4" style="font-family: 'Roboto Slab', serif;">Followed StreamTutors</h5>
                <div class="row">
                    @if (Model.FollowedTutors == null)
                    {
                        <div class="col-lg-3 col-md-3 col-sm-2 col-2"></div>
                        <h4 class="text-center mb-3" style="color: black; font-size:14px">You aren't following any tutors</h4>
                    }
                    else
                    {
                        @for (int i = 0; i < @Model.FollowedTutors.Count; i++)
                        {
                            <div class="col-lg-12" style="">
                                <div class="card " style="display:block;background-color:white;border:none" href="/Home/ProfileView?Tutor=@Model.FollowedTutors[i].Username">
                                    <a class="card-body p-0" style="display:block; margin-left:auto; margin-right:auto">
                                        <div class="row">
                                            <a class="col-lg-7 col-md-9 col-sm-9 col-7" href="/Home/ProfileView?Tutor=@Model.FollowedTutors[i].Username">
                                                <input type="image" style="border-radius:5%; width:50px; margin-left:10px; margin-bottom:10px; height:60px; float:left" src=@Model.FollowedTutors[i].ProfilePicture />
                                                <h5 class="text-truncate" style="font-family: 'Roboto'; font-size:15px; color:black; margin-left:80px; margin-top:10px;">@Model.FollowedTutors[i].Name.Replace('|', ' ')</h5>
                                                <h6 class="text-truncate" style="font-family: 'Roboto'; font-size:14px; color:black; margin-left:80px;">@Model.FollowedTutors[i].Username</h6>
                                            </a>
                                            <div class="col-lg-5 col-md-3 col-sm-3 col-5">
                                                @if (Model.StudentUserProfile != null && Model.StudentUserProfile.ProfileType == "student")
                                                {
                                                    <input id="FollowButtonFollowed-@i" type="button" value="Follow" style="font-size:12px; display:none;" class="streamWorkSecondary" onclick="FollowStreamTutor('@Model.StudentUserProfile.Id','@Model.FollowedTutors[i].Id', @i)" />
                                                    <input id="UnfollowButtonFollowed-@i" type="button" value="Followed" style="font-size:12px;" class="streamWorkGrey" onclick="UnfollowStreamTutor('@Model.StudentUserProfile.Id', '@Model.FollowedTutors[i].Id', @i)" />
                                                }
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>

            <div class="card" style="border-radius:10px; margin-top:50px">
                <h5 class="text-center mt-3 mb-4" style="font-family: 'Roboto Slab', serif;">Popular StreamTutors</h5>
                <div class="row">
                    @for (int i = 1; i < 6; i++)
                    {
                        <div class="col-lg-12">
                            <div class="card m-1" style="display:block;background-color:white;border:none; cursor:pointer" href="/Home/ProfileView?Tutor=@Model.NonFollowedTutors[i].Username">
                                <div class="card-title" style="display:block; margin-left:auto; margin-right:auto" onclick="">
                                    <div class="row">
                                        <a class="col-lg-7 col-md-9 col-sm-9 col-7" href="/Home/ProfileView?Tutor=@Model.NonFollowedTutors[i].Username">
                                            <input type="image" style="border-radius:5%; width:50px; margin-left:10px; margin-bottom:10px; height:60px; float:left" src=@Model.NonFollowedTutors[i].ProfilePicture />
                                            <h5 class="text-truncate" style="font-family: 'Roboto'; font-size:15px; color:black; margin-left:80px; margin-top:10px;">@Model.NonFollowedTutors[i].Name.Replace('|', ' ')</h5>
                                            <h6 class="text-truncate" style="font-family: 'Roboto'; font-size:14px; color:black; margin-left:80px;">@Model.NonFollowedTutors[i].Username</h6>
                                        </a>
                                        <div class="col-lg-5 col-md-3 col-sm-3 col-5">
                                            @if (Model.StudentUserProfile != null && Model.StudentUserProfile.ProfileType == "student")
                                            {
                                                <input id="FollowButtonUnfollowed-@i" type="button" value="Follow" style="font-size:12px;" class="streamWorkSecondary" onclick="FollowStreamTutor('@Model.StudentUserProfile.Id', '@Model.NonFollowedTutors[i].Id', '@i')" />
                                                <input id="UnfollowButtonUnfollowed-@i" type="button" value="Followed" style="font-size:12px; display:none;" class="streamWorkGrey" onclick="UnfollowStreamTutor('@Model.StudentUserProfile.Id', '@Model.NonFollowedTutors[i].Id', '@i')" />
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="col-lg-12">
                        <p class="m-2 text-center">Want to become a StreamTutor?</p>
                        <button class="streamWorkPrimary mb-4" style="margin-left:auto; margin-right:auto; display:block; font-size:16px" onclick="window.open('https://www.streamwork.live/Home/BecomeTutor')">Start Streaming</button>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

@*Notify Modal Fail*@
<div class="modal fade" id="notifyModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" style="background-color:red;">
                <p id="notifyBody" class="text-center p-0 m-0" style="color:white; font-size:16px"></p>
            </div>
        </div>
    </div>
</div>

@*Notify Modal Sucess*@
<div class="modal fade" id="notifyModalSuccess" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" style="background-color:green;">
                <p id="notifyBodySuccess" class="text-center p-0 m-0" style="color:white; font-size:16px"></p>
            </div>
        </div>
    </div>
</div>
@*
    <div class="container">
        <h5 class="text-center mt-3 mb-4" style="font-family: 'Roboto Slab', serif;">Followed StreamTutors</h5>
        <div class="row">
            @foreach (var tutor in Model.FollowedTutors)
            {
                <div class="col-lg-3">
                    <div class="card pt-3 pd-3 zoom" style="display:block;background-color:whitesmoke;border:none" onclick="window.location.href='/Home/ProfileView?Tutor=' + ('@tutor.Username');"> <!--Note the archaic use of onclick here. Fix if this code is integrated.-->
                        <div class="card-title" style="display:block; margin-left:auto; margin-right:auto">
                            <input type="image" style="width:55px; height:75px; display:block; margin-left:auto; margin-right:auto; border-radius: 5%" src=@tutor.ProfilePicture />
                            <h3 class="p-1 text-center" style="font-size:14px; color:black">@tutor.Username</h3>
                        </div>
                    </div>
                </div>
            }
        </div>
        <br />
        <hr />
        <br />
    </div>
*@
<div class="container">

</div>

@if (Model.StudentUserProfile.ProfileCaption == null && Model.StudentUserProfile.ProfileParagraph == null && Model.StudentUserProfile.AcceptedTutor == false)
{
    <script>WriteStudentGreeting()</script>
}
else
{
    <script>WriteStudentProfileCaptionAndParagraph()</script>
}

<script>$("#info").tooltip();
    $("#info2").tooltip()</script>

<style>

    .underline:hover {
        text-decoration: underline;
    }
</style>

<script>$(document).ready(function () {

        $("#nav").click(function () {

            $("#navbarText").slideToggle();

        });
    });</script>