@model StreamWork.DataModels.Video

 <div class="card mt-3 border-0" style="border-bottom-left-radius:20px; border-bottom-right-radius:20px; border-top-left-radius:20px; border-top-right-radius:20px">
        <div class="card-title">
            <a href="/Stream/Archive/@Model.Username/@Model.StreamID/32169"><img style="width:100%; height:100%; border-top-left-radius:20px; border-top-right-radius:20px;" src="@Model.StreamThumbnail" asp-append-version="true"></a>
        </div>
        <div class="card-body pt-0 pb-1">
            <h5 class="text-truncate form-header mb-0">@Model.StreamTitle</h5>
            <input type="hidden" value="@Model.StreamDescription" />
            <p class="text-truncate form-header mb-1" style="font-size:12px">@Model.StartTime.ToString("MMM dd yyyy")</p>
            <p class="text-truncate form-header" style="font-size:10px">@Model.Name.Replace('|', ' ')</p>

        </div>
        <div class="card-footer" style="background-color:@Model.StreamColor; border-bottom-left-radius:20px; border-bottom-right-radius:20px;"></div>
    </div>