@page "{tutor}"
@model StreamWork.Pages.Profiles.Tutor
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@if (Model.CurrentUserProfile == null)
{
    { Layout = "Home/_LayoutHome"; }
}
else if (Model.CurrentUserProfile.ProfileType == "tutor")
{
    { Layout = "Tutor/_LayoutTutor"; }
}
else
{
    { Layout = "Student/_LayoutStudent"; }
}
@Html.AntiForgeryToken()

<div class="container custom-profile-container">
    <img class="banner" id="preview-profile-banner" src="@Model.UserProfile.ProfileBanner" />
    <div class="card border-0">
        <div class="card-body p-0">
            @await Html.PartialAsync("Partials/Profile/Header_View", Model)
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 order-lg-1 order-md-1 order-sm-2 order-2 pt-3">
            @if (Model.UserChannel.StreamTitle != null && Model.UserChannel.StreamTitle != "")
            {
                <div class="mt-2 pl-lg-0 pr-lg-0 pl-md-0 pr-md-0 pl-sm-3 pr-sm-3 pl-3 pr-3">
                    <p class="form-header" style="font-size:16px">Live</p>
                    @await Html.PartialAsync("Partials/Stream/StreamAppearance", Model.UserChannel)
                </div>

            }
            else if (Model.LatestStream != null)
            {
                <div class="mt-2 pl-lg-0 pr-lg-0 pl-md-0 pr-md-0 pl-sm-3 pr-sm-3 pl-3 pr-3">
                    <p class="form-header" style="font-size:16px">Most Recent Stream</p>
                    @await Html.PartialAsync("Partials/Stream/VideoAppearance", Model.LatestStream)
                </div>
            }
            <div class="card mt-4 ml-lg-0 mr-lg-0 ml-md-0 mr-md-0 ml-sm-3 mr-sm-3 ml-3 mr-3">
                <div class="card-title">
                    <p class="form-header pl-3 pr-3 pt-3 pb-1 mb-0" style="font-size:18px">Academic Experience</p>
                </div>
                @await Html.PartialAsync("Partials/Profile/Topics_View", Model)
            </div>
            <div class="card mt-4 ml-lg-0 mr-lg-0 ml-md-0 mr-md-0 ml-sm-3 mr-sm-3 ml-3 mr-3">
                <div class="card-title">
                    <p class="form-header pl-3 pr-3 pt-3 pb-1 mb-0" style="font-size:18px">Social Media Links</p>
                </div>
                @await Html.PartialAsync("Partials/Profile/SocialMedia_View", Model)
            </div>
        </div>
        <div class="col-lg-9 col-md-8 order-lg-2 order-md-2 order-sm-1 order-1">
            <ul class="nav nav-tabs pt-3" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active form-header" id="profile-tab" data-toggle="tab" href="#profile" onclick="SliderProfile()">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link form-header" id="schedule-tab" data-toggle="tab" href="#schedule" onclick="SliderSchedule()">Schedule</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link form-header" id="video-tab" data-toggle="tab" href="#video" onclick="SliderStream()">Videos</a>
                </li>
            </ul>

            <div class="slider">
                <div id="slider-object" class="slider-object"></div>
            </div>

            <div class="tab-content">
                <div class="tab-pane active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="container-fluid pt-3" style="width:100%">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="card">
                                    <div class="card-title p-3 mb-0">
                                        <p class="form-header d-inline-block mb-0" style="font-size:18px">Basic Information</p>
                                    </div>
                                    @await Html.PartialAsync("Partials/Profile/Sections_View", Model)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="schedule" role="tabpanel" aria-labelledby="schedule-tab">
                    <div class="container-fluid pt-3" style="width:100%">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-title p-3 mb-0 form-header" style="font-size:18px">Stream Schedule</div>
                                    @await Html.PartialAsync("Partials/Profile/Schedule_View", Model)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="video" role="tabpanel" aria-labelledby="video-tab">
                    <div class="container-fluid pt-3" style="width:100%">
                        @if (Model.UserArchivedStreams.Count > 0)
                        {
                            <div class="col-12">
                                <div class="d-flex">
                                    <form id="search-form" class="p-2 border w-100 rounded d-inline-block custom-form" onsubmit="SearchVideos(event, '@Model.UserProfile.Username')">
                                        <div class="d-flex">
                                            <input id="searchQuery" class="form-control-lg mainLoginInput mt-1" type="search" placeholder="Search Streams" style="border: none; font-size:14px;">
                                            <select id="filter" name="filter" class="form-control form-control-sm rounded m-2 h-100 float-right" onchange="SearchVideos(event, '@Model.UserProfile.Username')" style="max-width:175px;">
                                                <option value="">Filter Topic</option>
                                                <option value="Mathematics">Mathematics</option>
                                                <option value="Science">Science</option>
                                                <option value="Engineering">Engineering</option>
                                                <option value="Business">Business</option>
                                                <option value="Law">Law</option>
                                                <option value="Art">Art</option>
                                                <option value="Humanities">Humanities</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </div>
                                    </form>
                                    <button class="streamWork-search" onclick="SearchVideos(event, '@Model.UserProfile.Username')"><input class="mt-1" type="image" src="~/images/GenericAssets/Search.svg" width="30" height="40" /></button>
                                </div>
                                <p id="clear-filter" class="float-right mr-4 mb-0 pointer mt-2" style="font-size:12px; color:#004643" onclick="ClearFilter(event, '@Model.UserProfile.Username')">Clear Filter</p>
                                <script>$('#clear-filter').hide();</script>
                                <div class="divider"></div>
                            </div>
                        }

                        <div id="video-row" class="row">
                            @if (Model.UserArchivedStreams.Count != 0)
                            {
                                @foreach (var video in Model.UserArchivedStreams)
                                {
                                    <div id="video-info-@video.Id" class="col-lg-4 col-md-6 col-sm-6 col-12 mb-3 video video-subject-@video.StreamSubject">
                                        @await Html.PartialAsync("Partials/Stream/VideoAppearance", video)
                                    </div>
                                }
                            }
                            else
                            {
                                if (Model.CurrentUserProfile != null && Model.CurrentUserProfile.Id == Model.UserProfile.Id)
                                {
                                    <div class="col-12 text-center mt-5">
                                        <p class="form-sub-header p-0" style="font-size:22px">Looks like you don't have any videos yet...</p>
                                        <p class="form-sub-header p-0" style="font-size:14px; font-family:'Roboto', serif">Help other students find the help they need by putting up content!</p>
                                        <button class="streamWork-primary mt-3" onclick="window.location.href ='/Tutor/TutorStream'" style="font-size:14px; font-family:'Roboto', serif">Start your first stream</button>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-12 text-center mt-5">
                                        <p class="form-sub-header p-0" style="font-size:22px">No Streams</p>
                                        <p class="form-sub-header p-0" style="font-size:14px; font-family:'Roboto', serif">This tutor hasn't streamed yet!</p>
                                    </div>
                                }
                            }
                        </div>
                        <div id="video-none-found" class="col-12 text-center d-none">
                            <p class="form-sub-header pl-3 pr-3 pt-3 pb-0" style="font-size:22px">No videos with the currrent search term.</p>
                            <p class="form-sub-header pl-3 pr-3" style="font-size:14px; font-family:'Roboto', serif">Try using a different search term.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("Partials/Home/Footer")

@await Html.PartialAsync("Partials/Modals/ProfileModal")
@await Html.PartialAsync("Partials/Notification/PushNotifications")