@Html.AntiForgeryToken()

<div class="row">
    <nav class="navbar navbar-expand-sm border fixed-top p-1 w-100" style="background-color:white;">
        <div class="pl-3" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto d-lg-flex d-md-flex d-sm-none d-none">
                <li class="nav-item active d-block mr-auto ml-auto">
                    <a class="navItem nav-link pl-3 pr-3 pb-0" href="/Home/Tutor">Tutor</a>
                    @if (@ViewData.ContainsKey("Title") && @ViewData["Title"].Equals("Tutor"))
                    {
                        <div class="slider-object mt-0" style="width:48px"></div>
                    }
                </li>
                <li class="nav-item active d-block mr-auto ml-auto">
                    <a class="navItem nav-link pl-3 pr-3" href="/Home/Browse/SW">Browse</a>
                </li>
                <li class="nav-item active d-block mr-auto ml-auto">
                    <a class="navItem nav-link pl-3 pr-3 pb-0" href="/Home/About">About</a>
                    @if (@ViewData.ContainsKey("Title") && @ViewData["Title"].Equals("About"))
                    {
                        <div class="slider-object mt-0" style="width:48px"></div>
                    }
                </li>
            </ul>

            <ul class="navbar-nav mr-auto d-lg-none d-md-none d-sm-block d-block">
                <li class="nav-item active d-inline-block mr-auto ml-auto">
                    <img class="pointer" src="~/images/GenericAssets/StreamWork-Icon.svg" onclick="window.location.href='/'" width="42" />
                </li>
                <li class="nav-item active d-inline-block mr-auto ml-auto">
                    <img class="ml-2 mr-2 pointer" src="~/images/GenericAssets/Browse.svg" onclick="window.location.href='/Home/Browse/SW'" width="25" />
                </li>
            </ul>
        </div>

        <div class="d-lg-block d-md-block d-sm-none d-none mr-auto ml-auto nav-logo">
            <a class="navbar-brand" href="/">
                <img src="~/images/GenericAssets/StreamWork-Full.svg" width="200" onclick="window.location.href='/'" alt="">
            </a>
        </div>

        <div class="dropright mr-auto ml-2 d-lg-none d-md-none d-sm-block d-block">
            <img id="dropdownMenuButton" data-toggle="dropdown" class="dropdown-toggle pointer" src="~/images/GenericAssets/Elipses.svg" width="25" />
            <div class="dropdown-menu mt-3" style="font-size:12px; min-width:0px !important">
                <a class="dropdown-item pointer" href="/Home/Tutor">Tutor</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item pointer" id="Settings" href="/Home/About">About</a>
            </div>
        </div>

        <div>
            @if (Model.CurrentUserProfile == null)
            {
                <div class="btn-group pr-1 float-right m-2">
                    <button class="streamWork-secondary mr-2" onclick="window.location.href='/Home/SignUp'">Sign Up</button>
                    <button class="streamWork-primary" onclick="window.location.href='/Home/SignIn/SW'">Sign In</button>
                </div>
            }
            else
            {
                <div id="notification-bell-mask" class="d-inline-block">
                 @if (Model.Notifications.Count > 0 && Model.AreThereUnseenNotifications)
                 {
                   <img src="~/images/GenericAssets/NotificationBell.svg" width="65" class="pointer" onclick="OpenModal('notification-modal'); UpdateToSeen('@Model.CurrentUserProfile.Username');" />
                 }
                 else
                 {
                   <img src="~/images/GenericAssets/Bell.svg" width="65" class="pointer" onclick="OpenModal('notification-modal')" />
                 }
                </div>
                <div class="btn-group pr-3">
                    <img id="navbar-profile-picture" class="navbar-profile-picture" data-toggle="dropdown" src="@Model.CurrentUserProfile.ProfilePicture" asp-append-version="true"/>
                    <button type="button" id="dropdown" class="btn btn-info dropdown-toggle border-0 navbar-dropdown-button" data-toggle="dropdown"></button>
                    <div class="dropdown-menu dropdown-menu-right" style="font-size:12px; min-width:0px !important">
                        @if (Model.CurrentUserProfile.ProfileType == "tutor")
                        {
                            <a class="dropdown-item" href="/Tutor/TutorDashboard">Dashboard</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" id="Settings" href="/Tutor/TutorSettings">Settings</a>
                        }
                        else
                        {
                            <a class="dropdown-item pointer" href="/Student/StudentDashboard">Dashboard</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item pointer" id="Settings" href="/Student/TutorSettings">Settings</a>
                        }
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item pointer" onclick="SignOut()">Logout</a>
                    </div>
                </div>
            }
        </div>

        <script>$('#dropdown').dropdown()</script>
    </nav>
</div>

@await Html.PartialAsync("Partials/Modals/NotificationModal")

