@page "{tutor}/{id}/{commentId}"
@model StreamWork.Pages.Stream.Archive
@if (Model.CurrentUserProfile.ProfileType == "tutor")
{
    { Layout = "Tutor/_LayoutTutor"; }
}
else
{
    { Layout = "Student/_LayoutStudent"; }
}
@{ViewData["Title"] = "StreamPlaybackPage";}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{var cacheRand = new Random().Next();}
@Html.AntiForgeryToken()

<div class="container-fluid" style="overflow-y:hidden">
    <div class="row" style="margin-top:71px">
        <div class="d-flex flex-column col-lg-9 col-md-12 col-sm-12 col-12 p-0 border-right ">
            <div id="player-card" class="card border-0">
                <div id="tutor-info" class="border-top pt-3 pl-3 pr-3 pb-1" style="background-color:#FBFBFB">
                    <div class="d-lg-inline-block d-md-inline-block d-sm-none d-none float-right">
                        @if (Model.FollowValue.Equals("Following"))
                        {<button id="following-archive" class="streamWork-primary stream-buttons m-1" onclick="Unfollow('@Model.CurrentUserProfile.Id', '@Model.UserProfile.Id', 'following-archive')">Following</button>}
                        else if (Model.FollowValue.Equals("Follow"))
                        {<button id="follow-archive" class="streamWork-primary stream-buttons m-1" onclick="Follow('@Model.CurrentUserProfile.Id', '@Model.UserProfile.Id', 'follow-archive')">Follow</button>}
                        <button class="streamWork-orange stream-buttons m-1">Donate</button>
                        <button class="streamWork-secondary m-1 stream-buttons" onclick="window.location.href='/Profiles/Tutor/@Model.UserProfile.Username'">Profile</button>
                    </div>
                    <input align="left" type="image" class="rounded" style="width:40px" src=@Model.UserProfile.ProfilePicture />
                    <h3 class="mb-0 form-header" style="font-size:20px; margin-left:50px; color:@Model.UserProfile.ProfileColor">@Model.UserProfile.Name.Replace('|', ' ')</h3>
                    @if (Model.UserProfile.ProfileCaption == null || @Model.UserProfile.ProfileCaption == "")
                    {
                        <p class="form-sub-header" style="margin-left:50px; font-size:14px">Occupation / Major</p>
                    }
                    else
                    {
                        <p class="form-sub-header" style="margin-left:50px; font-size:14px">@Model.UserProfile.ProfileCaption</p>
                    }
                    <div class="d-lg-none d-md-none d-sm-inline-block d-inline-block">
                        @if (Model.FollowValue.Equals("Following"))
                        {<button id="following-archive" onclick="Unfollow('@Model.CurrentUserProfile.Id', '@Model.UserProfile.Id', 'following-archive')" class="streamWork-primary stream-buttons">Following</button>}
                        else if (Model.FollowValue.Equals("Follow"))
                        {<button id="follow-archive" onclick="Follow('@Model.CurrentUserProfile.Id', '@Model.UserProfile.Id', 'follow-archive')" class="streamWork-primary stream-buttons">Follow</button>}
                        <button class="streamWork-orange stream-buttons">Donate</button>
                        <button class="streamWork-secondary m-1 stream-buttons" onclick="window.location.href='/Profiles/Tutor/@Model.UserProfile.Username'">Profile</button>
                    </div>
                </div>
                <iframe id="player" style="width:100%;" src="https://c.streamhoster.com/embed/media/WxsdDM/mAe0epZsixC/@Model.ArchivedStream.StreamID" frameborder="0" scrolling="no" allow="autoplay" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                <div id="player-row" class="card-body p-0">
                    <img class="p-3" align="left" src="@Model.UserChannel.StreamSubjectIcon" style="width:100%; height:100%; max-width:120px; max-height:120px; cursor:pointer" onclick="window.open('https://www.streamwork.live/Home/Search?s=@Model.UserChannel.StreamSubject&q=')" />
                    <div class="m-3" id="StreamInfo">
                        <h3 style="color:black; font-family:'Roboto Slab', serif;">@Model.ArchivedStream.StreamTitle<span></span></h3>
                        <p class="mb-1" style="padding-left:105px">@Model.ArchivedStream.StreamDescription</p>
                        <p style="font-size:12px; padding-left:105px">Tutoring @Model.ArchivedStream.StreamSubject</p>
                    </div>
                </div>
                @await Html.PartialAsync("Partials/Comment/Comments", Model)
                <div class="card-body" style="background-color:#FBFBFB">
                    <p class="form-header" style="font-size:18px"><b>Other Recent Streams</b></p>
                    <div class="row">
                        @for (int i = 0; i < 8; i++)
                        {
                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
                                @await Html.PartialAsync("Partials/Stream/Stream_Appearance", Model.OtherArchivedStreams[i])
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div id="chat-card" class="d-flex flex-column fixed archived-chats col-lg-3 col-md-12 col-sm-12 col-12 p-0 border-top-0">
            <iframe class="border-0" style="width:100%; height:100%" src="/chat/ArchiveChat?chatId=@Model.UserChannel.Username&chatInfo=@Model.ChatInfo"></iframe>
        </div>
    </div>
</div>

@if (Model.NotificationRequestComment != null)
{
    <script>
        GoToComment('@Model.NotificationRequestComment.ParentId', '@Model.NotificationRequestComment.Id')
    </script>
}

<script>
    ButtonEnabledDisabled('send', '')
    ResizeStreamSection();
    ResizeStreamInfoSectionArchivedStreams()
</script>

@await Html.PartialAsync("Partials/Notification/PushNotifications")