@model StreamWork.ViewModels.Tutor.TutorDashboardViewModel

@{Layout = "_LayoutNoNavbar";}
@{ViewData["Title"] = "TutorDashboard";}
<script src="~/js/TutorJS/TutorDashboard.js" asp-append-version="true"></script>
<script src="~/js/EditProfile.js" asp-append-version="true"></script>
<script src="~/js/TutorJS/Tutor.js" asp-append-version="true"></script>
<script src="~/js/NotificationAndModals.js" asp-append-version="true"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="~/css/Tutor/TutorDashboard.css" asp-append-version="true" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/locale/af.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>

<div class="container-fluid mr-0">
    <div class="row">
        <nav class="navbar navbar-expand-lg p-1 w-100" style="background-color:white">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse pl-3" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active d-block mr-auto ml-auto">
                        <a class="navItem nav-link pl-3 pr-3" href="#">Tutor</a>
                    </li>
                    <li class="nav-item active d-block mr-auto ml-auto">
                        <a class="navItem nav-link pl-3 pr-3" href="#">Browse</a>
                    </li>
                    <li class="nav-item active d-block mr-auto ml-auto">
                        <a class="navItem nav-link pl-3 pr-3" href="#">About</a>
                    </li>
                </ul>
            </div>
            <div class="btn-group pr-3">
                <input class="navbar-profile-picture" type="image" data-toggle="dropdown" src=@Model.UserProfile.ProfilePicture />
                <button type="button" id="dropdown" class="btn btn-info dropdown-toggle border-0 navbar-dropdown-button" data-toggle="dropdown"></button>
                <div class="dropdown-menu dropdown-menu-right" style="font-size:12px; min-width:0px !important">
                    <a class="dropdown-item" href="/Tutor/TutorDashboard">Dashboard</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" id="Settings" href="/Tutor/TutorSettings">Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" onclick="Logout()">Logout</a>
                </div>
            </div>
            <script>$('#dropdown').dropdown()</script>
        </nav>
    </div>

    <div class="row d-lg-none d-md-none d-sm-none d-block h-100 " style="background-color:#003936">
        <p class="form-header ml-4 mb-0 p-2" style="color:white">Tutor Dashboard</p>
    </div>

    <div class="container-fluid inner-container-fluid pt-lg-4 pt-md-4 pt-sm-4 pt-0">
        <div class="card border-0">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12 order-lg-1 order-md-2 order-sm-2 order-2">
                        <div class="p-lg-4 pt-md-4 p-sm-3 p-3">
                            <div class="btn-group d-lg-block d-md-block d-sm-none d-none float-right">
                                <button type="button" class="streamWork-secondary mr-2" style="font-size:8px; height:35px;" onclick="OpenModal()">View Profile</button>
                                <button type="button" class="streamWork-primary" style="font-size:8px; height:35px;" onclick="EditProfile()">Edit Profile</button>
                            </div>
                            <input id="header-profile-picture" align="left" class="rounded" type="image" src="@Model.UserProfile.ProfilePicture" style="width:70px" />
                            <p id="header-name" class="form-header m-0" style="font-size:20px; padding-left:90px">@Model.UserProfile.Name.Replace('|', ' ')</p>
                            <p id="header-occupation" class="form-header m-0" style="padding-left:90px; font-size:10px; color: #9F9F9F">@Model.UserProfile.ProfileCaption</p>
                            <p class="mb-0 mt-2 form-sub-header"><span><img class="mb-1 mr-1" src="~/images/TutorAssets/TutorDashboard/TutorSince.png" /></span>Tutor since Jun, 2020</p>
                            <p class="form-sub-header"><span><img class="mb-1 mr-1" src="~/images/TutorAssets/TutorDashboard/Location.png" /></span><span id="header-location">@Model.UserProfile.Location</span></p>
                            <input id="header-first-name" type="hidden" value="@Model.UserProfile.Name.Split('|')[0]" />
                            <input id="header-last-name" type="hidden" value="@Model.UserProfile.Name.Split('|')[1]" />
                            <input id="header-timezone" type="hidden" value="@Model.UserProfile.TimeZone" />
                            <input id="header-linkedin-url" type="hidden" value="@Model.UserProfile.LinkedInUrl" />
                        </div>

                        <div class="btn-group d-lg-none d-md-none d-sm-block d-block pl-3 pr-3">
                            <button type="button" class="streamWork-secondary mr-2" style="font-size:8px; height:35px;" onclick="OpenModal()">View Profile</button>
                            <button type="button" class="streamWork-primary" style="font-size:8px; height:35px;" onclick="EditProfile()">Edit Profile</button>
                        </div>

                        <div class="p-lg-4 pt-md-4 p-sm-3 p-3">
                            <div class="d-inline-block mr-2">
                                <div class="card pr-2" style="background-color:#004643; color:white">
                                    <h6 class="m-0 pt-2 pb-2" style="font-size:9px; word-spacing:8px"><span style="background-color:#003936; font-size:14px" class="p-2 rounded">@Model.NumberOfStreams</span> Streams</h6>
                                </div>
                            </div>
                            <div class="d-inline-block mr-2">
                                <div class="card pr-2" style="background-color:#FFC627; color:white">
                                    <h6 class="m-0 pt-2 pb-2" style="font-size:9px; word-spacing:8px"><span style="background-color:#E6B62F; font-size:14px" class="p-2 rounded">@Model.NumberOfFollowers</span> Followers</h6>
                                </div>
                            </div>
                            <div class="d-inline-block mr-2">
                                <div class="card pr-2" style="background-color:#7266BA; color:white">
                                    <h6 class="m-0 pt-2 pb-2" style="font-size:9px; word-spacing:8px"><span style="background-color:#5C50A7; font-size:14px" class="p-2 rounded">@{Random rand = new Random(1247635134); int mult = rand.Next(10, 16); int views = Model.NumberOfViews * mult + rand.Next(mult);}@views</span> Views</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12 order-lg-2 order-md-1 order-sm-1 order-1">
                        <div class="image-container" style="width:100%; height:100%;">
                            <img id="previewProfileBanner" src="@Model.UserProfile.ProfileBanner" style="width:100%; height:100%" />
                            <div class="bottom-right mr-2" style="left:0px; bottom:0px;">
                                <div class="card rounded-0" style="width:100%; height:40px; background-color:black; opacity:0.2">
                                    <i id="addProfileBannerIcon" class="fa fa-camera d-block ml-auto mr-auto mt-2" style="font-size:24px;color:white"></i>
                                    <input name="uploadProfileBanner" id="uploadProfileBanner" style="cursor:pointer; display:none" type='file' onchange="SaveProfileBanner(this)" />
                                    <script>$('#addProfileBannerIcon').click(function () {
                                            $('#uploadProfileBanner').click();
                                        })</script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid inner-container-fluid pt-4">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active form-header" id="profile-tab" data-toggle="tab" href="#profile" onclick="SliderProfile()">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link form-header" id="schedule-tab" data-toggle="tab" href="#schedule" onclick="SliderSchedule()">Schedule</a>
            </li>
            <li class="nav-item">
                <a class="nav-link form-header" id="stream-tab" data-toggle="tab" href="#stream" onclick="SliderStream()">Streams</a>
            </li>
            <li class="nav-item">
                <a class="nav-link form-header" id="comment-tab" data-toggle="tab" href="#comment" onclick="SliderComment()">Comments</a>
            </li>
        </ul>

        <div class="slider">
            <div id="slider-object" class="slider-object"></div>
        </div>

        <div id="sectionTopicNotification" class="alert notification-success mt-3 mb-0 ml-2 mr-2" role="alert">
            <b>Changes Saved!</b> Your information has been successfully saved.
            <div class="close ml-auto" onclick="$('#sectionTopicNotification').hide()">&times;</div>
        </div>
        <script>$('#sectionTopicNotification').hide()</script>

        <div id="schedule-timezone-notification" class="alert notification-info mt-3 mb-0 ml-2 mr-2" role="alert">
            <b>Enter Timezone!</b> You must enter your timezone in "Edit Profile" to use the scheduling feature.
            <div class="close ml-auto" onclick="$('#sectionTopicNotification').hide()">&times;</div>
        </div>
        <script>$('#schedule-timezone-notification').hide()</script>

        <div class="tab-content">
            <div class="tab-pane active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="container-fluid pt-3" style="width:100%">
                    <div class="row">
                        <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <div class="card-title p-3">
                                    <p class="form-header d-inline-block" style="font-size:18px">Basic Information</p>
                                    <a class="d-inline-block pr-3" style="cursor:pointer; float:right; color:#004643" onclick="SaveSection(event)"><span><img class="p-1" style="width:28px" src="~/images/TutorAssets/TutorDashboard/Save.svg" /></span>Save</a>
                                </div>
                                <form class="pl-4 pr-4 pb-4" id="form-section-tutor">
                                    <div class="form-row" id="form-row-section">
                                        <div class="form-group col-lg-3">
                                            <label class="form-header">University</label>
                                            <div class="card rounded-0">
                                                <div class="image-container">
                                                    <div class="top-right">
                                                        <img class="p-1" style="width:30px; cursor:pointer" src="~/images/TutorAssets/TutorDashboard/Edit.png" onclick="OpenModal('universityModal')" />
                                                    </div>
                                                    <div id="universityElement" class="card-body text-center p-0" style="height:135px">
                                                        @if (Model.UserProfile.College == null)
                                                        {
                                                            <div>
                                                                <input type="image" src="~/images/TutorAssets/TutorDashboard/DefaultUniversity.png" class="form-control border-0 rounded-0 d-block mr-auto ml-auto pt-3" style="width:130px; height:100%">
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="p-4"><p class="form-university-header">@Model.UserProfile.College.Split('|')[0]</p><p class="form-header">@Model.UserProfile.College.Split('|')[1]</p></div>
                                                        }

                                                    </div>
                                                </div>
                                            </div>
                                            <label class="form-header pt-4">Year/Class</label>
                                            <select asp-for="@Model.Sections[0].Year" id="yearSelect" class="form-control border form-input rounded-0">
                                                <option>-Select-Year/Class-</option>
                                                <option>Freshman</option>
                                                <option>Sophomore</option>
                                                <option>Junior</option>
                                                <option>Senior</option>
                                                <option>Other</option>
                                            </select>
                                        </div>
                                        @if (Model.Sections != null)
                                        {
                                            <div class="form-group col-lg-9 pl-lg-3 pl-0">
                                                <label class="form-header">Section 1 Title</label>
                                                <input name="SectionTitle-1" id="SectionTitle-1" class="form-control border rounded-0 form-input" placeholder="Title of section one!" value="@Model.Sections[1].SectionTitle">
                                                <label class="form-header pt-3">Description</label>
                                                <textarea name="SectionDescription-1" id="SectionDescription-1" class="form-control border rounded-0 form-textarea" style="height:145px !important" placeholder="Tell us what you're studying, concentrations, passions, and other extra curricular activities here!">@Model.Sections[1].SectionDescription</textarea>
                                            </div>
                                            if (Model.Sections.Count > 2)
                                            {
                                                for (int i = 2; i < Model.Sections.Count; i++)
                                                {
                                                    var t = i + 1;
                                                    <div id="divider-@t" class="divider"></div>
                                                    <div id="form-section-@t" class="form-group col-lg-12">
                                                        <label id="SectionLabelTitle-@t" class="form-header d-inline-block">Section @t Title</label>
                                                        <img id="RemoveSectionIcon-@t" src="~/images/TutorAssets/TutorDashboard/Remove.png" class="d-inline-block form-section-topic-remove-icon" onclick="RemoveSection(@t)" />
                                                        <input name="SectionTitle-@t" id="SectionTitle-@t" class="form-control border rounded-0 form-input" placeholder="Title of section @t!" value="@Model.Sections[i].SectionTitle">
                                                        <label class="form-header pt-3">Description</label>
                                                        <textarea name="SectionDescription-@t" id="SectionDescription-@t" class="form-control border rounded-0 form-textarea" placeholder="Tell us what you are studying, concentrations, passions, and other extra curricular activities here!">@Model.Sections[i].SectionDescription</textarea>
                                                    </div>
                                                }
                                            }
                                            <script>sectionCount = @Model.Sections.Count - 1;</script>
                                        }
                                        else
                                        {
                                            <div class="form-group col-lg-9 pl-3">
                                                <label class="form-header">Section 1 Title</label>
                                                <input name="SectionTitle-1" id="SectionTitle-1" class="form-control border rounded-0 form-input" placeholder="Title of section one!">
                                                <label class="form-header pt-3">Description</label>
                                                <textarea name="SectionDescription-1" id="SectionDescription-1" class="form-control border rounded-0 form-textarea" placeholder="Tell us what you're studying, concentrations, passions, and other extra curricular activities here!"></textarea>
                                            </div>
                                            <script>sectionCount = 2</script>
                                        }
                                    </div>
                                    <div class="mt-4">
                                        <a class="d-inline-block" style="cursor:pointer; color:#004643" onclick="AddSection(event)"><img class="p-1" src="~/images/TutorAssets/TutorDashboard/Add.png" /></span>Add Section</a>
                                        <a class="d-inline-block" style="cursor:pointer; float:right; color:#004643" onclick="SaveSection(event)"><span><img class="p-1" style="width:28px" src="~/images/TutorAssets/TutorDashboard/Save.svg" /></span>Save</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <div class="card-title p-3 form-header" style="font-size:18px">Academic Experience</div>
                                @if (Model.Topics != null)
                                {
                                    <form class="pl-4 pr-4 pb-4" id="form-topic-tutor">
                                        <div class="form-row" id="form-row-topic">
                                            @for (int i = 0; i < Model.Topics.Count; i++)
                                            {
                                                var t = i + 1;
                                                @if (i > 0)
                                                {<div id="divider-topic-@t" class="divider"></div>}
                                                <div id="form-topic-@t" class="form-group col-lg-12 border p-2">
                                                    <label class="form-header">Topic</label>
                                                    @if (i > 0)
                                                    {<img id="RemoveTopicIcon-@t" src="~/images/TutorAssets/TutorDashboard/Remove.png" class="d-inline-block form-section-topic-remove-icon" onclick="RemoveTopic(@t)" />}
                                                    <select asp-for="@Model.Topics[i].TopicName" id="Topic-@t" name="Topic-@t" class="form-control border form-input rounded-0">
                                                        <option>-Select-Topic-</option>
                                                        <option>Mathematics</option>
                                                        <option>Science</option>
                                                        <option>Engineering</option>
                                                        <option>Business</option>
                                                        <option>Law</option>
                                                        <option>Art</option>
                                                        <option>Humanities</option>
                                                        <option>Others</option>
                                                    </select>
                                                    <label class="form-header pt-3">List Of Subjects</label>
                                                    <textarea id="ListOfSubjects-@t" name="ListOfSubjects-@t" class="form-control border rounded-0 form-textarea" placeholder="Enter list of subjects here!">@Model.Topics[i].ListOfSubjects</textarea>
                                                </div>
                                            }
                                        </div>
                                        <div class="mt-4">
                                            <a style="cursor:pointer; color:#004643" onclick="AddTopic(event)"><span><img class="p-1" src="~/images/TutorAssets/TutorDashboard/Add.png" /></span>Add Topic</a>
                                            <a style="cursor:pointer; float:right; color:#004643" onclick="SaveTopic(event)"><span><img class="p-1" style="width:30px" src="~/images/TutorAssets/TutorDashboard/Save.svg" /></span>Save</a>
                                        </div>
                                    </form>
                                    <script>topicCount = @Model.Topics.Count;</script>
                                }
                                else
                                {
                                    <form class="pl-4 pr-4 pb-4" id="form-topic-tutor">
                                        <div class="form-row" id="form-row-topic">
                                            <div class="form-group col-lg-12 border p-2">
                                                <label class="form-header">Topic</label>
                                                <select name="Topic" class="form-control border form-input rounded-0">
                                                    <option>-Select-Topic-</option>
                                                    <option>Mathematics</option>
                                                    <option>Science</option>
                                                    <option>Engineering</option>
                                                    <option>Business</option>
                                                    <option>Law</option>
                                                    <option>Art</option>
                                                    <option>Humanities</option>
                                                    <option>Others</option>
                                                </select>
                                                <label class="form-header pt-3">List Of Subjects</label>
                                                <textarea name="ListOfSubjects" class="form-control border rounded-0 form-textarea" placeholder="Enter list of subjects here!"></textarea>
                                            </div>
                                        </div>
                                        <a style="cursor:pointer; color:#004643" onclick="AddTopic(event)"><span><img class="p-1" src="~/images/TutorAssets/TutorDashboard/Add.png" /></span>Add Topic</a>
                                        <a style="cursor:pointer; float:right; color:#004643" onclick="SaveTopic(event)"><span><img class="p-1" src="~/images/TutorAssets/TutorDashboard/Save.svg" /></span>Save</a>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="tab-pane" id="schedule" role="tabpanel" aria-labelledby="schedule-tab">
                <div class="container-fluid pt-3" style="width:100%">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-title p-3 m-0 form-header" style="font-size:18px">Stream Schedule</div>
                                <div class="card-body">
                                    <div class="row" id="taskRow">
                                        @if (Model.Schedule.Count > 0)
                                        {
                                            @foreach (var task in Model.Schedule)
                                            {
                                                <div class="col-lg-6 col-md-12 mt-2">
                                                    <div class="card card-border" onclick="EditScheduleTask('@task.Id')">
                                                        <div class="card-body">
                                                            <input type="hidden" id="schedule-date-@task.Id" value="@task.Date" />
                                                            <div class="d-inline-flex">
                                                                <img class="rounded m-1 schedule-image" src="@task.SubjectThumbnail" />
                                                                <div class="text-center m-1 schedule-image schedule-border">
                                                                    <p id="schedule-month-@task.Id" class="form-header schedule-month">@task.Date.ToString("MMM")</p>
                                                                </div>
                                                                <div class="text-center m-1 schedule-image schedule-border">
                                                                    <p id="schedule-day-@task.Id" class="form-header schedule-day">@task.Date.Day</p>
                                                                    <p id="schedule-dow-@task.Id" class="form-header schedule-dow">@task.Date.ToString("ddd")</p>
                                                                </div>
                                                                <div class="m-1" style="height:75px;">
                                                                    <p id="schedule-stream-title-@task.Id" class="form-header m-0">@task.StreamTitle</p>
                                                                    <p id="schedule-stream-subject-@task.Id" class="mt-1 mb-0" style="font-size:10px">@task.StreamSubject</p>
                                                                    <p class="schedule-time">@task.TimeStart - @task.TimeStop [@task.TimeZone.ToString()]</p>
                                                                    <input type="hidden" id="schedule-time-start-@task.Id" value="@task.TimeStart" />
                                                                    <input type="hidden" id="schedule-time-stop-@task.Id" value="@task.TimeStop" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="col-lg-6 col-md-12  mt-2">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="d-inline-flex">
                                                            <img class="rounded m-1" src="~/images/ScheduleAssets/CalendarAdd.png" style="width:75px; height:75px; cursor:pointer" onclick="CheckIfTimezoneIsValidForSchedule()" />
                                                            <div class="m-1" style="height:75px;">
                                                                <p id="schedule-stream-title" class="form-header m-0">Schedule Stream</p>
                                                                <p id="schedule-stream-subject" class="form-sub-header p-0 mt-1 mb-0" style="font-size:10px; font-family:'Roboto', serif">Stream Topic</p>
                                                                <p id="schedule-stream-time" class="form-sub-header p-0 mt-1" style="font-size:12px; font-family:'Roboto', serif">Click "Add Stream" or the plus</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <div class="mt-4">
                                        <a style="cursor:pointer; color:#004643;" onclick="CheckIfTimezoneIsValidForSchedule()"><span><img class="p-1" src="~/images/TutorAssets/TutorDashboard/Add.png" /></span>Add Stream</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="tab-pane" id="stream" role="tabpanel" aria-labelledby="stream-tab">
                <div class="container-fluid pt-4" style="width:100%">
                    <div class="row p-3">
                        <div class="col-12">
                            <form class="p-2 border" onsubmit="return searchArchives();" style="background-color: white; border-radius: 20px;">
                                <input id="searchQuery" class="form-control form-control-lg" type="search" placeholder="🔎 Search Past Streams" style="border: none;">
                            </form>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="row p-3">
                        @if (Model.UserArchivedStreams.Count != 0)
                        {
                            @foreach (var streamInfo in Model.UserArchivedStreams)
                            {
                                <div id="streamInfo-@streamInfo.Id" class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="card mt-3 border-0" style="border-bottom-left-radius:20px; border-bottom-right-radius:20px; border-top-left-radius:20px; border-top-right-radius:20px;">
                                        <div class="card-title">
                                            <a href="../StreamViews/StreamPlaybackPage?streamId=@streamInfo.StreamID"><img id="stream-thumbnail-@streamInfo.Id" style="width:100%; height:100%; border-top-left-radius:20px; border-top-right-radius:20px;" src=@streamInfo.StreamThumbnail></a>
                                        </div>
                                        <div class="card-body pt-0 pb-1">
                                            <h5 id="stream-title-@streamInfo.Id" class="text-truncate form-header">@streamInfo.StreamTitle</h5>
                                            <input id="stream-description-@streamInfo.Id" type="hidden" value="@streamInfo.StreamDescription" />
                                            <p class="text-truncate form-header" style="font-size:10px">@Model.UserProfile.Name.Replace('|', ' ')</p>
                                        </div>
                                        <div class="card-footer p-0" style="background-color:orange; border-bottom-left-radius:20px; border-bottom-right-radius:20px;"><span style="color:white; cursor:pointer; float:right; padding-right:10px" onclick="EditStream('@streamInfo.Id')">&#8943;</span></div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="comment" role="tabpanel" aria-labelledby="comment-tab">Comment</div>
        </div>
    </div>
</div>

<div class="wrapper">
    <nav id="sidebar">
        <img class="logo-desktop" onclick="window.location.href ='/'" src="~/images/WhiteStreamWork.png" />
        <ul class="p-0">
            <li class="sidebar-list-item-desktop" onclick="window.location.href ='/Tutor/TutorStream'"><span><img class="icon pb-1" src="~/images/TutorAssets/TutorDashboard/StartStream.svg" /></span>Start Stream</li>
            <li class="sidebar-list-item-desktop" onclick="window.location.href ='/Tutor/HowToStream'"><span><img class="icon pb-1" src="~/images/TutorAssets/TutorDashboard/HowToStream.svg" /></span>How To Stream</li>
            <li class="sidebar-list-item-desktop" onclick="window.location.href ='/Tutor/TutorWatch'"><span><img class="icon pb-1" src="~/images/TutorAssets/TutorDashboard/WatchStream.svg" /></span>Watch Streams</li>
            <li class="sidebar-list-item-desktop"><span><img class="icon pb-1" src="~/images/TutorAssets/TutorDashboard/FollowingList.svg" /></span>Following List</li>
            <li class="sidebar-list-item-desktop"><span><img class="icon pb-1" src="~/images/TutorAssets/TutorDashboard/FollowerList.svg" /></span>Follower List</li>
        </ul>
    </nav>
</div>

<div class="wrapper">
    <nav id="sidebar-tablet">
        <img class="logo-tablet" onclick="window.location.href ='/'" src="~/images/streamWorkPencilWhite.png" />
        <ul class="p-0">
            <li class="sidebar-list-item-tablet" onclick="window.location.href ='/Tutor/TutorStream'"><img src="~/images/TutorAssets/TutorDashboard/StartStream2x.png" /></li>
            <li class="sidebar-list-item-tablet" onclick="window.location.href ='/Tutor/HowToStream'"><img class="pb-1" src="~/images/TutorAssets/TutorDashboard/HowToStream2x.png" /></li>
            <li class="sidebar-list-item-tablet" onclick="window.location.href ='/Tutor/TutorWatch'"><img class="pb-1" src="~/images/TutorAssets/TutorDashboard/WatchStream2x.png" /></li>
            <li class="sidebar-list-item-tablet"><img class="pb-1" src="~/images/TutorAssets/TutorDashboard/FollowingList2x.png" /></li>
            <li class="sidebar-list-item-tablet"><img class="pb-1" src="~/images/TutorAssets/TutorDashboard/FollowerList2x.png" /></li>
        </ul>
    </nav>
</div>

<div id="profile-information-modal" class="custom-modal">
    <div class="custom-modal-content">
        <div class="close ml-auto" onclick="DiscardChangesAndCloseModal('profile-form', 'profile-information-modal')">&times;</div>
        <h5 style="padding-left:20px; padding-top:10px; font-family:'Roboto Slab', serif; font-size:16px; color: #707070;">Profile Information</h5>
        <div class="slider">
            <div class="slider-object" style="width:155px"></div>
        </div>
        <div id="profile-information-notification" class="alert notification-success mt-3 mb-0" style="margin-left:50px; margin-right:50px" role="alert">
            <b>Changes Saved!</b> Your information has been successfully saved.
            <div class="close ml-auto" onclick="$('#profileInformationNotification').hide()">&times;</div>
        </div>
        <script>$('#profile-information-notification').hide()</script>
        <div class="row p-4">
            <div class="col-lg-3 col-md-12 col-sm-12 col-12 pl-0">
                <label class="form-header d-block mt-2" style="margin-left:40px">Profile Picture</label>
                <div class="image-container mr-auto ml-auto" style="width:120px">
                    <input id="preview-profile-picture" class="rounded pl-0 pb-3" type="image" style="width:120px" />
                    <input id="add-profile-picture" type="image" class="bottom-right" src="~/images/TutorAssets/TutorDashboard/Upload.png" />
                    <input id="upload-profile-picture" style="cursor:pointer; display:none" type='file' onchange="ReadImageUrl(this,'preview-profile-picture')" />
                    <script>
                        $("#add-profile-picture").click(function (e) {
                            e.preventDefault()
                            $("input[id='upload-profile-picture']").click();
                        })
                    </script>
                </div>
            </div>
            <div class="col-lg-9 col-md-12 col-sm-12 col-12 p-3">
                <form id="profile-form">
                    <div class="form-group pr-lg-4">
                        <div class="form-row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label class="form-header">First Name</label>
                                <input id="first-name" class="form-control border rounded-0 form-input" placeholder="First Name">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 pt-2 pt-lg-0 pt-md-0 pt-sm-0">
                                <label class="form-header">Last Name</label>
                                <input id="last-name" class="form-control border rounded-0 form-input"  placeholder="Last Name">
                            </div>
                        </div>
                        <label class="form-header pt-3">Occupation / Major</label>
                        <input id="occupation-major" class="form-control border rounded-0 form-input" maxlength="50" placeholder="Occupation / Major">
                        <label class="form-header pt-3">Location</label>
                        <input id="location" class="form-control border rounded-0 form-input" placeholder="Location">
                        <div class="divider"></div>
                        <label class="form-header">Timezone</label>
                        <select id="timezone" class="form-control border-0 form-input rounded-0">
                            <option value="">-Select-Timezone-</option>
                            <option value="PST">(GMT -8:00) Pacific Time</option>
                            <option value="MST">(GMT -7:00) Mountain Time</option>
                            <option value="CST">(GMT -6:00) Central Time</option>
                            <option value="EST">(GMT -5:00) Eastern Time</option>
                            <option value="Hawaii">(GMT -10:00) Hawaii</option>
                            <option value="Alaska">(GMT -9:00) Alaska</option>
                        </select>
                        <div class="divider"></div>
                        <label class="form-header">LinkedIn URL</label>
                        <input id="linkedin-url" class="form-control border rounded-0 form-input" placeholder="LinkedIn Url">
                    </div>
                </form>
            </div>
        </div>
        <button class="btn border-0 rounded-0 p-3 w-100" style="background-color:#004643; color:white" onclick="SaveProfile(this)">Save Changes</button>
    </div>
</div>

<div id="universityModal" class="custom-modal">
    <div class="custom-modal-content">
        <div class="close ml-auto" onclick="DiscardChangesAndCloseModal('universityForm','universityModal')">&times;</div>
        <h5 class="form-header" style="padding-left:20px; padding-top:10px; font-size:16px;">University Information</h5>
        <div class="slider">
            <div class="slider-object" style="width:190px"></div>
        </div>
        <div class="row">
            <div class="col-12">
                <form id="universityForm" class="pt-4 pb-4 pl-5 pr-5">
                    <div id="universityModalNotification" class="alert notification-success" style="padding-left:50px" role="alert">
                        <b>Changes Saved!</b> Your information has been successfully saved.
                        <div class="close ml-auto" onclick="$('#universityModalNotification').hide()">&times;</div>
                    </div>
                    <script>$('#universityModalNotification').hide()</script>
                    <div class="form-group">
                        <div class="row">
                            @if (Model.UserProfile.College != null)
                            {
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-2">
                                    <label class="form-header">University Abbreviation</label>
                                    <input class="form-control form-input mb-2" type="text" id="universityAbbreviation" placeholder="University Abbreviation (ex: ASU)" value="@Model.UserProfile.College.Split('|')[0]" required>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-2">
                                    <label class="form-header">University Name</label>
                                    <input class="form-control form-input mb-2" id="universityName" placeholder="University Name (ex: Arizona State University)" value="@Model.UserProfile.College.Split('|')[1]" required />
                                </div>
                            }
                            else
                            {
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-2">
                                    <label class="form-header">University Abbreviation</label>
                                    <input class="form-control form-input mb-2" type="text" id="universityAbbreviation" placeholder="University Abbreviation (ex: ASU)" required>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-2">
                                    <label class="form-header">University Name</label>
                                    <input class="form-control form-input mb-2" id="universityName" placeholder="University Name (ex: Arizona State University)" required />
                                </div>
                            }

                        </div>
                    </div>
                </form>
            </div>
        </div>
        <button class="btn border-0 rounded-0 p-3 w-100" style="background-color:#004643; color:white" onclick="SaveUniversityInfo()">Save Changes</button>
    </div>
</div>

<div id="scheduleModal" class="custom-modal">
    <div class="custom-modal-content">
        <div class="close ml-auto" onclick="DiscardCalendarModalAndCloseModal()">&times;</div>
        <h5 class="form-header" style="padding-left:20px; padding-top:10px; font-size:16px;">Schedule Stream Time</h5>
        <div class="slider">
            <div class="slider-object" style="width:190px"></div>
        </div>
        <div class="row">
            <div class="col-12">
                <form id="scheduleModalForm" class="pt-4 pb-4 pl-5 pr-5">
                    <div class="row">
                        <div class="col-lg-2 col-md-12">
                            <label class="form-header">Select Date</label>
                            <div class="p-4 schedule-border">
                                <div class="datetimepicker-input" id="schedule-date-picker">
                                    <div id="schedule-date-mask">
                                        <img class="d-block" src="~/images/ScheduleAssets/Calendar.png" data-target="#schedule-date-picker" data-toggle="datetimepicker" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-12">
                            <label class="form-header pt-lg-0 pt-3">Stream Title</label>
                            <input id="schedule-title" class="form-control border rounded-0 form-input" maxlength="50" placeholder="Add Title" required>
                            <label class="form-header pt-3">Select Topic</label>
                            <select id="schedule-subject" class="form-control border-0 form-input rounded-0" required>
                                <option value="" selected>-Select-Topic-</option>
                                <option>Mathematics</option>
                                <option>Science</option>
                                <option>Engineering</option>
                                <option>Business</option>
                                <option>Law</option>
                                <option>Art</option>
                                <option>Humanities</option>
                                <option>Others</option>
                            </select>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="form-header pt-3">Time Start</label>
                                    <div class="input-group date" id="schedule-time-start-picker" data-target-input="nearest">
                                        <input id="schedule-time-start-picker-value" type="text" class="form-control datetimepicker-input" data-target="#schedule-time-start-picker" required/>
                                        <div class="input-group-append" data-target="#schedule-time-start-picker" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label class="form-header pt-3">Time Stop</label>
                                    <div class="input-group date" id="schedule-time-stop-picker" data-target-input="nearest">
                                        <input id="schedule-time-stop-picker-value" type="text" class="form-control datetimepicker-input" data-target="#schedule-time-stop-picker" required/>
                                        <div class="input-group-append" data-target="#schedule-time-stop-picker" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="schedule-buttons">
            <button class="btn border-0 rounded-0 p-3 w-100" style="background-color:#004643; color:white" onclick="SaveScheduleTask()">Save Changes</button>
        </div>
    </div>
</div>

<div id="edit-stream-modal" class="custom-modal">
    <div class="custom-modal-content">
        <div class="close ml-auto" onclick="DiscardChangesAndCloseModal('edit-stream-form', 'edit-stream-modal')">&times;</div>
        <h5 class="form-header" style="padding-left:20px; padding-top:10px; font-size:16px;">Stream Information</h5>
        <div class="slider">
            <div class="slider-object" style="width:165px"></div>
        </div>
        <div class="row">
            <div class="col-12">
                <form id="edit-stream-form" class="pt-4 pb-4 pl-5 pr-5">
                    <div id="edit-stream-modal-notification" class="alert notification-success" style="padding-left:50px" role="alert">
                        <b>Changes Saved!</b> Your information has been successfully saved.
                        <div class="close ml-auto" onclick="$('#sectionTopicNotification').hide()">&times;</div>
                    </div>
                    <script>$('#edit-stream-modal-notification').hide()</script>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-7 col-md-12 col-sm-12 col-12 mt-2">
                                <label class="form-header">Title</label>
                                <input id="stream-title-edit" class="form-control form-input mb-2" type="text">
                                <label class="form-header">Description</label>
                                <textarea id="stream-description-edit" class="form-control form-textarea mt-1 mb-2" placeholder="Description" style="height:105px !important"></textarea>
                            </div>
                            <div class="col-lg-5 col-md-12 col-sm-12 col-12 mt-1">
                                <label class="form-header">Thumbnail</label>
                                <div class="image-container mr-auto ml-auto">
                                    <img id="preview-stream-thumbnail-edit" class="mt-1" style="width:100%; border-radius:10px">
                                    <input id="stream-thumbnail-edit" type="image" class="bottom-right" src="~/images/TutorAssets/TutorDashboard/Upload.png" style="bottom:-5px" />
                                    <input id="upload-thumbnail-edit" name="upload-thumbnail-edit" class="d-none" type="file" value="~/images/MathDefault.png" onchange="ReadImageUrl(this,'preview-stream-thumbnail-edit');">
                                    <script>$("#stream-thumbnail-edit").click(function (e) {
                                            e.preventDefault()
                                            $("input[id='upload-thumbnail-edit']").click();
                                        })</script>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="stream-edit-buttons"></div>
    </div>
</div>