@model StreamWork.ViewModels.ProfileTutorViewModel

@{Layout = "_LayoutTutorNavbar";}
@{ViewData["Title"] = "TutorWatch";}


    <div class="container-fluid" style="max-width:2400px">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row py-3">
                            <div class="col-1"></div>
                            <div class="col-md-10">
                                <form class="p-2" onsubmit="return search();" style="background-color: white; border-radius: 6px; box-shadow: 0px 0px 30px -10px">
                                    <div class="row">
                                        <div class="col-lg-8 col-md-12 col-sm-12">
                                            <div>
                                                <input id="searchQuery" class="form-control form-control-lg mt-2 mb-2" type="search" placeholder="🔎 Homework topic..." style="border: none;">
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-12 col-sm-12">
                                            <select id="searchSubject" class="custom-select mt-2 mb-2" style="background-color: #006060; height:46px; color: white; font-size: 85%; font-weight: bold;">
                                                <option value="Any">All Subjects</option>
                                                <option value="Mathematics">Mathematics</option>
                                                <option value="Science">Science</option>
                                                <option value="Engineering">Engineering</option>
                                                <option value="Business">Business</option>
                                                <option value="Law">Law</option>
                                                <option value="Art">Art</option>
                                                <option value="Humanities">Humanities</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-1 col-md-12">
                                            <button class="btn btn-lg mt-2 mb-2" type="submit" style="color: white; background-color:#006060; height:46px; width:100px;margin-left:auto; margin-right:auto; display:block">
                                                <div>
                                                    <div style="font-size: 70%; font-weight: bold;">Search</div>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-12 mt-5">
                                <h1 style="font-size:40px; font-family:'Roboto Slab', serif">@Model.SearchViewModel.Subject<span style="margin-left:10px"><img width="60" src="@Model.SearchViewModel.SubjectIcon" /></span></h1>
                            </div>
                        </div>
                        @if (String.IsNullOrEmpty(Model.SearchViewModel.SearchQuery))
                        {
                            <h5>LIVE STREAMS</h5>
                        }
                        else
                        {
                            <h5>LIVE STREAMS FOR "@Model.SearchViewModel.SearchQuery"</h5>
                        }
                        <hr />
                    </div>
                </div>
                <div class="row">
                    @if (Model.SearchViewModel.StreamResults.ToArray().Length > 0)
                    {
                        foreach (var videoInfo in Model.SearchViewModel.StreamResults)
                        {
                            if (videoInfo.StreamTitle != null)
                            {
                                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 streamsubject @videoInfo.StreamSubject">
                                    <div class="card mt-3" style="border-radius:5%; border:none; max-width:375px">
                                        <iframe src="//iframe.dacast.com/b/135034/c/@videoInfo.ChannelKey" style="border-top-left-radius:10px; border-top-right-radius:10px; min-width:250px" height="215" frameborder="0" scrolling="no" allow="autoplay"></iframe>
                                        <div class="card-body p-0" style="background-color:black;border-bottom-left-radius:10px; height:75px; border-bottom-right-radius:10px; border:none; min-width:250px; cursor:pointer" onclick="window.location.href='../StreamViews/StreamPage?streamTutorUsername=' + ('@videoInfo.Username')">
                                            <div class="row">
                                                <div class="col-2 pr-2">
                                                    <input type="image" style="border-radius:5%; width:50px; margin-left:10px; margin-top:10px; height:60px;" src=@videoInfo.ProfilePicture onclick="window.location.href='/Home/ProfileView?Tutor=' + ('@videoInfo.Username');" />
                                                </div>
                                                <div class="col-10" style="color:white;">
                                                    <h5 class="text-truncate" style="font-family: 'Roboto'; font-size:20px; margin-left:20px; margin-top:10px;">@videoInfo.StreamTitle</h5>
                                                    <h6 class="text-truncate" style="font-family: 'Roboto'; font-size:14px;margin-left:20px;">@videoInfo.Username</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                    else
                    {
                        <div class="col-1"></div>
                        <h3 class="m-4">No matches were found for your search</h3>
                    }
                </div>
                <br />
                <br />
                @if (String.IsNullOrEmpty(Model.SearchViewModel.SearchQuery))
                {
                    <h5>ARCHIVE</h5>
                }
                else
                {
                    <h5>ARCHIVE FOR "@Model.SearchViewModel.SearchQuery"</h5>
                }
                <hr />
                <div class="row">
                    @if (Model.SearchViewModel.ArchiveResults.ToArray().Length > 0)
                    {
                        foreach (var videoInfo in Model.SearchViewModel.ArchiveResults)
                        {
                            if (videoInfo.StreamTitle != null)
                            {
                                <div class="col-lg-3 col-md-6 col-sm-6 streamsubject @videoInfo.StreamSubject">
                                    <div class="card mt-3" style="border:none; background-color:transparent">
                                        <input type="image" style="width:100%; height:100%; border-top-left-radius:10px; border-top-right-radius:10px; border-bottom-left-radius:0px; border-bottom-right-radius:0px; cursor:pointer" src=@videoInfo.StreamThumbnail onclick="window.location.href='../StreamViews/StreamPlaybackPage?streamId=@videoInfo.StreamID'">
                                        <div class="card-body p-0" style="background-color:black; border-bottom-left-radius:10px; border-bottom-right-radius:10px;" onclick="window.location.href='/Home/ProfileView?Tutor=' + ('@videoInfo.Username');">
                                            <div class="row">
                                                <div class="col-12">
                                                    <input type="image" style="border-radius:5%; width:50px; margin-left:10px; margin-top:10px; margin-bottom:10px; height:60px; float:left" src=@videoInfo.ProfilePicture />
                                                    <h5 class="text-truncate" style="font-family: 'Roboto'; font-size:15px; color:white; margin-left:80px; margin-top:10px;">@videoInfo.StreamTitle</h5>
                                                    <h6 class="text-truncate" style="font-family: 'Roboto'; font-size:14px; color:white; margin-left:80px;">@videoInfo.Username</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                    else
                    {
                        <div class="col-1"></div>
                        <h3 class="m-4">No matches were found for your search</h3>
                    }
                </div>
            </div>

        </div>
    </div>
