@model StreamWork.ViewModels.Tutor.TutorDashboardViewModel

@{Layout = "_LayoutNoNavbar";}
@{ViewData["Title"] = "TutorDashboard";}
<script src="~/js/TutorJS/TutorDashboard.js" asp-append-version="true"></script>
<script src="~/js/EditProfile.js" asp-append-version="true"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="~/css/Tutor/TutorDashboard.css" asp-append-version="true" />
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<div class="container-fluid mr-0">
    <div class="row">
        <nav class="navbar navbar-expand-lg p-1 w-100" style="background-color:white">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse pl-3" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active d-block mr-auto ml-auto">
                        <a class="navItem nav-link pl-3 pr-3" href="#">Tutor</a>
                    </li>
                    <li class="nav-item active d-block mr-auto ml-auto">
                        <a class="navItem nav-link pl-3 pr-3" href="#">Browse</a>
                    </li>
                    <li class="nav-item active d-block mr-auto ml-auto">
                        <a class="navItem nav-link pl-3 pr-3" href="#">About</a>
                    </li>
                </ul>
            </div>
            <div class="btn-group">
                <input class="navbar-profile-picture" type="image" data-toggle="dropdown" src=@Model.UserProfile.ProfilePicture />
                <button type="button" id="dropdown" class="btn btn-info dropdown-toggle border-0 navbar-dropdown-button" data-toggle="dropdown"></button>
                <div class="dropdown-menu dropdown-menu-right" style="font-size:12px; min-width:0px !important">
                    <a class="dropdown-item" href="/Tutor/TutorDashboard">Dashboard</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" id="Settings" href="/Tutor/TutorSettings">Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" onclick="Logout()">Logout</a>
                </div>
            </div>
            <script>$('#dropdown').dropdown()</script>
        </nav>

    </div>

    <div class="container-fluid inner-container-fluid pt-4">
        <div class="card">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 order-lg-1 order-md-2 order-sm-2 order-2 pr-2">
                    <div class="row">
                        <div class="p-4 mb-2 ml-3">
                            <input align="left" class="rounded" type="image" src="@Model.UserProfile.ProfilePicture" style="width:80px;" />
                            <h5 class="d-inline-block mb-0" style="padding-left:20px; padding-top:10px; font-family:'Roboto Slab', serif; color: #707070;">@Model.UserProfile.Name.Replace('|', ' ')</h5>
                            <p class="pt-0 mt-0 mb-2" style="padding-left:100px; font-family:'Roboto Slab', serif; font-size:12px; color: #9F9F9F">Occupation / Major</p>
                            <p class="mb-0" style="padding-left:95px; font-family:'Roboto Slab', serif; font-size:8px; color: #9F9F9F"><span><img class="mb-1 mr-1" src="~/images/TutorAssets/TutorDashboard/TutorSince.png" /></span>Tutor since Jun, 2020</p>
                            <p style="padding-left:95px; font-family:'Roboto Slab', serif; font-size:8px; color: #9F9F9F"><span><img class="mb-1 mr-1" src="~/images/TutorAssets/TutorDashboard/Location.png" /></span>State</p>
                        </div>
                        <div class="ml-auto mr-5">
                            <button class="streamWork-secondary mr-2" style="font-size:10px; height:35px; margin-top:30px" onclick="OpenModal()">Edit Profile</button>
                            <button class="streamWork-primary" style="font-size:10px; height:35px; margin-top:30px">View Profile</button>
                        </div>
                    </div>
                    <div class="pl-4 mb-4">
                        <div class="d-inline-block mr-2">
                            <div class="card pr-2" style="background-color:#004643; color:white">
                                <h6 class="m-0 pt-2 pb-2" style="font-size:9px; word-spacing:8px"><span style="background-color:#003936; font-size:14px" class="p-2 rounded">@Model.NumberOfStreams</span> Streams</h6>
                            </div>
                        </div>
                        <div class="d-inline-block mr-2">
                            <div class="card pr-2" style="background-color:#FFC627; color:white">
                                <h6 class="m-0 pt-2 pb-2" style="font-size:9px; word-spacing:8px"><span style="background-color:#E6B62F; font-size:14px" class="p-2 rounded">@Model.NumberOfFollowers</span> Followers</h6>
                            </div>
                        </div>
                        <div class="d-inline-block mr-2">
                            <div class="card pr-2" style="background-color:#7266BA; color:white">
                                <h6 class="m-0 pt-2 pb-2" style="font-size:9px; word-spacing:8px"><span style="background-color:#5C50A7; font-size:14px" class="p-2 rounded">@{Random rand = new Random(1247635134); int mult = rand.Next(10, 16); int views = Model.NumberOfViews * mult + rand.Next(mult);}@views</span> Views</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 order-lg-2 order-md-1 order-sm-1 order-1">
                    <img src="~/images/TutorAssets/TutorDashboard/PlaceHolderBanner.png" style="width:100%; height:100%" />
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid inner-container-fluid pt-4" >
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" style="font-family:'Roboto Slab', serif" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true" onclick="SliderProfile()">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="font-family:'Roboto Slab', serif" id="schedule-tab" data-toggle="tab" href="#schedule" role="tab" aria-controls="schedule" aria-selected="false" onclick="SliderSchedule()">Schedule</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="font-family:'Roboto Slab', serif" id="stream-tab" data-toggle="tab" href="#stream" role="tab" aria-controls="stream" aria-selected="false" onclick="SliderStream()">Streams</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="font-family:'Roboto Slab', serif" id="comment-tab" data-toggle="tab" href="#comment" role="tab" aria-controls="comment" aria-selected="false" onclick="SliderComment()">Comments</a>
            </li>
        </ul>
        <div class="slider">
            <div id="slider-object" class="slider-object"></div>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="container-fluid pt-4" style="width:100%">
                    <div class="row">
                        <div class="col-lg-8 col-md-12 col-sm-12 col-12 p-2">
                            <div class="card">
                                <div class="card-title p-3" style="font-family:'Roboto Slab', serif; color:#9F9F9F; font-size:18px">Basic Information</div>
                                <form class="pl-4 pr-4 pb-4" id="form-section-tutor">
                                    <div class="form-row" id="form-row-section">
                                        <div class="form-group col-lg-3">
                                            <label class="form-header">University</label>
                                            <div class="card rounded-0">
                                                <div class="card-body">
                                                    <input type="image" src="~/images/TutorAssets/TutorDashboard/DefaultUniversity.png" class="form-control border-0 rounded-0;" style="width:100px; height:100%; display:block; margin-left:auto; margin-right:auto">
                                                </div>
                                            </div>
                                            <label class="form-header pt-4">Year/Class</label>
                                            <select class="form-control border form-input rounded-0">
                                                <option>-Select-Year/Class-</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                        @if (Model.Sections != null)
                                        {
                                            <div class="form-group col-lg-9 pl-3">
                                                <label class="form-header">Section 1 Title</label>
                                                <input name="SectionTitle-1" id="SectionTitle-1" class="form-control border rounded-0 form-input" placeholder="Title of section one!" value="@Model.Sections[0].SectionTitle">
                                                <label class="form-header pt-3">Description</label>
                                                <textarea name="SectionDescription-1" id="SectionDescription-1" class="form-control border rounded-0 form-textarea" placeholder="Tell us what you're studying, concentrations, passions, and other extra curricular activities here!">@Model.Sections[0].SectionDescription</textarea>
                                            </div>
                                            <div class="divider"></div>
                                            <div class="form-group col-lg-12">
                                                <label class="form-header">Section 2 Title</label>
                                                <input name="SectionTitle-2" id="SectionTitle-2" class="form-control border rounded-0 form-input" placeholder="Title of section two!" value="@Model.Sections[1].SectionTitle">
                                                <label class="form-header pt-3">Description</label>
                                                <textarea name="SectionDescription-2" id="SectionDescription-2" class="form-control border rounded-0 form-textarea" placeholder="Tell us what you're studying, concentrations, passions, and other extra curricular activities here!">@Model.Sections[1].SectionDescription</textarea>
                                            </div>
                                            if (Model.Sections.Count > 2)
                                            {
                                                for (int i = 2; i < Model.Sections.Count; i++)
                                                {
                                                    var t = i + 1;
                                                    <div id="divider-@t" class="divider"></div>
                                                    <div id="form-section-@t" class="form-group col-lg-12">
                                                        <label id="SectionLabelTitle-@t" class="form-header d-inline-block">Section @t Title</label>
                                                        <i id="RemoveSectionIcon-@t" class="fa fa-minus d-inline-block form-section-topic-remove-icon" onclick="RemoveSection(@t)"></i>
                                                        <input name="SectionTitle-@t" id="SectionTitle-@t" class="form-control border rounded-0 form-input" placeholder="Title of section @t!" value="@Model.Sections[i].SectionTitle">
                                                        <label class="form-header pt-3">Description</label>
                                                        <textarea name="SectionDescription-@t" id="SectionDescription-@t" class="form-control border rounded-0 form-textarea" placeholder="Tell us what you are studying, concentrations, passions, and other extra curricular activities here!">@Model.Sections[i].SectionDescription</textarea>
                                                    </div>
                                                }
                                            }
                                            <script>sectionCount = @Model.Sections.Count;</script>
                                        }
                                        else
                                        {
                                            <div class="form-group col-lg-9 pl-3">
                                                <label class="form-header">Section 1 Title</label>
                                                <input name="SectionTitle-1" id="SectionTitle-1" class="form-control border rounded-0 form-input" placeholder="Title of section one!">
                                                <label class="form-header pt-3">Description</label>
                                                <textarea name="SectionDescription-1" id="SectionDescription-1" class="form-control border rounded-0 form-textarea" placeholder="Tell us what you're studying, concentrations, passions, and other extra curricular activities here!"></textarea>
                                            </div>
                                            <div class="divider"></div>
                                            <div class="form-group col-lg-12">
                                                <label class="form-header">Section 2 Title</label>
                                                <input name="SectionTitle-2" id="SectionTitle-2" class="form-control border rounded-0 form-input" placeholder="Title of section two!">
                                                <label class="form-header pt-3">Description</label>
                                                <textarea name="SectionDescription-2" id="SectionDescription-2" class="form-control border rounded-0 form-textarea" placeholder="Tell us what you're studying, concentrations, passions, and other extra curricular activities here!"></textarea>
                                            </div>
                                            <script>sectionCount = 2</script>
                                        }
                                    </div>
                                    <a class="d-inline-block" style="cursor:pointer; color:#004643" onclick="AddSection(event)"> + Add Section</a>
                                    <a class="d-inline-block" style="cursor:pointer; float:right; color:#004643" onclick="SaveBasicInformation(event)"><span><img src="~/images/TutorAssets/TutorDashboard/Save.png" /></span>Save</a>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 col-12 p-2">
                            <div class="card">
                                <div class="card-title p-3" style="font-family:'Roboto Slab', serif; color:#9F9F9F; font-size:18px">Academic Experience</div>
                                <form class="pl-4 pr-4 pb-4" id="form-topic">
                                    <div class="form-row" id="form-row-topic">
                                        <div class="form-group col-lg-12 border p-2">
                                            <label class="form-header">Topic</label>
                                            <select class="form-control border form-input rounded-0">
                                                <option>-Select-Topic-</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                            <label class="formHeaders pt-3">List Of Subject</label>
                                            <textarea class="form-control border rounded-0 form-textarea" placeholder="Enter list of topics here!"></textarea>
                                        </div>
                                    </div>
                                    <a style="cursor:pointer; color:#004643" onclick="AddTopic(event)"> + Add Topic</a>
                                    <a style="cursor:pointer; float:right; color:#004643" onclick="SaveBasicInformation(event)"><span><img src="~/images/TutorAssets/TutorDashboard/Save.png" /></span>Save</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="schedule" role="tabpanel" aria-labelledby="schedule-tab">Schedule</div>
            <div class="tab-pane" id="stream" role="tabpanel" aria-labelledby="stream-tab">
                <div class="container-fluid pt-4">
                    <div class="row">
                        <div class="col-12">
                            <form class="p-2 border" onsubmit="return searchArchives();" style="background-color: white; border-radius: 20px;">
                                <input id="searchQuery" class="form-control form-control-lg" type="search" placeholder="🔎 Search Past Streams" style="border: none;">
                            </form>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        @if (Model.UserArchivedStreams.Count != 0)
                        {
                            @foreach (var videoInfo in Model.UserArchivedStreams)
                            {
                                <div id="videoInfo-@videoInfo.Id" class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="card mt-3 border-0" style="border-bottom-left-radius:20px; border-bottom-right-radius:20px; border-top-left-radius:20px; border-top-right-radius:20px;">
                                        <div class="card-title">
                                            <a href="../StreamViews/StreamPlaybackPage?streamId=@videoInfo.StreamID"><img id="streamThumbnail-@videoInfo.Id" style="width:100%; height:100%; border-top-left-radius:20px; border-top-right-radius:20px;" src=@videoInfo.StreamThumbnail></a>
                                        </div>
                                        <div class="card-body pt-0 pb-1">
                                            <h5 id="streamTitle-@videoInfo.Id" class="text-truncate formHeaders">@videoInfo.StreamTitle</h5>
                                            <p class="text-truncate formHeaders" style="font-size:10px">@Model.UserProfile.Name.Replace('|', ' ')</p>
                                        </div>
                                        <div class="card-footer" style="background-color:orange; border-bottom-left-radius:20px; border-bottom-right-radius:20px;"></div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>

            </div>
            <div class="tab-pane" id="comment" role="tabpanel" aria-labelledby="comment-tab">Comment</div>
        </div>
    </div>
</div>

<div class="wrapper">
    <nav id="sidebar">
        <img class="logo-desktop" onclick="window.location.href ='/'" src="~/images/WhiteStreamWork.png" />
        <ul class="p-0">
            <li class="sidebar-list-item-desktop" onclick="window.location.href ='/Tutor/TutorStream'"><span><img class="pb-1" src="~/images/TutorAssets/TutorDashboard/StartStream.png" /></span>Start Stream</li>
            <li class="sidebar-list-item-desktop" onclick="window.location.href ='/Tutor/HowToStream'"><span><img class="pb-1" src="~/images/TutorAssets/TutorDashboard/HowToStream.png" /></span>How To Stream</li>
            <li class="sidebar-list-item-desktop" onclick="window.location.href ='/Tutor/TutorWatch'"><span><img class="pb-1" src="~/images/TutorAssets/TutorDashboard/WatchStream.png" /></span>Watch Streams</li>
            <li class="sidebar-list-item-desktop"><span><img class="pb-1" src="~/images/TutorAssets/TutorDashboard/FollowingList.png" /></span>Following List</li>
            <li class="sidebar-list-item-desktop"><span><img class="pb-1" src="~/images/TutorAssets/TutorDashboard/FollowerList.png" /></span>Follower List</li>
        </ul>
    </nav>
</div>

<div class="wrapper">
    <nav id="sidebar-tablet">
        <img class="logo-tablet" onclick="window.location.href ='/'" src="~/images/streamWorkPencilWhite.png" />
        <ul class="p-0">
            <li class="sidebar-list-item-tablet" onclick="window.location.href ='/Tutor/TutorStream'"><img src="~/images/TutorAssets/TutorDashboard/StartStream2x.png" /></li>
            <li class="sidebar-list-item-tablet" onclick="window.location.href ='/Tutor/HowToStream'"><img class="pb-1" src="~/images/TutorAssets/TutorDashboard/HowToStream2x.png" /></li>
            <li class="sidebar-list-item-tablet" onclick="window.location.href ='/Tutor/TutorWatch'"><img class="pb-1" src="~/images/TutorAssets/TutorDashboard/WatchStream2x.png" /></li>
            <li class="sidebar-list-item-tablet"><img class="pb-1" src="~/images/TutorAssets/TutorDashboard/FollowingList2x.png" /></li>
            <li class="sidebar-list-item-tablet"><img class="pb-1" src="~/images/TutorAssets/TutorDashboard/FollowerList2x.png" /></li>
        </ul>
    </nav>
</div>

<div id="profileInformationModal" class="modal">
    <div class="modal-content">
        <div class="close ml-auto" onclick="CloseModal()">&times;</div>
        <h5 style="padding-left:20px; padding-top:10px; font-family:'Roboto Slab', serif; font-size:16px; color: #707070;">Profile Information</h5>
        <div class="slider">
            <div class="slider-object" style="width:155px"></div>
        </div>
        <div class="row p-4">
            <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                <label class="form-header d-block mt-2" style="margin-left:40px">Profile Picture</label>
                <div class="image-container">
                    <input id="previewProfilePicture" class="rounded pl-0 pb-3 d-block ml-auto mr-auto" type="image" src="@Model.UserProfile.ProfilePicture" style="width:120px" />
                    <input type="image" class="bottom-right" src="~/images/TutorAssets/TutorDashboard/Upload.png" />
                    <input id="uploadProfilePicture" style="cursor:pointer; display:none" type='file' onchange="readURL(this,'ProfilePicture')" />
                    <script>
                        $("input[type='image']").click(function () {
                            $("input[id='uploadProfilePicture']").click();
                        })
                    </script>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-12">
                <form>
                    <div class="form-group p-2">
                        <div class="form-row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label class="form-header">First Name</label>
                                <input id="first-name" class="form-control border rounded-0 form-input" value="@Model.UserProfile.Name.Split('|')[0]" placeholder="First Name">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 pt-2 pt-lg-0 pt-md-0 pt-sm-0">
                                <label class="form-header">Last Name</label>
                                <input id="last-name" class="form-control border rounded-0 form-input" value="@Model.UserProfile.Name.Split('|')[1]" placeholder="Last Name">
                            </div>
                        </div>
                        <label class="form-header pt-3">Occupation / Major</label>
                        <input id="occupation-major" class="form-control border rounded-0 form-input" value="@Model.UserProfile.ProfileCaption" placeholder="Occupation / Major">
                        <label class="form-header pt-3">Location</label>
                        <input id="location" class="form-control border rounded-0 form-input" value="@Model.UserProfile.Location" placeholder="Location">
                        <div class="divider"></div>
                        <label class="form-header">Timezone</label>
                        <select id="timezone" class="form-control border-0 form-input rounded-0">
                            <option value="-08:00">(GMT -8:00) Pacific Time</option>
                            <option value="-07:00">(GMT -7:00) Mountain Time</option>
                            <option value="-06:00">(GMT -6:00) Central Time</option>
                            <option value="-05:00">(GMT -5:00) Eastern Time</option>
                            <option value="-10:00">(GMT -10:00) Hawaii</option>
                            <option value="-09:00">(GMT -9:00) Alaska</option>
                        </select>
                        <div class="divider"></div>
                        <label class="form-header">LinkedIn URL</label>
                        <input id="location" class="form-control border rounded-0 form-input" value="@Model.UserProfile.LinkedInUrl" placeholder="LinkedIn Url">
                    </div>
                </form>
            </div>
        </div>
        <button class="btn border-0 rounded-0 p-3" style="background-color:#004643; color:white" onclick="SaveProfile()">Save Changes</button>
    </div>
</div>