@model StreamWork.ViewModels.TutorDashboardViewModel

@{Layout = "_LayoutNoNavbar";}
@{ViewData["Title"] = "TutorDashboard";}
<script src="~/js/TutorJS/TutorDashboard.js" asp-append-version="true"></script>
<script src="~/js/EditProfile.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/css/Tutor/TutorDashboard.css" asp-append-version="true" />

<div class="container-fluid mr-0 containerFluid">
    <div class="row">
        <nav class="navbar navbar-expand-lg navBar" style="background-color:white">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="navItem nav-link pl-3 pr-3" href="#">Tutor</a>
                    </li>
                    <li class="nav-item active">
                        <a class="navItem nav-link pl-3 pr-3" href="#">Browse</a>
                    </li>
                    <li class="nav-item active">
                        <a class="navItem nav-link pl-3 pr-3" href="#">About</a>
                    </li>
                </ul>
                <div class="btn-group navbarDropDown">
                    <input class="navBarProfilePicture" type="image" data-toggle="dropdown" src=@Model.UserProfile.ProfilePicture />
                    <button type="button" class="btn btn-info dropdown-toggle navbarDropDownButton" data-toggle="dropdown"></button>
                    <div class="dropdown-menu" style="font-size:12px; min-width:0px !important">
                        <a class="dropdown-item" onclick="Dashboard('@Model.UserProfile.ProfileType')">Dashboard</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" id="Settings" href="/Tutor/TutorSettings">Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" onclick="Logout()">Logout</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="container-fluid pt-4 containerFluid" style="max-width:1800px; width:100%">
        <div class="card">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 order-lg-1 order-md-2 order-sm-2 order-2 pr-2">
                    <div class="row">
                        <div class="p-4 mb-2 ml-3">
                            <input align="left" class="rounded" type="image" src="@Model.UserProfile.ProfilePicture" style="width:80px;" />
                            <h5 class="d-inline-block mb-0" style="padding-left:20px; padding-top:10px; font-family:'Roboto Slab', serif; color: #707070;">@Model.UserProfile.Name.Replace('|', ' ')</h5>
                            <p class="pt-0 mt-0 mb-2" style="padding-left:100px; font-family:'Roboto Slab', serif; font-size:12px; color: #9F9F9F">Occupation / Major</p>
                            <p class="mb-0"style="padding-left:95px; font-family:'Roboto Slab', serif; font-size:8px; color: #9F9F9F"><span><img class="mb-1 mr-1" src="~/images/TutorAssets/TutorDashboard/TutorSince.png" /></span>Tutor since Jun, 2020</p>
                            <p style="padding-left:95px; font-family:'Roboto Slab', serif; font-size:8px; color: #9F9F9F"><span><img class="mb-1 mr-1" src="~/images/TutorAssets/TutorDashboard/Location.png" /></span>State</p>
                        </div>
                        <div class="ml-auto mr-5">
                            <button class="streamWorkPrimary mr-2" style="font-size:10px; height:35px; margin-top:30px" onclick="OpenModal()">Edit Profile</button>
                            <button class="streamWorkSecondary" style="font-size:10px; height:35px; margin-top:30px">View Profile</button>
                        </div>
                    </div>
                    <div class="pl-4 mb-4">
                        <div class="d-inline-block mr-2">
                            <div class="card pr-2" style="background-color:#004643; color:white">
                                <h6 class="m-0 pt-2 pb-2" style="font-size:9px; word-spacing:8px"><span style="background-color:#003936; font-size:14px" class="p-2 rounded">@Model.NumberOfStreams</span> Streams</h6>
                            </div>
                        </div>
                        <div class="d-inline-block mr-2">
                            <div class="card pr-2" style="background-color:#FFC627; color:white">
                                <h6 class="m-0 pt-2 pb-2" style="font-size:9px; word-spacing:8px"><span style="background-color:#E6B62F; font-size:14px" class="p-2 rounded">@Model.NumberOfFollowers</span> Followers</h6>
                            </div>
                        </div>
                        <div class="d-inline-block mr-2">
                            <div class="card pr-2" style="background-color:#7266BA; color:white">
                                <h6 class="m-0 pt-2 pb-2" style="font-size:9px; word-spacing:8px"><span style="background-color:#5C50A7; font-size:14px" class="p-2 rounded">@{Random rand = new Random(1247635134); int mult = rand.Next(10, 16); int views = Model.NumberOfViews * mult + rand.Next(mult);}@views</span> Views</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 order-lg-2 order-md-1 order-sm-1 order-1">
                    <img src="~/images/TutorAssets/TutorDashboard/PlaceHolderBanner.png" style="width:100%; height:100%" />
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid pt-4" style="max-width:1800px">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" style="font-family:'Roboto Slab', serif" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true" onclick="SliderProfile()">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="font-family:'Roboto Slab', serif" id="schedule-tab" data-toggle="tab" href="#schedule" role="tab" aria-controls="schedule" aria-selected="false" onclick="SliderSchedule()">Schedule</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="font-family:'Roboto Slab', serif" id="stream-tab" data-toggle="tab" href="#stream" role="tab" aria-controls="stream" aria-selected="false" onclick="SliderStream()">Streams</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="font-family:'Roboto Slab', serif" id="comment-tab" data-toggle="tab" href="#comment" role="tab" aria-controls="comment" aria-selected="false" onclick="SliderComment()">Comments</a>
            </li>
        </ul>
        <div class="slider">
            <div id="sliderObject" class="sliderObject"></div>
        </div>
        <div class="tab-content">
            <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="container-fluid pt-4">
                    <div class="row">
                        <div class="col-lg-8 col-md-12 col-sm-12 col-12 p-2">
                            <div class="card">
                                <div class="card-title p-3" style="font-family:'Roboto Slab', serif; color:#9F9F9F; font-size:18px">Basic Information</div>
                                <form class="pl-4 pr-4 pb-4">
                                    <div class="form-row" id="formRowSection">
                                        <div class="form-group col-lg-3">
                                            <label class="formHeaders">University</label>
                                            <div class="card rounded-0">
                                                <div class="card-body">
                                                    <input type="image" src="~/images/TutorAssets/TutorDashboard/DefaultUniversity.png" class="form-control rounded-0;" style="width:100px; display:block; margin-left:auto; margin-right:auto" placeholder="Title of section one!">
                                                </div>
                                            </div>
                                            <label class="formHeaders pt-3">Year/Class</label>
                                            <select class="form-control border formInput rounded-0">
                                                <option>-Select-Year/Class-</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-lg-9 pl-3">
                                            <label class="formHeaders">Section 1 Title</label>
                                            <input class="form-control border rounded-0 formInput" placeholder="Title of section one!">
                                            <label class="formHeaders pt-3">Description</label>
                                            <textarea class="form-control border rounded-0 formTextArea" placeholder="Tell us what you're studying, concentrations, passions, and other extra curricular activities here!"></textarea>
                                        </div>
                                        <div class="divider"></div>
                                        <div class="form-group col-lg-12">
                                            <label class="formHeaders">Section 2 Title</label>
                                            <input class="form-control border rounded-0 formInput" placeholder="Title of section two!">
                                            <label class="formHeaders pt-3">Description</label>
                                            <textarea class="form-control border rounded-0 formTextArea" placeholder="Tell us what you're studying, concentrations, passions, and other extra curricular activities here!"></textarea>
                                        </div>
                                    </div>
                                    <a style="cursor:pointer; color:#004643" onclick="AddSection(event)"> + Add Section</a>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 col-12 p-2">
                            <div class="card">
                                <div class="card-title p-3" style="font-family:'Roboto Slab', serif; color:#9F9F9F; font-size:18px">Academic Experience</div>
                                <form class="pl-4 pr-4 pb-4">
                                    <div class="form-row" id="formRowTopic">
                                        <div class="form-group col-lg-12 border p-2">
                                            <label class="formHeaders">Topic</label>
                                            <select class="form-control border formInput rounded-0">
                                                <option>-Select-Topic-</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                            <label class="formHeaders pt-3">List Of Subject</label>
                                            <textarea class="form-control border rounded-0 formTextArea" placeholder="Enter list of topics here!"></textarea>
                                        </div>
                                    </div>
                                    <a style="cursor:pointer; color:#004643" onclick="AddTopic(event)"> + Add Topic</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="schedule" role="tabpanel" aria-labelledby="schedule-tab">Schedule</div>
            <div class="tab-pane active" id="stream" role="tabpanel" aria-labelledby="stream-tab">
                <div class="container-fluid pt-4">
                    <div class="row">
                        <div class="col-12">
                            <form class="p-2 border" onsubmit="return searchArchives();" style="background-color: white; border-radius: 20px;">
                                <input id="searchQuery" class="form-control form-control-lg" type="search" placeholder="🔎 Search Past Streams" style="border: none;">
                            </form>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        @if (Model.UserArchivedStreams.Count != 0)
                        {
                            @foreach (var videoInfo in Model.UserArchivedStreams)
                            {
                                <div id="videoInfo-@videoInfo.Id" class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="card mt-3 border-0" style="border-bottom-left-radius:20px; border-bottom-right-radius:20px; border-top-left-radius:20px; border-top-right-radius:20px;">
                                        <div class="card-title">
                                            <a href="../StreamViews/StreamPlaybackPage?streamId=@videoInfo.StreamID"><img id="streamThumbnail-@videoInfo.Id" style="width:100%; height:100%; border-top-left-radius:20px; border-top-right-radius:20px;" src=@videoInfo.StreamThumbnail></a>
                                        </div>
                                        <div class="card-body pt-0 pb-1">
                                            <h5 id="streamTitle-@videoInfo.Id" class="text-truncate formHeaders">@videoInfo.StreamTitle</h5>
                                            <p class="text-truncate formHeaders" style="font-size:10px">@Model.UserProfile.Name.Replace('|', ' ')</p>
                                        </div>
                                        <div class="card-footer" style="background-color:orange; border-bottom-left-radius:20px; border-bottom-right-radius:20px;"></div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
               
            </div>
            <div class="tab-pane" id="comment" role="tabpanel" aria-labelledby="comment-tab">Comment</div>
        </div>
    </div>
</div>

<div class="wrapper">
    <nav id="sidebar">
        <img class="logoSize" onclick="window.location.href ='/Home/Index" src="~/images/WhiteStreamWork.png" />
        <ul class="p-0">
            <li class="navList" onclick="window.location.href ='/Tutor/TutorStream'"><span><img class="pb-1" src="~/images/TutorAssets/TutorDashboard/StartStream.png" /></span>Start Stream</li>
            <li class="navList" onclick="window.location.href ='/Tutor/HowToStream'"><span><img class="pb-1" src="~/images/TutorAssets/TutorDashboard/HowToStream.png" /></span>How To Stream</li>
            <li class="navList" onclick="window.location.href ='/Tutor/TutorWatch'"><span><img class="pb-1" src="~/images/TutorAssets/TutorDashboard/WatchStream.png" /></span>Watch Streams</li>
            <li class="navList"><span><img class="pb-1" src="~/images/TutorAssets/TutorDashboard/FollowingList.png" /></span>Following List</li>
            <li class="navList"><span><img class="pb-1" src="~/images/TutorAssets/TutorDashboard/FollowerList.png" /></span>Follower List</li>
        </ul>
    </nav>
</div>

<div class="wrapper">
    <nav id="sidebarTablet">
        <img class="logoTabletSize" onclick="window.location.href ='/Home/Index" src="~/images/streamWorkPencilWhite.png" />
        <ul class="p-0">
            <li class="navListTablet" onclick="window.location.href ='/Tutor/TutorStream'"><img src="~/images/TutorAssets/TutorDashboard/StartStream2x.png" /></li>
            <li class="navListTablet" onclick="window.location.href ='/Tutor/HowToStream'"><img class="pb-1" src="~/images/TutorAssets/TutorDashboard/HowToStream2x.png" /></li>
            <li class="navListTablet" onclick="window.location.href ='/Tutor/TutorWatch'"><img class="pb-1" src="~/images/TutorAssets/TutorDashboard/WatchStream2x.png" /></li>
            <li class="navListTablet"><img class="pb-1" src="~/images/TutorAssets/TutorDashboard/FollowingList2x.png" /></li>
            <li class="navListTablet"><img class="pb-1" src="~/images/TutorAssets/TutorDashboard/FollowerList2x.png" /></li>
        </ul>
    </nav>
</div>

<div id="profileInformationModal" class="modal">
    <div class="modal-content">
        <div class="close ml-auto" onclick="CloseModal()">&times;</div>
        <h5 style="padding-left:20px; padding-top:10px; font-family:'Roboto Slab', serif; font-size:16px; color: #707070;">Profile Information</h5>
        <div class="slider">
            <div class="sliderObject" style="width:155px"></div>
        </div>
        <div class="row p-3">
            <div class="col-lg-3 col-md-3 col-sm-3 col-12">
                <label class="formHeaders d-block pl-3">Profile Picture</label>
                <input id="previewProfilePicture" class="rounded pl-0 pb-3 d-block ml-auto mr-auto" type="image" src="@Model.UserProfile.ProfilePicture" style="width:120px" />
                <div class="d-block upload-uploadbtn-wrapper">
                    <button class="btn streamWorkPrimary  d-block ml-auto mr-auto" style="font-size:10px; width:125px">Upload a picture</button>
                    <input id="uploadProfilePicture" style="cursor:pointer" type='file' onchange="readURL(this,'ProfilePicture')" />
                </div>
                <button class="btn streamWorkSecondary d-block ml-auto mr-auto mt-1" style="font-size:10px; width:125px" onclick="RemoveProfilePicture()s">Remove Picture</button>
                <p class="text-center mt-3" style="font-size:8px">Upload must be either in png or jpg and must be less than 1 MB</p>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-12">
                <form>
                    <div class="form-group p-3">
                        <div class="form-row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label class="formHeaders">First Name</label>
                                <input class="form-control border rounded-0 formInput" value="@Model.UserProfile.Name.Split('|')[0]" placeholder="First Name">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 pt-2 pt-lg-0 pt-md-0 pt-sm-0">
                                <label class="formHeaders">Last Name</label>
                                <input class="form-control border rounded-0 formInput" value="@Model.UserProfile.Name.Split('|')[1]" placeholder="Last Name">
                            </div>
                        </div>
                        <label class="formHeaders pt-3">Occupation / Major</label>
                        <input class="form-control border rounded-0 formInput" value="@Model.UserProfile.ProfileCaption" placeholder="Occupation / Major">
                        <div class="form-row pt-3">
                            <label class="formHeaders pl-1">Location</label>
                            <select class="form-control border formInput rounded-0">
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District Of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                            </select>
                        </div>
                        <div class="divider"></div>
                        <label class="formHeaders">Timezone</label>
                        <select class="form-control border formInput rounded-0">
                            <option value="-08:00">(GMT -8:00) Pacific Time</option>
                            <option value="-07:00">(GMT -7:00) Mountain Time</option>
                            <option value="-06:00">(GMT -6:00) Central Time</option>
                            <option value="-05:00">(GMT -5:00) Eastern Time</option>
                            <option value="-10:00">(GMT -10:00) Hawaii</option>
                            <option value="-09:00">(GMT -9:00) Alaska</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <button class="btn border-0 rounded-0 p-3" style="background-color:#004643; color:white">Save Changes</button>
    </div>
</div>