@{Layout = "_LayoutChat";}
@{ViewData["Title"] = "StreamWorkChat";}
@model StreamWork.ViewModels.ChatViewModel

<script>
    JoinChatRoom('@Model.ChatId', '@Model.UserProfile.Id')
</script>

<section>
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-lg-12">
                <div class="card fixed-top" style="border-radius:0px">
                    <div class="card-tite m-3 ml-5" style="font-family:'Roboto Slab', serif; font-size:20px">Chat</div>
                </div>
                <div class="card" style="border:none">
                    <div class="card-body" style="padding-top:60px; padding-bottom:120px">
                        <ul style="overflow:scroll;" id="chatField" class="list-group p-0">
                            @for (int i = 0; i < Model.Chats.Count; i++)
                            {
                            <li class='list-group-item chatList'>
                                <div class="row">
                                    <div class="col-12">
                                        <input type="image" class="chatProfilePicture" src=@Model.Chats[i].ProfilePicture />
                                        @if (Model.UserProfile.Id == Model.Chats[i].UserId)
                                        {
                                            <h5 class="text-truncate mb-0 chatName">@Model.Chats[i].Name.Replace('|', ' ') (you) <span class="chatDate">@Model.Chats[i].Date.ToShortTimeString()</span></h5>
                                        }
                                        else
                                        {
                                            <h5 class="text-truncate mb-0 chatName">@Model.Chats[i].Name.Replace('|', ' ') </h5>
                                        }
                                        <p id="chat-@i" class="text-truncate mt-2 chatMessage">@Model.Chats[i].Message</p>
                                    </div>
                                </div>
                            </li>
                            }
                        </ul>
                        <script>Alert('@Model.Chats.Count')</script>
                    </div>
                </div>
                <div class="card" style="border:none">
                    <div class="card-footer fixed-bottom p-0">
                        <div id="questionBox">
                            <div class="card" style=" background-color:whitesmoke; border:none; height:100%">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-11 col-md-10 col-sm-12 col-12">
                                            <div>
                                                <p><span id="math-field" class="form-control" style="height:50px; border:none;"></span></p>
                                                <p style="display:none">LaTeX of what you typed: <span id="latex"></span></p>
                                                <script>var mathFieldSpan = document.getElementById('math-field')
                                                    var latexSpan = document.getElementById('latex');
                                                    var MQ = MathQuill.getInterface(2);
                                                    var mathField = MQ.MathField(mathFieldSpan, {
                                                        spaceBehavesLikeTab: false,
                                                        autoCommands: 'pi theta sqrt sum integral delta gamma infinity isin pm',
                                                        handlers: {
                                                            edit: function () {
                                                                latexSpan.textContent = mathField.latex();
                                                            }
                                                        }
                                                    });</script>
                                            </div>
                                        </div>
                                        <div class="col-lg-1 col-md-2 col-sm-12 col-12">
                                            <button type="button" id="sendQuestionButton" class="streamWorkPrimary" style="" onclick="SendMessageToChatRoom('@Model.ChatId','@Model.UserProfile.Id','@Model.UserProfile.Name', '@Model.UserProfile.ProfilePicture')">Send </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--
    <div class="row" style="position:fixed; height:100%; width:103%; overflow:scroll">
    <div class="col-12">
        <div class="card" style="border-bottom-left-radius:0px; border-bottom-right-radius:0px; width:100%; height:100%;border:none; background-color:whitesmoke">
            <div class="card-title m-3" style="font-family:'Roboto Slab', serif; font-size:22px;">Chat</div>
            <div class="card-body" style="max-height:90%; overflow:scroll">
                <div class="row">
                    <div id="chat" style="width:100%">
                        <div class="col-12">

                        </div>
                    </div>
                </div>
            </div>
            
            </div>
            <!--

              <section>
                <div class="container">
                    <div class="row text-center" style="font-size:50px;color:black; cursor:pointer">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-4">
                            <div onclick="WriteCommmand('+')">&#43;</div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-4 col-4">
                            <div onclick="WriteCommmand('-')">&#8722;</div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-4 col-4">
                            <div onclick="WriteCommmand('*')">&#215;</div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-4 col-4">
                            <div onclick="WriteCommmand('\\fraction')">&#247;</div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-4 col-4">
                            <div onclick="WriteCommmand('=')">&#61;</div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-4 col-4">
                            <div onclick="WriteCommmand('\\pm')">&#177;</div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-4 col-4">
                            <div onclick="WriteCommmand('\\sqrt')">&#8730;</div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-4 col-4">
                            <div onclick="WriteCommmand('\\infinity')">&#8734;</div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-4 col-4">
                            <div onclick="WriteExpression('\\\int_{}^{}')">&#8747;</div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-4 col-4">
                            <div onclick="WriteCommmand('\\summation')">&#8721;</div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-4 col-4">
                            <div onclick="WriteCommmand('\\pi')">&#960;</div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-4 col-4">
                            <div onclick="WriteCommmand('\\neq')">&#8800;</div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-4 col-4">
                            <div onclick="WriteExpression('\\\lim_{x \\to 2}')">lim</div>
                        </div>
                    </div>
                </div>
            </section>
            -->
        </div>
    </div>
</div>

