@{Layout = "_LayoutChat";}
@{ViewData["Title"] = "StreamWorkChat";}
@model StreamWork.ViewModels.ChatViewModel

<script>
    JoinChatRoom('@Model.ChatId', '@Model.UserProfile.Username')
</script>

<section>
    <div class="container-fluid  p-0">
        <div class="row">
            <div class="col-lg-12">
                <div class="card fixed-top" style="border-radius:0px">
                    <div class="row">
                        <div class="col-3">
                            <div class="card-tite mt-3 mb-3 ml-3" style="font-family:'Roboto Slab', serif; font-size:20px">Chat</div>
                        </div>
                        <div class="inline-block m-2 mr-4 ml-auto">
                            <img src="~/images/ChatAssets/ViewerList.png" style="cursor:pointer" />
                            <img src="~/images/ChatAssets/Settings.png" style="cursor:pointer" />
                            <img src="~/images/ChatAssets/Popout.png" style="cursor:pointer" onclick="PopoutChat('@Model.ChatId')" />
                        </div>

                    </div>
                </div>
                <div class="card" style="border:none">
                    <div class="card-body pl-0 pr-0" style="padding-top:60px; padding-bottom:85px">
                        <ul style="overflow-x:hidden" id="chatField" class="list-group p-0">
                            @for (int i = 0; i < Model.Chats.Count; i++)
                            {
                                <li class='list-group-item chatList border-top-0 border-left-0 border-right-0 border-bottom' >
                                    <div class="row">
                                        <div class="col-12">
                                            <input align="left" type="image" class="chatProfilePicture rounded" src=@Model.Chats[i].ProfilePicture />
                                            @if (Model.ChatId == Model.Chats[i].Username)
                                            {
                                                <h5 class="text-truncate mb-0 chatName" style='color:@Model.Chats[i].ChatColor'>@Model.Chats[i].Name.Replace('|', ' ')<span><img id="tutortip-@i" class="pl-1 pr-1" src="/images/ChatAssets/Tutor.png" data-toggle="tooltip" data-placement="top" title="StreamTutor" /></span><span class='chatDate'>@Model.Chats[i].Date.ToShortTimeString()</span></h5>
                                                <script>$('#tutortip-@i').tooltip()</script>
                                            }
                                            else if(Model.UserProfile.Username == Model.Chats[i].Username)
                                            {
                                                <h5 class="mb-0 chatName" style="color:@Model.Chats[i].ChatColor">@Model.Chats[i].Name.Replace('|', ' ') (you) <span class="chatDate">@Model.Chats[i].Date.ToShortTimeString()</span></h5>
                                            }
                                            else
                                            {
                                                <h5 class="text-truncate mb-0 chatName" style="color:@Model.Chats[i].ChatColor">@Model.Chats[i].Name.Replace('|', ' ') <span class="chatDate">@Model.Chats[i].Date.ToShortTimeString()</span></h5>
                                            }
                                            <p id="chat-@i" class="chatMessage">@Model.Chats[i].Message</p>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="card" style="border:none">
                    <div class="card-footer fixed-bottom p-0">
                        <div id="questionBox">
                            <div class="card border-left" style=" background-color:whitesmoke; border:none; height:100%">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-11 col-md-10 col-sm-10 col-9">
                                            <div>
                                               <textarea id="chatInput" class="form-control" style="height:50px" placeholder="Send question or message..."></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-1 col-md-2 col-sm-2 col-3">
                                            <button type="button" id="sendQuestionButton" class="streamWorkPrimary" style="font-size:12px; height:100%; display:block; margin-left:auto; margin-right:auto" onclick="SendMessageToChatRoom('@Model.ChatId','@Model.UserProfile.Username','@Model.UserProfile.Name', '@Model.UserProfile.ProfilePicture', '@Model.ChatColor')">Send</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


