@{Layout = "_LayoutChat";}
@{ViewData["Title"] = "StreamWorkChat";}
@model StreamWork.ViewModels.ChatViewModel

<script>
    JoinChatRoom('@Model.ChatId')
</script>

<section>
    <div class="container-fluid p-0">
        <div class="row" style="position:fixed; height:100%; width:103%; overflow:scroll">
            <div class="col-12 p-0">
                <div class="card" style="border-bottom-left-radius:0px; border-bottom-right-radius:0px; width:100%; height:100%;border:none; background-color:whitesmoke">
                    <div class="card-title text-center" style="font-family:'Roboto Slab', serif; font-size:22px">Chat</div>
                    <div class="card-body" style="max-height:90%; overflow:scroll">
                        <div class="row">
                            <div id="chat" style="width:100%">
                                <div class="col-12">
                                    <ul style="overflow:scroll;" id="chatField" class="list-group p-0">
                                        @for (int i = 0; i < Model.Chats.Count; i++)
                                        {
                                            <li style="background-color:transparent; border:none" class='list-group-item'><span><img class="profilePictureSetting" src="@Model.Chats[i].ProfilePicture" /></span> @Model.Chats[i].Name.Replace('|', ' '):  <span id="chat-@i">@Model.Chats[i].Message</span></li>
                                        }
                                    </ul>
                                    <script>Alert('@Model.Chats.Count')</script>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="questionBox">
                        <div class="card" style=" background-color:whitesmoke; border:none; height:100%">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div>
                                            <p><span id="math-field" class="form-control"></span></p>
                                            <p style="display:none">LaTeX of what you typed: <span id="latex"></span></p>
                                            <script>
                                                var mathFieldSpan = document.getElementById('math-field');
                                                var latexSpan = document.getElementById('latex');
                                                var MQ = MathQuill.getInterface(2);
                                                var mathField = MQ.MathField(mathFieldSpan, {
                                                    spaceBehavesLikeTab: false,
                                                    autoCommands: 'pi theta sqrt sum integral delta gamma infinity isin pm',
                                                    handlers: {
                                                        edit: function () {
                                                            latexSpan.textContent = mathField.latex();
                                                        }
                                                    }
                                                });</script>
                                        </div>
                                    </div>
                                    <button type="button" id="sendQuestionButton" class="streamWorkPrimary mt-3" style="display:block; margin-left:auto; margin-right:auto;" onclick="SendMessageToChatRoom('@Model.ChatId','@Model.UserProfile.Id','@Model.UserProfile.Name', '@Model.UserProfile.ProfilePicture')">Send Question</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section>
                        <div class="container">
                            <div class="row text-center" style="font-size:50px;color:black; cursor:pointer">
                                <div class="col-lg-2 col-md-2 col-sm-4 col-4">
                                    <div onclick="WriteCommmand('+')">&#43;</div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-4 col-4">
                                    <div onclick="WriteCommmand('-')">&#8722;</div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-4 col-4">
                                    <div onclick="WriteCommmand('*')">&#215;</div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-4 col-4">
                                    <div onclick="WriteCommmand('\\fraction')">&#247;</div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-4 col-4">
                                    <div onclick="WriteCommmand('=')">&#61;</div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-4 col-4">
                                    <div onclick="WriteCommmand('\\pm')">&#177;</div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-4 col-4">
                                    <div onclick="WriteCommmand('\\sqrt')">&#8730;</div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-4 col-4">
                                    <div onclick="WriteCommmand('\\infinity')">&#8734;</div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-4 col-4">
                                    <div onclick="WriteExpression('\\\int_{}^{}')">&#8747;</div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-4 col-4">
                                    <div onclick="WriteCommmand('\\summation')">&#8721;</div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-4 col-4">
                                    <div onclick="WriteCommmand('\\pi')">&#960;</div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-4 col-4">
                                    <div onclick="WriteCommmand('\\neq')">&#8800;</div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            
        </div>
    </div>
    
</section>