@model StreamWork.ViewModels.StreamPageViewModel
@{ViewData["Title"] = "StreamPlaybackPage";}

<script src="~/js/SignUpLogin.js"></script>
<script src="~/js/EditProfile.js"></script>
<link rel="stylesheet" href="~/css/Streams.css"/>

@if (!Model.IsSubscribed())
{
    <script>window.location.href = '/Home/Subscribe';</script>
}

<nav class="navbar navbar-expand-lg navbar-light text-center" style="background-color:#008080;">
    <img src="~/images/streamworkPencilWhite.png" height="70" onclick="window.location.href='/'" onmouseover="" style="cursor: pointer;" />
    <button class="navbar-toggler" type="button" data-toggle="collapse" id="nav" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ml-md-0 ml-lg-5 mt-1" style="font-size:15px; ">
                <a class="nav-link underline" href="/Home/BecomeTutor" style="color:white;"><b>Become a StreamTutor</b></a>
            </li>
            <li class="nav-item ml-md-0 ml-lg-5 mt-1" style="font-size:15px;">
                <a class="nav-link underline" href="/Home/About" style="color:white;"><b>About</b></a>
            </li>
            <li class="nav-item ml-md-0 ml-lg-5 mt-1" style="font-size:15px;">
                <a class="nav-link underline" href="/Home/HowToStream" style="color:white;"><b>How to Stream</b></a>
            </li>
        </ul>

        <div class="btn-group mt-2" style="margin-left:65px">
            <img src=@Model.profile.userProfile.ProfilePicture style="width:75px; height:95px; border-radius:50%" />
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #008080; border:none; margin-right:35px"></button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#" id="EditProfile" onclick="Dashboard('@Model.profile.userProfile.ProfileType')">Dashboard</a>
                <div class="dropdown-divider"></div>
                @if (Model.profile.userProfile.ProfileType == "tutor")
                {
                    <a class="dropdown-item" href="#" id="EditProfile" onclick="EditProfile()">Edit Profile</a>
                    <div class="dropdown-divider"></div>
                }
                @if (Model.profile.userProfile.ProfileType == "tutor")
                {
                    <a class="dropdown-item" href="#" id="Settings" onclick="window.location.href='/Tutor/TutorSettings'">Settings</a>
                }
                else
                {
                    <a class="dropdown-item" href="#" id="Settings" onclick="window.location.href='/Student/StudentSettings'">Settings</a>
                }

                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" onclick="Logout()">Logout</a>
            </div>
        </div>
        <div id="editModal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="background-color: #008080">
                    <div class="modal-header">
                        <h5 class="modal-title" style="color:white">Edit Profile</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <input align="middle" type="text" class="form-control" id="ProfileCaption" placeholder="Caption" value="@Model.profile.userProfile.ProfileCaption" />
                            <br />
                            <textarea align="middle" type="text" class="form-control" id="ProfileParagraph" placeholder="About Me" style="height:100px">@Model.profile.userProfile.ProfileParagraph</textarea>
                            <br />
                            <img id="previewProfilePic" src=@Model.profile.userProfile.ProfilePicture alt="your image" style="border-radius: 50%; width:115px; height:150px; display:block;margin-left:auto;margin-right:auto" />
                            <br />
                            <div class="upload-uploadbtn-wrapper">
                                <button class="uploadbtn">Upload a Profile Picture</button>
                                <input id="uploadProfilePic" type='file' onchange="readURL(this,'ProfilePic');" />
                            </div>

                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" style="background-color:black; color:white" class="btn" onclick="RegisterProfilePhotoAndCaption()">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 p-0">
            <div >
                <iframe src="//iframe.dacast.com/b/135034/f/@Model.urlParams[0]" width="100%" height="700px" frameborder="0" scrolling="no" allow="autoplay" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                <h2 class="text-center mt-3">@Model.urlParams[1]</h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="card text-center mt-5 border-0" style="color:white;">
        <div class="card-body" style="background-color:#006565; border-top-right-radius:5px; border-top-left-radius:5px; ">
            <img src=@Model.profile.userProfile.ProfilePicture style="width:115px; height: 150px; border-radius:50%" />
            <h1 class="card-title mt-4" style=" font-size:24px; color:lightgray"><b>@Model.profile.userProfile.Name.Replace('|', ' ')</b></h1>
            <p class="card-text" style="font-size:16px; color:white">@Model.profile.userProfile.ProfileCaption</p>
            <p class="card-text" style="font-size:14px; color:white">@Model.profile.userProfile.ProfileParagraph</p>
        </div>
        <div class="row">
            <div class="col-4 pr-0">
                <div class="card-body" style="background-color:#006565; border-bottom-left-radius:5px">
                   <h5 style="color:lightgray">Streams</h5>
                    <h4>@Model.profile.numberOfStreams</h4>
                </div>
            </div>
            <div class="col-4 p-0">
                <div class="card-body" style="background-color:#006565;border-top-left-radius:0px ">
                  <a target="_blank" rel="noopener noreferrer" href="/Home/Donate?tutor=@Model.profile.userProfile.Username">
                    <img src="~/images/donate201911.png" target="_blank" rel="noopener noreferrer" style="display:block; margin-left:auto; margin-right:auto; width:37%; height:auto" />
                </a>
                </div>
            </div>
            <div class="col-4 pl-0">
                <div class="card-body" style="background-color:#006565; border-bottom-right-radius:5px ">
                  <h5 style="color:lightgray">Total Views</h5>
                   <h4>0</h4>
                </div>
            </div>
        </div>
    </div>
</div>


<script>$(document).ready(function () {

        $("#nav").click(function () {

            $("#navbarText").slideToggle();

        });
    });</script>