@model StreamWork.ViewModels.StreamPageViewModel
@{ ViewData["Title"] = "StreamPage";}

<link rel="stylesheet" href="~/css/Streams.css" />

<div class="container-fluid" style="overflow:hidden">
    <div class="row justify-content-center border" style="background-color:whitesmoke;position:absolute; height: calc(100% - 100px); width:100%;">
        <div class="d-flex flex-column col-lg-8 col-md-12 col-sm-12 col-12 p-0" style="position: relative; overflow: scroll ">
            <iframe style=" width:100%; height:82%; min-height:500px" class="p-0" src="https://c.streamhoster.com/embed/media/WxsdDM/mAe0epZsixC/@Model.UserChannel.ChannelKey.Split('|')[0]" frameborder="0" scrolling="no" allow="autoplay" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="m-2" id="StreamInfo">
                            <h3 class="mt-1" style="color:black; font-family:'Roboto Slab', serif;">Calculus 2: Integration By Parts<span></span></h3>
                            <p class="mt-2 mb-0">Today we will be going over how to solve integrals using one of the four techniques</p>
                            <p style="font-size:12px">Tutoring Math</p>
                        </div>
                    </div>
                    <!--
                        <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                        <div class="m-2">
                            
                        </div>
                    </div>
                    -->

                </div>
                <div class="row mt-3 mb-3">
                    <div class="col-lg-4 col-md-4">
                        <input align="left" type="image" class="rounded" style="width:30px" src=@Model.TutorUserProfile.ProfilePicture />
                        <h3 style="font-family:'Roboto Slab', serif; font-size:20px; margin-left:40px">@Model.TutorUserProfile.Name.Replace('|', ' ')</h3>
                    </div>
                    <div class="inline-block m-2 ml-auto">
                        @if (Model.GenericUserProfile != null)
                        {
                            @if (Model.IsUserFollowingThisTutor == false && Model.GenericUserProfile != null && Model.GenericUserProfile.Username != Model.TutorUserProfile.Username)
                            {
                                <button id="FollowButton" type="button" style="width:100%; font-family:'Roboto Slab', serif; font-size:16px; width:100px" class="streamWorkSecondary mb-2 mr-1" onclick="FollowStreamTutor('@Model.TutorUserProfile.Id')">Follow</button>
                                <button id="UnfollowButton" type="button" style="width:100%; display:none; font-family:'Roboto Slab', serif; font-size:16px; width:100px" class="streamWorkGrey mb-2 mr-1" onclick="UnfollowStreamTutor('@Model.TutorUserProfile.Id')">Unfollow</button>
                            } 
                            else if (Model.IsUserFollowingThisTutor == true && Model.GenericUserProfile != null && Model.GenericUserProfile.ProfileType == "student")
                            {
                                <button id="FollowButton" type="button" style="width:100%; display:none;font-family:'Roboto Slab', serif; font-size:16px; width:100px" class="streamWorkSecondary mb-2 mr-1" onclick="FollowStreamTutor('@Model.TutorUserProfile.Id')">Follow</button>
                                <button id="UnfollowButton" type="button" style="width:100%; font-family:'Roboto Slab', serif; font-size:16px; width:100px" class="streamWorkGrey mb-2 mr-1" onclick="UnfollowStreamTutor('@Model.TutorUserProfile.Id')">Unfollow</button>
                            }
                        }
                        <button class="streamWorkGold mb-2 mr-1" style="font-family:'Roboto Slab', serif; cursor: pointer; font-size:16px; width:100px" onclick="window.open('https://www.streamwork.live/Home/Donate?tutor=@Model.UserChannel.Username')">Donate</button>
                        <button class="streamWorkPrimary mb-2 mr-1" style="font-family:'Roboto Slab', serif; cursor: pointer; font-size:16px; width:100px" onclick="window.open('https://www.streamwork.live/Home/ProfileView?Tutor=@Model.TutorUserProfile.Username')">Profile</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column col-lg-4 col-md-12 col-sm-12 col-12 p-0">
            <object style="height:100%; border:none" data="http://localhost:58539/chat/streamworkchat?chatId=@Model.UserChannel.Username"></object>
        </div>
    </div>
</div>

<div id="submitRecommendationModal" class="modal" tabindex="-2" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: whitesmoke;">
            <div class="modal-header">
                <h5 class="modal-title" style="color: black;">Submit a Recommendation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <textarea align="middle" class="form-control" id="submitRecommendationText" style="height:200px;" placeholder="Recommendation"></textarea>
                </form>
            </div>
            <div class="modal-footer">
                <button class="streamWorkGrey" data-dismiss="modal">Exit</button>
                @if (Model.GenericUserProfile == null)
                {
                    <button class="streamWorkPrimary" data-dismiss="modal" onclick="submitRecommendation('Anonymous', '@Model.UserChannel.Username')">Submit</button>
                }
                else
                {
                    <button class="streamWorkPrimary" data-dismiss="modal" onclick="submitRecommendation('@Model.GenericUserProfile.Username', '@Model.UserChannel.Username')">Submit</button>
                }
            </div>
        </div>
    </div>
</div>

<script>$(document).ready(function () {
        $("#nav").click(function () {
            $("#navbarText").slideToggle();
        });
    });</script>
