@model StreamWork.ViewModels.StreamPageViewModel
@{ ViewData["Title"] = "StreamPage";}

<link rel="stylesheet" href="~/css/Streams.css" />

<div class="container-fluid" style="background-color:black; height:100%">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-9 p-0">
            <iframe style="height:700px; width:100%" class="p-0" src="https://c.streamhoster.com/embed/media/WxsdDM/mAe0epZsixC/@Model.UserChannel.ChannelKey.Split('|')[0]" frameborder="0" scrolling="no" allow="autoplay" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
            <div class="row">
                <div class="col-12">
                    <div class="m-3">
                        <img class="ml-2 mb-2" src=@Model.UserChannel.ProfilePicture style="width:115px; height: 150px; cursor:pointer; border-radius:5%; float:left; margin-right:10px" onclick="window.location.href='/Home/ProfileView?tutor=@Model.UserChannel.Username'" />
                        <h2 class="mt-1 ml-2" style="color:white; font-family:'Roboto Slab', serif;">@Model.UserChannel.StreamTitle<span></span></h2>
                        <h6 class="ml-4" style="color:lightgray"><b>@Model.UserChannel.Username</b></h6>
                        @if (Model.UserProfile != null)
                        {
                            if (Model.IsUserFollowingThisTutor == false && Model.UserProfile.ProfileType == "student")
                            {
                                <button id="FollowButton" type="button" style="font-size:10px" class="btn mt-1" onclick="FollowStreamTutor('@Model.UserChannel.Id')">Follow</button>
                                <button id="UnfollowButton" type="button" style="font-size:10px; display:none" class="btn mt-1" onclick="UnfollowStreamTutor('@Model.UserChannel.Id')">Unfollow</button>
                            }
                            else if (Model.IsUserFollowingThisTutor == true && Model.UserProfile.ProfileType == "student")
                            {
                                <button id="FollowButton" type="button" style="font-size:10px;display:none" class="btn mt-1" onclick="FollowStreamTutor('@Model.UserChannel.Id')">Follow</button>
                                <button id="UnfollowButton" type="button" style="font-size:10px" class="btn mt-1" onclick="UnfollowStreamTutor('@Model.UserChannel.Id')">Unfollow</button>
                            }
                        }
                    </div>
                    </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3 p-0 m-0">
            <button class="uploadbtn mb-2 mt-2 ml-1 mr-1" style="font-family:'Roboto Slab', serif; cursor: pointer; width:100%; background-color:#FFC04C; color:black; border:none; border-radius:3px" onclick="window.location.href='/Home/Donate?tutor=@Model.UserChannel.Username'" onmouseover="">Donate</button>
            <button class="uploadbtn mb-2 ml-1 mr-1" style="font-family:'Roboto Slab', serif; cursor: pointer; width:100%; border-radius:3px" onclick="showSubmitRecommendationModal();" onmouseover="">Recommendation</button>
            <iframe class="p-0" src=@Model.ChatBox style="width:100%; height:80vh;" allowtransparency="yes" allow="autoplay" frameborder="0" marginheigh="0" marginwidth="0" scrolling="auto"></iframe>
        </div>
    </div>
</div>


<div id="submitRecommendationModal" class="modal" tabindex="-2" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: #008080;">
            <div class="modal-header">
                <h5 class="modal-title" style="color: white;">Submit a Recommendation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <textarea align="middle" class="form-control" id="submitRecommendationText" style="height:200px;"></textarea>
                </form>
            </div>
            <div class="modal-footer">
                @if (Model.UserProfile == null)
                {
                    <button type="button" style="background-color: black; color: white;" class="btn" data-dismiss="modal" onclick="submitRecommendation('Anonymous', '@Model.UserChannel.Username')">Submit</button>
                }
                else
                {
                    <button type="button" style="background-color: black; color: white;" class="btn" data-dismiss="modal" onclick="submitRecommendation('@Model.UserProfile.Username', '@Model.UserChannel.Username')">Submit</button>
                }
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function () {
    $("#nav").click(function () {
        $("#navbarText").slideToggle();
    });
});
</script>