@page "{tutor}"
@model StreamWork.Pages.Profile.Tutor
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{Layout = "Tutor/_LayoutTutor";}
@Html.AntiForgeryToken()
@{var cacheRand = new Random().Next();}

<div class="container">
    <img class="banner" id="preview-profile-banner" src="@Model.TutorUserProfile.ProfileBanner?@cacheRand" style="cursor:pointer; object-fit:cover; max-height:300px; object-position:top" />
    <div class="card border-0">
        <div class="card-body p-0 ">
            @await Html.PartialAsync("Partials/Profile/Header_View", Model)
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 order-lg-1 order-md-1 order-sm-2 order-2 pt-3">
            <p class="form-header pt-3" style="font-size:16px">Most Recent Stream</p>
            @if (Model.LatestStream != null)
            {
                <div class="card mt-3 border-0 d-block mr-auto ml-auto" style="border-bottom-left-radius:20px; border-bottom-right-radius:20px; border-top-left-radius:20px; border-top-right-radius:20px;">
                    <div class="card-title">
                        <a href="../StreamViews/StreamPlaybackPage?streamId=@Model.LatestStream.StreamID"><img asp-append-version="true" id="stream-thumbnail-@Model.LatestStream.Id" style="width:100%; height:100%; border-top-left-radius:20px; border-top-right-radius:20px;" src="@Model.LatestStream.StreamThumbnail?@cacheRand"></a>
                    </div>
                    <div class="card-body pt-0 pb-1">
                        <h5 id="stream-title-@Model.LatestStream.Id" class="text-truncate form-header">@Model.LatestStream.StreamTitle</h5>
                        <input id="stream-description-@Model.LatestStream.Id" type="hidden" value="@Model.LatestStream.StreamDescription" />
                        <p class="text-truncate form-header" style="font-size:10px">@Model.TutorUserProfile.Name.Replace('|', ' ')</p>
                    </div>
                    <div class="card-footer" style="background-color:@Model.LatestStream.StreamColor; border-bottom-left-radius:20px; border-bottom-right-radius:20px;"></div>
                </div>
            }
            <div class="card mt-3">
                <div class="card-title">
                    <p class="form-header p-3 m-0" style="font-size:18px">Social Media Links</p>
                    <i class="fa fa-linkedin-square p-3" style="font-size:48px; cursor:pointer; color:lightgray" onclick="window.open('@Model.TutorUserProfile.LinkedInUrl')"></i>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-title">
                    <p class="form-header p-3" style="font-size:18px">Academic Experience</p>
                    @await Html.PartialAsync("Partials/Profile/Topics_View", Model)
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-title">
                    <p class="form-header p-3" style="font-size:18px">Related Tutors</p>
                    @await Html.PartialAsync("Partials/Profile/RelatedTutors_View", Model)
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-8 order-lg-2 order-md-2 order-sm-1 order-1">
            <ul class="nav nav-tabs pt-3" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active form-header" id="profile-tab" data-toggle="tab" href="#profile" onclick="SliderProfile()">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link form-header" id="schedule-tab" data-toggle="tab" href="#schedule" onclick="SliderSchedule()">Schedule</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link form-header" id="stream-tab" data-toggle="tab" href="#stream" onclick="SliderStream()">Streams</a>
                </li>
                <!--
                 <li class="nav-item">
                    <a class="nav-link form-header" id="comment-tab" data-toggle="tab" href="#comment" onclick="SliderComment()">Comments</a>
                </li>
                -->
            </ul>

            <div class="slider">
                <div id="slider-object" class="slider-object"></div>
            </div>

            <div class="tab-content">
                <div class="tab-pane active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="container-fluid pl-0 pr-0 pt-3" style="width:100%">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="card">
                                    <div class="card-title p-3 mb-0">
                                        <p class="form-header d-inline-block mb-0" style="font-size:18px">Basic Information</p>
                                    </div>
                                    @await Html.PartialAsync("Partials/Profile/Sections_View", Model)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="schedule" role="tabpanel" aria-labelledby="schedule-tab">
                    <div class="container-fluid pt-3" style="width:100%">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-title p-3 mb-0 form-header" style="font-size:18px">Stream Schedule</div>
                                    @await Html.PartialAsync("Partials/Profile/Schedule_View", Model)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="stream" role="tabpanel" aria-labelledby="stream-tab">
                    <div class="container-fluid pt-2" style="width:100%">
                        <div class="row p-3">
                            <div class="col-12">
                                <form class="p-1 border rounded" style="background-color:white" onkeyup="SearchStreams(event, '@Model.TutorUserProfile.Name', '@Model.TutorUserProfile.Username', 'col-lg-6')" onsubmit="SearchStreams(event, '@Model.TutorUserProfile.Name', '@Model.TutorUserProfile.Username', 'col-lg-6')">
                                    <input id="searchQuery" class="form-control-lg" type="search" placeholder="🔎 Search Past Streams" style="border: none; font-size:12px;">
                                </form>
                                <select id="filter" name="filter" class="form-control form-control-sm rounded-0 mt-3" onchange="SearchStreams(event, '@Model.TutorUserProfile.Name', '@Model.TutorUserProfile.Username')" style="width:175px">
                                    <option value="">Filter</option>
                                    <option value="Mathematics">Mathematics</option>
                                    <option value="Science">Science</option>
                                    <option value="Engineering">Engineering</option>
                                    <option value="Business">Business</option>
                                    <option value="Law">Law</option>
                                    <option value="Art">Art</option>
                                    <option value="Humanities">Humanities</option>
                                    <option value="Other">Others</option>
                                </select>
                            </div>
                        </div>
                        <div class="divider"></div>
                        @await Html.PartialAsync("Partials/Profile/Stream_View", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("Partials/Modals/ProfileModal")